[2020-03-02 15:31] arvyy commented on #482
Thanks for fast response. Unfortunately this doesn't seem to help (testing this on the angular-app-starterkit project)

[2020-03-02 15:32] travist commented on #481
Pagination is currently not supported for DataGrid elements. This would need to be a new feature.

[2020-03-02 15:38] travist commented on #480
I am looking at the core code now, and it looks like we are not exporting the ```Builders``` construct @ https://github.com/formio/formio.js/blob/master/src/FormBuilder.js#L2.  We need to make a change to export this.  Then you would be able to do the following.

[code]

We will add a task for us to export this so this can be done, but right now, we cannot extend the PDF builder from an applicatio

[2020-03-02 15:53] ullas1989 commented on #481
@travist
Thanks for the answer.

What is the alternative to grid element for pagination? Can I use formio-grid inside a custom component and pass modified schema/data to it inside custom component?

`<formio-grid src="https://examples.form.io"><formio-grid>`

[2020-03-02 21:46] travist commented on #481
Maybe, but this would require a custom component to implement a "grid" control inside a component.

[2020-03-03 08:11] sourav0491 commented on #480
When can I expect this change to be published?

[2020-03-03 15:19] travist commented on #480
I just looked and it does seem like the Builders construct is exported. Give the above a try and let me know if it works for you.

[2020-03-03 20:38] bandman0226 commented on #418
I too am seeing the same thing.
formiojs: 4.8.1
angular-formio: 4.5.1

I would be interested in seeing more on this workaround that @beltschatsar has in place.

[2020-03-03 22:48] ullas1989 commented on #479
@travist
I tried this solution but there is no setPage() function available in either FormioComponent or FormioBaseComponent. Am I missing something?

[2020-03-04 14:46] travist commented on #479
You can reference the "root" from any component to get access to the wizard object. So it could be the following.

[code]

[2020-03-04 17:55] gismomtl commented on #474
I was able to reproduce the issue...
check my 2 formio.js cases:
https://github.com/formio/formio.js/issues/2496
and
https://github.com/formio/formio.js/issues/2497

[2020-03-05 15:28] sbatabyal commented on #480
Hi @travist. We updated to the latest version (4.6.1) of angular-formio, and tried the snippet that you shared. But looks like "Builders" is still not exposed under Formio:

![image](https://user-images.githubusercontent.com/20504422/75996547-0248ac80-5f24-11ea-9aa9-d2b8d68ece87.png)

[2020-03-05 19:39] ullas1989 opened #485 "[Custom Components] Angular 9 with custom components giving error"
I am trying to use custom component feature with angular 9 and it is giving me below error.

ERROR in Tried to overwrite C:/.../node_modules/angular-formio/auth/auth.config.d.ts.__ivy_ngcc_bak with an ngcc back up file, which is disallowed.

**Updated:**
Once I turned off ivy and aot, things works much better.

[2020-03-06 12:58] #481 closed

[2020-03-06 15:15] travist commented on #480
This is probably that they are not exposed with the type definitions. What happens when you do the following?

[code]

[2020-03-06 17:32] cuneytdalan commented on #478
Hi @jjfellers can you please share more details about your custom component? How did you add your custom component as a property in your submission data of the form?

[2020-03-07 16:25] elibus commented on #341
@travist
We are experiencing a similar issue. The code below does not set the readOnly property of the formioComponent to `this.interaction.isReadOnly`.
It always takes the default value.
If we trigger a change in the submission, ngOnChanges is executed again and the value is set and form correctly rendered.

`
ngOnChanges(changes: SimpleChanges) {
  if (changes.interaction) {
    this.formioCompo

[2020-03-07 16:33] elibus commented on #399
@merobal @wag110894 is this closed?

[2020-03-09 15:13] travist commented on #341
I believe it should be ```changes.instance``` instead of ```changes.interaction```.

Also, I don't believe we are watching this "readOnly" flag and setting the renderer there. Try this instead.

[code]

[2020-03-09 20:11] elibus commented on #341
Hi @travist ,
someone in the team managed to solve it.
Thanks anyway.

[2020-03-09 21:37] #479 closed

[2020-03-10 07:44] Schwofel opened #486 "[Custom Components] Could not resolve single class custom component in angular library"
Hello everyone,
i have a problem. I want to package my single class custom components into an angular library.
When i import the single class custom components js files and i try to build my library i get an error message.

Could not resolve './components/CustomLayout.js

My import looks like this:
import './components/CustomLayout.js';

Can you help me? What am i doing wrong here?

[2020-03-10 19:26] ullas1989 opened #488 "Browser support for IE"
"angular-formio": "^4.6.4",
"@angular/cli": "~9.0.5"

I am trying to open my forms using angular formio renderer in IE 11.

There are multiple scripts added inside custom logic and data section of the formio components that are not working with IE 11 at all. These works fine in chrome though. I am getting below error in IE.

Differential build is disabled and code is being compiled to es5.

An err

[2020-03-11 08:13] merobal commented on #465
@travist do you have any update on this?

[2020-03-11 08:17] merobal commented on #486
That example might be outdated, I only tested the Angular Components implementation

[2020-03-11 08:18] merobal commented on #485
Angular 9 is not yet supported at the library level

[2020-03-11 11:02] sourav0491 commented on #480
Tried the same as mentioned above. Still not able to access the builders.The screenshot of error stack is given below -
![image](https://user-images.githubusercontent.com/21309001/76410129-72887f80-63b5-11ea-9900-528740455a76.png)

The code snippet is also given below -
![image](https://user-images.githubusercontent.com/21309001/76410407-e034ab80-63b5-11ea-841f-215aaafc6524.png)

[2020-03-11 14:06] jhen1422 commented on #465
@merobal Could you try using the latest version of formio.js to see if this resolves the issue?

[2020-03-11 14:11] bh-adrienne opened #489 "[BUG] angular-formio 4.6.7 fails to compile with typescript type error"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x ] Local deployment
    - Version:
- Formio.js version: 4.9.0-rc.7
- Frontend framework: Angular v 7.2.16
- Browser:
- Browser version:

## Steps to Reproduce
1.  Upgraded package.json in my Angular 7 project to latest angular-formio 4.6.7 with formio.js 4.9.0-rc.7 using 'npm install'
2. Tried to run 'ng

[2020-03-11 14:29] bh-adrienne commented on #489
This looks like it might be a typescript version problem similar to what is described here:
https://github.com/storybookjs/storybook/issues/9463

Should angular-formio dependencies for typescript version be documented or put in package.json?

[2020-03-11 16:40] ullas1989 commented on #488
@travist
It looks like we cannot use modern javascript methods (e.g. forEach, find) for scripts written inside formio custom components (e.g. data, conditional). Can you please confirm if that is true or way to resolve this?

[2020-03-11 20:50] travist commented on #480
We will add this to our backlog to to get added to the exports.

[2020-03-11 20:52] travist commented on #488
Please provide a JSFiddle that fails in IE and we will take a look.

[2020-03-11 20:55] travist commented on #489
Sure... if you make a pull request, we will look at accepting it.

[2020-03-11 21:08] merobal commented on #465
Still, the same issue using `"angular-formio": "4.6.7"`
I updated the version at the demo site, you can try the repro by following the "Steps to Reproduce" mentioned above...

https://angular-formio-custom-demo.netlify.com/

[2020-03-12 08:07] dmenne commented on #465
As suggested by @merobal, we had to revert to 4.3.3 to get around this. Please have a look.

[2020-03-12 15:27] dmenne opened #491 "fieldOptions do not appear in @Input fields"
I have a Custom Component which is a replacement for the much too small radio buttons on tablets using [bootstrap buttons](https://ng-bootstrap.github.io/#/components/buttons/examples)

[code]
Rendering of the components and the display of the edit form works fine. However, the only @Input field that are accessible in
[code]
is `@Input()  type: string;` and `disabled`. I might have missed a rare o

[2020-03-12 19:36] ullas1989 commented on #465
Getting same issue with angular-formio renderer for existing forms. Any form with data grid and components added into it is giving error: `Infinite loop detected undefined 500`

[2020-03-12 20:50] travist commented on #465
We are aware of this as a possible high priority bug. We have our planning sessions Monday and I should know more about when we will see resolution to this after that point.

[2020-03-12 22:16] dmenne commented on #465
With 4.3.3 I have not seen the infinite recursion, but it nevertheless is suspicious that the component is created twice on every call redraw. Might be the source of the issue.

[2020-03-13 11:40] merobal commented on #491
Fixed by 4.4.3, so you can use this once the other infinite loop issue is fixed.
Meantime at your custom editForm try `customOptions.something` as the key and you can have Input `something`.

[2020-03-13 11:40] #491 closed

[2020-03-13 15:06] ullas1989 commented on #488
Never mind, I found out that I can use lodash instance for writing scripts in form components instead of using modern browser javascript methods. It works much better. Please excuse my ignorance.

[2020-03-13 15:06] #488 closed

[2020-03-16 10:49] gismomtl commented on #474
latest formio.js versions 4.9.0-rc.8 and up solved the issue

[2020-03-16 10:49] #474 closed

[2020-03-16 11:27] artel-ksikora opened #493 "Builder Language Change"
Good time of day.
Is the way to change change the language for formbuilder element, such as: "Label", "Label Position" ect.
![Annotation 2020-03-16 132632](https://user-images.githubusercontent.com/55102559/76753863-dc27d580-6789-11ea-826c-aa07c4ce7317.png)

[2020-03-16 14:28] jemay86 commented on #358
Any news about it? Or if you found a workaround

[2020-03-17 09:46] elibus commented on #341
@travist to complement my previous comment, we worked around it but it's not currently working as expected.
Looks like changing the readOnly property to public and following your advice works. Someone from the team will post a comment/pr on this.

[2020-03-17 10:28] marwgit commented on #341
Setting `this.formioComponent.readOnly` works and could be bound via template as well. However, we need to make sure that it's set before the component is rendered. For that you (@travist) suggested waiting until the component is ready using `this.formioComponent.formioReady`, which is a private property though.

I suggest to make `formioReady` public. I could make this change and create a pull re

[2020-03-17 10:40] dmenne opened #494 "Custom Component: Bootstrap Radio buttons with Angular 9 and latest formio"
I had nasty versioning and infinite-loop problems with custom components when I started from the @merobal rating sample. So I started from scratch and created Really Large Bootstrap Buttons mainly for use on tablets.

https://github.com/dmenne/custom-radio

Feel free to try and test it.

[2020-03-17 14:00] dmenne commented on #494
Issue in above custom component:

- ngOnit is called 6 times when I open the editor

Well, that's progress, it was called infinitely often in earlier version (Reported by @merobal)

[2020-03-17 14:20] merobal commented on #465
Still having the same issue with "angular-formio": "4.6.10"

[2020-03-17 14:31] fzucaro opened #496 "[Bug] Set language in render"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x ] Local deployment
    - Version:
- Formio.js version: 4.4.4
- Frontend framework:  Angular  8.2.13
- Browser: Chrome
- Browser version:  80.0.3987.132

## Steps to Reproduce
 I would set language for render form. I set language in renderOptions:
[renderOptions]="{....  language: 'it'}"
I set object tra

[2020-03-17 14:33] fzucaro opened #497 "[Question] Translated fields"
Is possible to set translation for field in file upload ?
Es. File Name , Size , Type or "Drop files to attach, or browse"

[2020-03-17 15:05] travist commented on #493
These are configured and changed the same way the renderer changes its language. You can see an example @ https://formio.github.io/formio.js/app/examples/language.html

[2020-03-17 15:06] travist commented on #341
@marwgit if you submit that pull request, I will accept it.  Thanks.

[2020-03-17 15:08] travist commented on #465
Thanks for the bump... I will ensure this is added to a developer on our teams list this week, or maybe early next week.

[2020-03-17 15:09] travist commented on #496
Is it possible to provide a live example of this issue... Maybe using JSFiddle or something similar for Angular.

[2020-03-17 15:11] travist commented on #494
This is great!  We should include this repository as an example in the Wiki so that people have a working example they can work off of.  As for the "infinite" issue... we will have a developer on our side investigate this problem.

[2020-03-17 15:24] marwgit commented on #341
Thank you. It's already there (#495).

[2020-03-17 16:39] fzucaro commented on #496
Sorry i don't know how use this tools, if could help i can get the code..however the problem is than the translation doesn't work for form that are displayed as FORM and not WIZARD

[2020-03-17 20:38] travist commented on #496
If we don't have a live example showing this, then this issue will have a hard time making its way to the top of my developers list to investigate. Maybe someone from the community is also experiencing this problem?...

[2020-03-17 22:23] fzucaro commented on #496
If could help i put in this  [jsFiddle](https://jsfiddle.net/fzucaro/90zf8ab7/8/ ) code in which i define options with ttranslate

[2020-03-18 07:11] artel-ksikora commented on #493
Maybe I don’t understand something, but in the example, the setting is only for rendering, I searched the entire source code, but I didn’t find the text that is used in the editor itself (I’ll note again, not the one that we specify when creating form elements)

[2020-03-18 14:31] travist commented on #496
The fiddle isn't running, so it helps a little, but we will still not be able to assign this to a developer on our end without a reproducible case. Otherwise we are tasked with creating an application that reproduces the issue.

[2020-03-18 14:31] travist commented on #497
Yes it should be possible since all of our strings (at least I think) are passed through the translate function.

[2020-03-18 14:38] travist commented on #493
The builder also should accept i18n configurations through the ```Formio.builder``` method like so.

[code]

[2020-03-18 17:00] fzucaro commented on #496
Thanks, but if you need my help to prepare application please contact me if do you deem it appropriate.

[2020-03-18 17:03] fzucaro commented on #497
And where i cha find the label for translations ? In issue comments i found only an object (see attach).
I also open a problem (#496) for translation..there is documentation abount manage translation in formio ?

[2020-03-19 14:02] upexcel opened #498 "[Custom Components]"
**Custom Component With Lazy Loaded Modules**
Hi, I'm trying to implement custom component with lazy  loaded modules but I'm not able to work it out.
Please help me out.

I've Registered the custom component in app module then accessing it inside the lazy loaded modules. Here I can see the component in the basic section but while using it the preview is blank.

The [**Git Link**](https://github.co

[2020-03-19 14:37] syed-farjana commented on #244
hi,
Trying to change the collapsed property dynamically by listening to click event. Able to change every propery by using Merge Component schema option in action  accept collapsed propery. Is there any other property we have to change to do this. Below one is code

schema={'collapsed':false}

[2020-03-19 14:38] wag110894 commented on #498
Hello @upexcel,
We do offer Support Packages that are for training, support or development services. The hours can be used in one-hour increments at your convenience over a 90 day period.  We will assign one of our senior developers to work directly with you in online sessions. Please contact support@form.io and we will provide you with our support package document.

[2020-03-19 17:57] #485 closed

[2020-03-19 18:13] ullas1989 opened #499 "[BUG] Only IE 11 - Select component (form builder) not rendering options correctly when used with choices.js"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: "angular-formio": "^4.6.10"
- Frontend framework: Angular
- Browser: IE 11
- Browser version: 11.1365.17134.0

## Steps to Reproduce
1. Open IE 11
2. Go to https://adoring-torvalds-b32d1a.netlify.com/
3. Options in by default not appearing as part o

[2020-03-19 18:16] wag110894 commented on #499
@ullas1989 You will need to change the Widget Type from Choices.js to HTML 5.

[2020-03-19 18:57] ullas1989 commented on #499
@wag110894 Problem is then multi-select doesn't work with html5 dropdown option. All options just showing as part of text box and not able to select multiple option. See b
![formio-dropdown](https://user-images.githubusercontent.com/6806346/77104166-923d2a80-69e9-11ea-9845-4acd994d2740.jpg)
elow.

[2020-03-19 20:30] bh-adrienne commented on #489
I should have been more clear on this, it doesn't look like the issue is based on the Changelog and package.json: no _explicit_ typescript upgrade occurred between 4.5.8 and 4.6.7.

Instead the issue points to the _generated_ files being generated with the wrong version of typescript during your build process (which I don't think I can submit a PR for.) Specifically, I get errors from these 3 file

[2020-03-19 20:58] travist commented on #244
the method is now called ```collapsed```.

```panel.collapsed = true```

[2020-03-19 22:29] ullas1989 commented on #499
@wag110894
It is a patch but I was able to write custom logic inside select form-io component do something like this for IE.

Open to better approach if available.

`var ele1 = document.getElementsByClassName("choices form-group formio-choices");

if(ele1 && ele1.length > 0) {
  var ele2 = ele1[0].lastElementChild;
  if(ele2) {
    ele2.classList.add("choices__list--dropdown");
  }
}`

[2020-03-20 06:46] upexcel commented on #498
Thank you.
I'll look into that

[2020-03-20 07:28] syed-farjana commented on #244
Still, it is not working in this way. I am getting the panel and setting the collapsed property dynamically
panel.collapsed = true

[2020-03-20 14:58] travist commented on #489
Oh I see... this is what I feared because up until now we have been able to have all versions of Angular supported with a single release. This may mean that we will need to recompile the version with an older version of typescript and have a "special" version for older Angular versions. The only other thing that I can think of is can we compile this version with an older typescript and will that r

[2020-03-20 15:36] dmenne commented on #494
As I noted, the app called ngOnit 6 times, but then worked ok when the editor was opened. Today, I did a version update to 9.0.7, and after install of all node_modules, I ran into the infinite loop.

However, after totally removing node_modules and reinstall, business was as usual again. Maybe this can give you a hint tracing down the problem.

[2020-03-20 17:09] ullas1989 commented on #494
I did angular version update to 9.0.7 today and infinite loop is not going away even after clearing node modules. I am thinking of going back to 9.0.6 now.

[2020-03-20 18:10] dmenne commented on #494
Strange. Everything is ok for me with 9.0.7, but I definitively saw the infinite loop this morning. Keep me updated. Just a wild guest: 9.0.6 will also go into nirwana? Have you tested it?

[2020-03-20 18:41] ullas1989 commented on #494
I rollback my changes to last working version and tried updating angular cli.
@angular/cli                       9.0.6 -> 9.0.7           ng update @angular/cli

It worked fine on local but as soon as I deployed it a server, it started throwing infinite loop. I can probably check the build configuration or my package-lock.json to find out more about it.

So I am back to last stable version which i

[2020-03-21 18:13] dmenne commented on #494
I have updated my example for a [radio-button custom component](https://github.com/dmenne/custom-radio), with an additional chapter how to create custom component editors by modifiying  the JSON output of exisiting editors.

A custom select box to switch between bootstrap button color styles is created.

[2020-03-22 14:51] beeman commented on #485
@merobal is there anything to say if or when Angular 9 will be supported? I'd love to use Formio in my Angular project but it's already migrated to v9.

[2020-03-22 16:18] merobal commented on #485
@travist can answer it

[2020-03-23 06:17] paramjeetnandal opened #500 "How to add filename and size in FILE component? I have created a custom upload functionality to upload files to server."

[2020-03-23 14:56] travist commented on #499
@ullas1989 where is this code that you changed? Was this done in the choices.js library? If so, then we just need to create a pull request to that library.

[2020-03-23 14:58] travist commented on #494
@dmenne we did resolve some infinite loops in our core renderer with the latest builds. Please try the latest versions and see if the problem persists. If so, then we will get it resolved quickly.

[2020-03-23 15:03] travist commented on #485
This library can be now used in Angular 9, but there are some issues that I have experienced with IVY.  For that reason, I have to add the following to my tsconfig.json in order to get all of my compilations working correctly with Angular 9.

***tsconfig.json***
[code]

I am hoping that the community would have some ideas why IVY does not want to cooperate with this library, but for now we have be

[2020-03-23 15:18] dmenne commented on #494
I no have tried angular-formio 4.6.16, I had not seen the infinite recursion for 3 days. However, one thing I noted: Whenever I openend an custom editor, ngOnit was called 6 times before. Now, it is 7 times. Is that the "expected behavior"? Further than that, output looks ok at first glance.

[2020-03-23 16:58] ullas1989 commented on #499
@travist This is a custom script that was added inside form-io select component, so not really a code change, just a work around.

I can provide schema json if anyone need that.

[2020-03-23 17:00] ullas1989 commented on #494
@travist Still seeing infinite loop with angular-formio 4.6.17.

Issue comes up when there is a grid on the page and validations kick in. I will provide a sample app somewhere to show that.

[2020-03-23 17:13] dmenne commented on #494
Interesting... that's why I now rarely see infinite loops, because I removed all validations - among other decorative stuff.

[2020-03-23 17:35] merobal commented on #494
@travist the issue described in https://github.com/formio/angular-formio/issues/465 is still present with the latest version (angular-formio 4.6.17).

[2020-03-24 06:55] Tkachez commented on #465
@merobal, I've tried to use angular-formio "4.6.10"/"4.6.7" and formiojs "4.5.1", but, unfortunately, was not able to reproduce the issue. Maybe you could give us more details on your environment?

[2020-03-24 14:59] dmenne opened #502 "[Custom Components] Panel ist not rendered when loaded in lazy mode"
As suggested by @merobal, the following issue is reposted here

https://github.com/merobal/angular-formio-custom-demo/issues/3

Example by @upexcel https://github.com/upexcel/formio-question

Netlify: https://wonderful-perlman-0d1430.netlify.com/#/test

The Preview Panel doesn't render the component when using formio in a lazy loaded module.
When I add the rating field in lazy loaded formio it doe

[2020-03-25 05:02] paramjeetnandal commented on #500
ping

[2020-03-25 11:24] Schwofel commented on #486
Hello,
if i import the js file in my application in the same workspace it works. But if i import the js file in a angular library and try to build i get an error that i could not be resolved.

[2020-03-25 13:40] Schwofel opened #503 "[Custom Components]"
Hello everyone,
I want to use a custom formio component (single class like CheckMatrix.js) in an angular library.
If i import my js file how it is descripted in the wiki, i get an error that it could not be resolved.
If i understand correctly, that error happens because of the aot compiling and js files are ignored.
So i tried to convert the js custom component file into a typescript file.
Then i

[2020-03-25 14:15] dmenne commented on #502
Works for me when I keep only lazy loading and register in rating component:

https://github.com/dmenne/formio-question

[2020-03-26 19:09] merobal opened #505 "Ivy"
@travist I debugged the issue with Ivy today.
The `auth`, `manager`, `grid`, and `resource` modules are packed individually but contain references for each other, eg. `manager` imports `auth`. Ivy detects the modules as standalone packages and tries to manage async, but it reaches `auth` through `manager` as well, then throws an error since there is a lock file indicates it already processing it.

[2020-03-26 20:12] theonebigblue opened #506 "[Question] trigger [refresh] function from outside the element <formio-grid >"
In <formio-grid ></formio-grid> how do i trigger [refresh] function from outside the element?
The reason I want to do this I so I can pass query params that the user submits in a search field

[2020-03-26 20:45] travist commented on #505
Thanks for this @merobal!  We will add this to our developer backlog.

[2020-03-26 21:46] jhen1422 commented on #244
@syed-farjana This is working fine on our end and would require a support call to investigate the issue. If you are interested in our support services, please email support@form.io

[2020-03-26 22:17] wag110894 commented on #503
Hello @Schwofel,

Thank you for reaching out!

We do offer Support Packages that are for training, support or development services. The hours can be used in one-hour increments at your convenience over a 90 day period.  We will assign one of our senior developers to work directly with you in online sessions. Let us know if you are interested by contacting support@form.io.

[2020-03-26 22:34] #506 closed

[2020-03-26 22:34] theonebigblue commented on #506
Managed to solve it

[2020-03-27 04:44] paramjeetnandal commented on #500
So no answers to this question? I think this is basic functinality of a file uploader. But I found no documentation for this

[2020-03-27 14:58] travist commented on #500
For now, this would probably require a custom component that extends the File component. We do not support this currently, and it has not been deemed as high priority for us to fix internally, so we would appreciate the community to jump in here if anyone has done this. The other option is to pay for support or expedite this as a feature in the next release. If you want to go down that road, then

[2020-03-27 15:18] ullas1989 commented on #500
I needed the a file upload component that could post documents to custom API and found that current file upload custom component doesn't have a way to pass JWT token.

I created a custom component by extending ng2-fileupload and then be able to do whatever I need to do inside it.

Negative point is I cannot really share it since code is written as part of angular component. But yes custom componen

[2020-03-29 08:43] dmenne opened #507 "[Custom Components] ngOnInit is called multiply whenever I type a character in a custom component editor"
Whenever I type a character in one of the custom component editors, ngOnit is called between 50 and 80 times. The number of times the function is called is different every time. This probable is just another variant of the infinite loop reported several times, and a bug fix has been promised on several occasions.

---------------

Please stop posting the standard message below, it is annoying.
Sup

[2020-03-29 11:23] Abhilashtiwari0301 opened #508 "I have Upgraded the Project from Angular 7 to Angular 9, error TS2307: Cannot find module 'formiojs/components/base/Base'."
Hi Everyone,

I am facing the Problem after upgrading the Project from Angular 7 to Angular 9. the same thing is worked in Angular 7,
Please Help,

Below is the error
error TS2307: Cannot find module 'formiojs/components/base/Base'.
error TS2307: Cannot find module 'formiojs/components/Validator.js'.
error TS2339: Property 'registerComponent' does not exist on type 'typeof Formio'.

I am register

[2020-03-30 15:33] travist commented on #507
I am sure it is an infinite loop that is getting fired. This is almost always because the value toggles between the different loops (which can be caused by calculated values or any others). Please provide the URL of the form you are testing and we will take a look. Usually for "infinite loop" bugs we consider these high priority and will get to them without engaging commercial support. ;)

[2020-03-30 15:34] travist commented on #508
This is because your previous version was based on 3.x, and the new versions are now based on 4.x which is a big change. You will need to migrate any custom components, etc to 4.x renderer to get everything working the way you need them to work.

[2020-03-30 15:39] dmenne commented on #507
There are no explicit validation/calculated values, I am not sure about implicit one though.

Try any of the three custom components:

https://github.com/dmenne/custom-radio

The editors are simply stolen from you similar components, https://github.com/dmenne/custom-radio/tree/master/src/assets. See for example https://github.com/dmenne/custom-radio/blob/master/src/app/checkbox-button/checkbox-but

[2020-03-30 16:43] merobal commented on #508
Instead of `Formio.registerComponent` try
[code]

[2020-03-30 20:40] travist commented on #507
I am not sure what would cause this. It would require some digging and we are currently bogged up with other things. Maybe someone from the community has seen this and knows why it happens?

[2020-03-30 21:48] ullas1989 opened #509 "[BUG] Infinite Loop Error - Able to recreate the issue with one of the simplest version of form json with minimum components on screen"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: "angular-formio": "^4.6.19"
- Frontend framework:"@angular/core": "~9.1.0",
- Browser: Any
- Browser version:

## Steps to Reproduce
1. Add Data grid
2. Add panel
3. Add another data grid,
4. Add at-least 6 text field components with required valida

[2020-03-30 21:54] jhen1422 commented on #509
@ullas1989 We recently implemented some fixes to infinite loops in the latest version of formio.js. Can you try upgrading to see if this resolves the issue?

[2020-03-30 22:09] ullas1989 commented on #509
Upgraded to latest version - "angular-formio": "^4.6.20" and deployed the demo application again. Still same issue.

**Live Demo:**
https://adoring-torvalds-b32d1a.netlify.com

[2020-03-31 06:22] Abhilashtiwari0301 commented on #508
hi @merobal , @travist

import { Components } from 'angular-formio'; is working fine,

but how to resolve the below Error.

error TS2307: Cannot find module 'formiojs/components/base/Base'.
error TS2307: Cannot find module 'formiojs/components/Validator.js'.

Updated Package.json

 "dependencies": {
    "@angular/animations": "~9.0.7",
    "@angular/cdk": "~9.1.3",
    "@angular/common": "~9.0.7",

[2020-03-31 09:55] Abhilashtiwari0301 commented on #508
Thanks @merobal, Thanks @travist

[2020-03-31 15:05] #465 closed

[2020-03-31 16:02] HenriqueVilela opened #510 "[Question] how i can allow unsafe HTML in the html component"
I need to let the html component execute scripts. but i notice that the formio removes my script tags and other unsafe tags like iframe dont work.

[2020-03-31 19:37] ullas1989 commented on #509
@travist Any update here. Do you think this is a valid scenario?

[2020-03-31 20:51] jhen1422 commented on #399
This issue should now be resolved on IE11

[2020-03-31 20:51] #399 closed

[2020-03-31 20:55] elibus commented on #399
@jhen1422 it was working at point, however now nothing works on ie11 and Edge. The portal does not open at all, there is a js error in the browser console. The same goes for formiojs

[2020-04-01 11:36] paramjeetnandal commented on #500
Thanks for the response @travist @ullas1989 . Can you please tell me how to extend the file component or any other component in this library. Any working example will be helpful. I am creating a app and may need some other functionalities in future.
Thanks in advance

[2020-04-01 15:17] travist commented on #509
I looked at your live demo and do not see any error. The other thing that I will mention is that the "infinite loop detected" sometimes may show up even though there is not really an infinite loop. If you have a form that has many dependent conditions on other components, the renderer will need to take multiple refresh cycles before the form comes to a "stable" spot. This will show the "infinite l

[2020-04-01 15:26] travist commented on #510
Obviously this is on purpose, but it can be overridden with options that get passed to the sanitize methods.  Here is the code that shows them.

https://github.com/formio/formio.js/blob/master/src/utils/utils.js#L1046

These options are passed to the DOMPurify library found @ https://github.com/cure53/DOMPurify#can-i-configure-dompurify.  They can be passed to the Form.io renderer within Angular l

[2020-04-01 15:29] travist commented on #500
The angular-demo shows how to do it.

https://github.com/formio/angular-demo/tree/master/src/app/components

[2020-04-01 15:29] #500 closed

[2020-04-01 18:44] merobal commented on #465
@travist FYI I realized the issue, in this case, was I saved the form to a local model and I passed back to the formio component.

So the fix for my demo is: https://github.com/merobal/angular-formio-custom-demo/commit/1a4a96280637b986997388e05aa2662d71e957fd

FYI https://github.com/formio/angular-formio/issues/509 @ullas1989
FYI https://github.com/formio/angular-formio/issues/507 @dmenne

[2020-04-06 22:21] cuneytdalan opened #513 "[Question] What is your best practise for select components with related values with each other in a form?"
Hi,
When form rendered select component gets the lookups resource as url and it has another select component related with it and i want to filter the values of the related select component  according to other's value. What is your best practice here?
Thanks for your all support here.

[2020-04-07 05:42] Inaamhusain opened #514 "[Question] How to pass authorization token through metadata to the select component to fetch data"
Is there a way where we can pass token through metadata to select a component and populate the list.
For example:

[code]

[code]
And in a select component when I am trying to access {{metadata.token}}. Its not working. can you please highlight on this how we can use this.

[2020-04-07 14:51] travist commented on #513
This is "conditional selects" and can be described how to configure @ https://formio.github.io/formio.js/app/examples/external.html

[2020-04-07 14:51] #513 closed

[2020-04-07 14:54] travist commented on #514
I bet this is because "metadata" is not passed to the interpolate function of select components, but it could be added by making a change @ https://github.com/formio/formio.js/blob/master/src/components/select/Select.js#L412 where the request is made. We just need to pass these header values through interpolate.

[2020-04-08 07:24] naonvl opened #515 "[Custom Components] Creating custom component in angular"
I'm trying to create custom component, i have tried following the CheckMatrix.js to create my new component.js but seems not working for me. i also read cusom component documentation but it's confusing cause i'm not an expert. and i can't find a demo for that. can anyone help me? i appreciate any help

[2020-04-08 10:04] #515 closed

[2020-04-08 10:07] naonvl opened #516 "[Custom Components] Add new property to formbuilder display"
I want to create some thing like this

[code]

I already create custom component for this, but i want to pass a value to iframe src, so users can add this component and insert a src value in form builder display section. how can i achieve that?

[2020-04-08 19:31] wag110894 commented on #516
Hello @naonvl,

Thanks for reaching out! We do offer Support Packages that are for training, support or development services. The hours can be used in one-hour increments at your convenience over a 90 day period.  We will assign one of our senior developers to work directly with you in online sessions.

Please contact support@form.io for more information.

Thank you.

[2020-04-08 23:40] jbarrus commented on #494
Not sure if this is related, but I'm seeing a problem with the data value field on select boxes. When I type something in it gets deleted and the console reports and infinite loop.

[2020-04-09 04:57] naonvl commented on #516
@travist Thanks for replying,

i already sent you an email, we're waiting your reply there, thanks again

[2020-04-09 14:41] travist commented on #494
Not sure it is related, but we did fix an issue with infinite loops last night with our latest builds. I am curious if the latest version resolves this issue.

[2020-04-09 15:39] dmenne commented on #494
Browser is empty with error with these changes.

See https://github.com/dmenne/custom-radio/tree/issue494

[code]

[2020-04-09 15:43] travist commented on #494
Yeah, we just heard from one of our developers about this.  We just submitted this pull request which we hope resolves the issue.  https://github.com/formio/formio.js/pull/2631

Is it possible for you to open up the ```node_modules/formiojs/Formio.js``` on your end and add those conditional statements and see if it resolves the issue for you.

Just some context on these changes.... we are working

[2020-04-09 15:53] travist commented on #494
I have an app that reproduces this now... I can verify on my end this solves the problem.  New build coming very soon.

[2020-04-09 16:12] travist commented on #494
The error ^ was fixed with the latest Angular build. Sorry for the glitch.

[2020-04-09 16:23] dmenne commented on #494
Fixed (at least the glitch).
Note that I have not seen the infinite loop for some time already, but still on every key press in one of the editors ngOnit is call 6 time (exactly, no variation). As I only made a copy of your editor, I assume that this occurs in your code too.

[2020-04-09 16:31] travist commented on #494
I think the ngOnInit issue will need to be resolved separately. My response earlier was to other reports from other people about an infinite loop. I believe this thread was hijacked with that point which I hope is now resolved. The original issue you brought up with the ngOnInit is not fixed apparently and will still need investigation.

[2020-04-09 17:06] merobal commented on #494
`ngOnInit` is called each time the form builder re-renders the layout. We experience the same, as long as the user types something in the edit form, the preview is being re-rendered. _(If you hit the API at `ngOnInit` I suggest doing caching at service layers.)_

[2020-04-13 03:20] JRiggenbach opened #517 "Override Component Labels?"
Is there any way possible to override the label names via the edit form override config?  I attempted the following on the Data tab -> Persistence key but nothing changed.

`editForm: {
        textfield: [
          { key: 'display', ignore: false, components: [ { key: 'placeholder', ignore: true} ]},
          { key: 'data', ignore: false,
            components: [
              { key: 'persiste

[2020-04-13 14:48] travist commented on #517
```editForm``` is a function that returns the form.  Can you try to change it to the following?

[code]

[2020-04-13 17:53] JRiggenbach commented on #517
@travist Thanks for the response.  I missing where editForm is a function however; perhaps my question was misleading. I'm following the custom form builder [example](http://formio.github.io/formio.js/app/examples/custombuilder.html) and it has editForm as a simple JSON object.

I attempted to modify my options per your recommendation, but it didn't seem to work; I wasn't even able to ignore certa

[2020-04-14 15:13] travist commented on #517
Instead of overriding them from the "options" just override the component directly, like this.

[code]

Interesting Note:  You can actually run the snippet in your console when viewing our Next portal @ https://next.form.io to see how it works. You can also view any components EditForm by running the following in console.

[code]

[2020-04-14 16:03] dmenne commented on #494
I had seen your suggestion to cache the service layer, that cures the symptoms as long there is no vaccine available. Calling the full constructor API 6 times at each keyboard press is not what Angular apps are supposed to do; calling a subservice e.g. for typeahead would be ok.

So please to fix this. It is also in the interest of form.io to encourage a cottage industry that creates use component

[2020-04-15 20:47] travist commented on #494
I agree we should not be doing this... I would need to dig in to investigate, but am currently tied up with other items. If someone from the community could investigate we would be very grateful. Otherwise, it will just need to wait until it makes it to the top of someones list here at Form.io.

[2020-04-16 03:49] JRiggenbach commented on #517
@travist Thanks for the kick in the right direction.  Learning more and more about this library each day.  I just registered my own custom angular component; don't know how it's going to work in the wild yet, but the fact I was able to add my own custom angular component to this tool is awesome.  Keep up the great work!  Once I get more comfortable with this repo, I'd love to come back and contrib

[2020-04-16 03:49] #517 closed

[2020-04-16 03:58] JRiggenbach opened #520 "Change Weight for Custom Form Builder Components?"
Hello again,
When configuring a custom Form Builder, is there a way to change the weight of the actual components themselves?  Not the categories, but the components.  For example, I would like to just put a collection of components that are in the basic and advanced grouping under one custom "Components" section, but I would like to be able to group them accordingly.

Given this configuration, I

[2020-04-16 10:29] ahka01 commented on #116
Hi @rohitsiddha,
This link should help how to do it for submissions: https://github.com/formio/angular-formio/wiki/Form-Renderer#updating-forms-and-submissions

[2020-04-17 07:42] Svitra opened #521 "[Question] Were there changes to how data should be loaded into the form?"
Hi,

Until now I was loading data into the form in (render) method by setting them like this:
this.formio.formio.submission.data = myDataObject
(where this.formio is a viewchild FormioComponent that is not static).
I updated the Angular to 9 and formio as well (now I have "angular-formio": "^4.7.4" and "formiojs": "^4.9.17") and now this piece of code is causing the data to appear and disappear ri

[2020-04-17 15:01] travist commented on #520
You will probably need to also change the "weight" of the other components which is provided in their "builderInfo" method.  Something like this may allow you to modify any components builderInfo weight.

[code]

Note: I have not actually tested this to see if it works, but I have a hunch it may.

[2020-04-17 20:09] HenriqueVilela opened #522 "[QUESTION] or maybe [BUG] calendar widget configuration not applying"
I notice that the widget configuration dont apply any change to the date picker, even the format has to be outside the widget configuration.

this is intencional?

![image](https://user-images.githubusercontent.com/38706785/79609061-74d4ac80-80cc-11ea-9808-3d9fc6c0a9bd.png)

[2020-04-17 23:07] rohitsiddha commented on #116
@ahka01 , Thanks for the reply.
The problem isn't with updating the form and submission data. It works as expected.
I'm talking about the form change event callback. If you inspect the object you get when form change event triggers, you'll see previous as well as new form submission keys in the data object.

[2020-04-21 15:19] sofiaisreis opened #525 "[QUESTION] How to change a component's key name in the form builder"
Hello there!
I am trying to rename the form-builder tab’s internal options like “label”, but I can't figure out how.
Is is possible? I want to have 'Question' instead of 'Label'. I would appreciate an example, if possible.

![image](https://user-images.githubusercontent.com/9540964/79882321-4e738180-83ea-11ea-8f5c-3b5291382967.png)

Thanks in advance! :)

[2020-04-21 18:50] firadisaad commented on #517
Hello everybody

`const TextFieldComponent = Formio.Components.components.textfield;`
doesn't work for me,
i cannot find Formio, do i need to import some library ?

thanks.

[2020-04-21 19:21] JRiggenbach commented on #517
@firadisaad You might be getting stomped by Typescript.  Try adding a declare statement for Formio and set the type to any

`import { Component, AfterViewInit, ViewChild, ElementRef } from '@angular/core';
import { FormManagerConfig } from 'angular-formio/manager';
import { FormBuilderComponent } from 'angular-formio/core';
import { ActivatedRoute } from '@angular/router';
import { editForm } from

[2020-04-22 00:19] firadisaad commented on #517
i'm really appreciate it, thanks

[2020-04-22 06:09] Inaamhusain commented on #514
@travist what if we need to pass other values as well? Like now we need to pass as a submission value and use it across the different component.
Can we make metadata as a general approach for all the component? So that it won't affect submission data object.

[2020-04-22 20:55] travist commented on #525
Yes you can do this. Every component has its own editForm property. You can see it by typing the following in the console.

[code]

This just returns JSON that is the edit form. This JSON can be modified by doing something like the following.

[code]

You can try this out in the browsers console at https://next.form.io to see it working.

[2020-04-23 13:46] AleksandarKurta opened #527 "Load form from database and add into default form object"
Hello, i want to load form from db and set it to <form-builder [form]="form">. When i console.log in constructor or ngOnInit method data is there and it is set to form variable but the form  shows up only when i try to drag and drop not when the page is loaded. I tried to add [refresh]="refreshForm" after form is set but nothing changes, can someone help me?

[2020-04-23 13:52] firadisaad opened #528 "Add a custom group to my formio builder[Question]"
Hello,

I'm wondering how to add a custom group like basic, advanced, Layout ...

thanks

[2020-04-23 14:00] wag110894 commented on #528
Hello @firadisaad, can you take a look at this example: https://formio.github.io/formio.js/app/examples/custombuilder.html

[2020-04-23 15:33] firadisaad commented on #528
@wag110894 thanks for your replay,

i'm using angular 8 with typeScript, for that i need to know more information to implement it.

thanks.

[2020-04-24 14:36] travist commented on #514
Yes... metadata is a way to add additional metadata to a submission object that does not need a form field associated with that data. It can be used to store any JSON data along with the submission..

[2020-04-24 14:38] travist commented on #528
You can pass in the options shown in the custombuilder example using the [options] parameter in the ```<form-builder></form-builder>```

[2020-04-25 06:50] ThakkarHardik opened #530 "Custom Component is not render in form.io tag"
hello @travist

I made 2-3 custom component
now i m rendering one by one on click of menu
at first time my custom component is rendering proper , second time come to that component it is not rendering the proper , can you please help me out here.
![Untitled1111](https://user-images.githubusercontent.com/16595615/80273336-f2ad3f00-86ee-11ea-94f0-b19c4c7658b2.png) (first time click result )

![Untit

[2020-04-27 04:26] kokkoon commented on #241
Hi, How do you do this if it is in React?

[2020-04-27 09:01] merobal commented on #494
So technically this issue is narrowed down to "ngOnInit is called 6-8 times" (similar to #507) and this is probably due formio refreshes the layout and re-renders itself more than once per update. It's not a big deal to native html components (almost unnoticed) but since Angular components may contain logic inside itself it's a noticeable issue.

Do you have any update on this?

[2020-04-27 09:02] merobal commented on #505
Do you have any update/plans related to Ivy?

[2020-04-27 09:06] dmenne commented on #494
"ngOnInit is called 6-8 times" __on every key press__. This is not how Angular is supposed to work.

[2020-04-27 09:10] merobal commented on #494
Yes, that is the issue, and I wanted to ping @travist to check this.
(Probably Formio updates the layout on every keypress and refreshes it 6-8 times per update. It's not a big deal for native html tags but a noticeable issue for Angular)

[2020-04-27 13:59] wag110894 commented on #505
This item has been resourced. We will let you know once this has been resolved.

[2020-04-27 14:39] pkarakal opened #531 "[Custom Components] Cannot extend a base component"
I am trying to create a custom select component that extends the SelectComponent found in `formiojs` but override the `loadItems` method . When importing `SelectComponent` from formio
[code]
as mentioned in #478 [here](https://github.com/formio/angular-formio/issues/478#issuecomment-591661138)

and create a new class that extends this component,  I get this error
[code]

Is this something to be ex

[2020-04-27 14:56] travist commented on #494
@dmenne we all agree that this needs to be resolved. We are actually making significant improvements to our Angular libraries so it is possible this may be resolved. @Alena-Levina is leading up this effort so maybe she has an idea if this issue will be resolved or if she has noticed it.

[2020-04-27 14:58] dmenne commented on #494
Welcome in our gang,   @Alena-Levina!

[2020-04-27 15:52] wag110894 commented on #530
Hello @ThakkarHardik,  Can you confirm that you have read through the documentation and ensure that you are doing things correctly?
https://github.com/formio/formio.js/wiki/Custom-Components-API
https://github.com/formio/contrib

[2020-04-27 22:41] Peke-tupaea commented on #527
Experiencing the same issue, please help.

[2020-04-28 11:02] pavlkara1 commented on #531
Note: importing default as SelectComponent seems to do the trick as it uses default export.

however even though my component is registered as a formio component under `Components.components`, I get that my custom component isn't recognized

![Screenshot from 2020-04-28 14-01-28](https://user-images.githubusercontent.com/34609899/80480138-cbf24100-8958-11ea-8ec3-a06efcef320c.png)

[2020-04-29 20:57] travist commented on #531
Try the following...

[code]

[2020-04-29 21:03] pavlkara1 commented on #531
What if I want to also have it as an angular component? I have also added a new parameter in the constructor that I want to be automatically resolved by angular. If I add the component decorator Angular cannot resolve the parameters for the select component constructor
here is my constructor's signature:

[code]

[2020-04-30 19:28] hbaldwinRPT commented on #531
I cannot seem to get the
`Formio.Components.setComponent('select', MySelectComponent);`
to work, does not seem to be available on Formio of angular-formio in my case;

version:
"angular-formio": "^4.7.8",

[2020-04-30 19:37] pavlkara1 commented on #531
@hbaldwinRPT you can try the following

[code]

[2020-05-01 03:22] dalesingh47 commented on #485
I think this is related to this issue and it extends to more than custom components:

I'm putting form.io 4.7.8 in an angular 9.1 universal project and get the following after running ngcc

[code]

In node_modules/angular-formio/auth/package.json on line 19, main is set to:
[code]

Should this be set to the following instead?
[code]

Eventually, I got the project to compile with Ivy enabled by cre

[2020-05-01 04:00] dalesingh47 opened #532 "[BUG] Unable to build an angular 9.1 universal project with form.io"
## Environment
Please provide as many details as you can:

- Hosting type
  - [X] Local deployment

- Formio.js version: 4.7.x
- Frontend framework: angular-formio 4.7.x in an angular 9.1.4 universal project
- Browser: N/A
- Browser version: N/A

I'm putting form.io 4.7.8 in an angular 9.1 universal project and get the following after running ngcc or 'npm run build:ssr' or 'npm run dev:ssr'

[code

[2020-05-01 04:01] dalesingh47 commented on #485
Created new issue since this one is closed: [https://github.com/formio/angular-formio/issues/532](url)

[2020-05-01 18:58] hbaldwinRPT commented on #531
I will give that a shot! Thanks for the help!

On Thu, Apr 30, 2020 at 12:38 PM Παύλος Καρακαλίδης <
notifications@github.com> wrote:

--

Hayden J. Baldwin

RARE PETRO Tech, Inc

Chief Technology Officer

hbaldwin@rarepetro.com

714-253-4330

<https://www.linkedin.com/in/hayden-baldwin/>

1224 Washington Ave Ste 10
<https://www.google.com/maps/place/1224+Washington+Ave+%2310,+Golden,+CO+80401/@39

[2020-05-01 19:26] hbaldwinRPT commented on #531
That still didn't work, However with a bit of trial and error I got this to grab the selectComponent to extend
`import { Components } from 'angular-formio';
const SelectComponent = Components.components.select;

@Component({
  selector: 'app-test-component',
  templateUrl: './test-component.component.html',
  styleUrls: ['./test-component.component.scss'],
})
export class MyCustomSelect extends Se

[2020-05-04 17:07] Alena-Levina commented on #494
Hi @dmenne ! Sorry for the delayed response.

I've been reading this thread several times and still am a bit confused about how I should reproduce this issue.

I tried using our Form Builder from [angular-demo](https://github.com/formio/angular-demo) repo and was not able to notice any calls of Form Builder's `ngOnInit` during editing a Custom Component, please see the recording: https://monosnap.

[2020-05-04 17:39] dmenne commented on #494
Dear Alena,

maybe you could try

https://github.com/dmenne/custom-radio.

I think there is a logging output in it. Called 3 times on keypress, 3 times on release when any editor is open.

If you cannot reproduce with the current version, I will check again. Sorry, I have not looked into this for 6 weeks, so it may be ok with the current version.

Dieter

[2020-05-04 22:38] hbaldwinRPT commented on #478
Has there been any update regarding this? This is the last task I have for a particular system I'm putting together. I need 3 custom components, each one populated by an external API call. That way a user can drag and drop those without additional customization and have them work while filling out the form.

Thanks!

[2020-05-05 11:09] jjfellers commented on #478
I managed to get everything working that I needed. There are some missing
nice-to-haves but I have moved on for now.

On Mon, May 4, 2020 at 6:38 PM hbaldwinRPT <notifications@github.com> wrote:

[2020-05-05 11:16] jjfellers commented on #478
Hopefully this helps someone. This is what my API driven custom component ended up looking like in the end  (ignore the mess. Note that CIMService is my API calls):

`export class SelectCustomersComponent implements FormioCustomComponent<string>{
  constructor(
    private CIM: CimService
    ){ }

  private _value: string;
  @Input()
  public set value(v: string) {
    this._value = v;
  }
  publ

[2020-05-05 14:26] hbaldwinRPT commented on #478
Thanks for sharing! I'm gonna give this a try today.

On Tue, May 5, 2020 at 4:16 AM JoshF <notifications@github.com> wrote:

--

Hayden J. Baldwin

RARE PETRO Tech, Inc

Chief Technology Officer

hbaldwin@rarepetro.com

714-253-4330

<https://www.linkedin.com/in/hayden-baldwin/>

1224 Washington Ave Ste 10
<https://www.google.com/maps/place/1224+Washington+Ave+%2310,+Golden,+CO+80401/@39.7546162,

[2020-05-05 15:17] hbaldwinRPT commented on #478
Could I ask what your components HTML looks like? I think that a set up like yours is working but I cannot seem to get a rendered dropdown with it. I could very easily just be missing something simple but If you could share what the structure of your template looks like I would be super grateful.

[2020-05-05 16:11] jjfellers commented on #478
Using
`    <div class="card autoComplete">
        <div class="card-body" *ngIf="!loading">
            <h5>Customer</h5>
            <p-autoComplete
            [(ngModel)]="EISSupplier"
            [suggestions]="results"
            placeholder="Customer search by name."
            (completeMethod)="search($event)"
            [minLength]="1"
            field="CUSTOMER_NAME"
            [size

[2020-05-05 16:16] hbaldwinRPT commented on #478
Thank you again!

On Tue, May 5, 2020 at 9:11 AM JoshF <notifications@github.com> wrote:

--

Hayden J. Baldwin

RARE PETRO Tech, Inc

Chief Technology Officer

hbaldwin@rarepetro.com

714-253-4330

<https://www.linkedin.com/in/hayden-baldwin/>

1224 Washington Ave Ste 10
<https://www.google.com/maps/place/1224+Washington+Ave+%2310,+Golden,+CO+80401/@39.7546162,-105.2232823,17z/data=!3m1!4b1!4m5!3

[2020-05-06 08:03] gladkiy opened #533 "[Custom Components] doesn't work with angular v9.1.4"
I have Angular v9.1.4 app.
I use `angular-formio` v4.7.8.
I executed all steps from here: https://github.com/formio/angular-formio/wiki/Custom-Components-with-Angular-Elements

here is my html of custom component:
[code]
But I don't see button html on my page, just `UserName` text as a label.

Also during compiling angular app I have some warnings like:
[code]
Why I can't see my custom component?

[2020-05-06 12:56] gladkiy opened #534 "[BUG] Error during compiling angular app, angular-formio v4.7.9"
I have Angular v9.1.4 app and I updated angular-formio package up to v4.7.9 and see this error during compiling angular app:
[code]

[2020-05-06 16:13] travist commented on #534
@merobal maybe you know what the cause is for this?

[2020-05-06 17:48] hbaldwinRPT commented on #478
Last one I swear and thanks for being so helpful. I can get the component to initialize when I use the regular edit form, but not when I use my minified version, could you share what you, set up for that? Thanks to your help everything is sort of working but when I try for a non-robust edit for the component doesn't get called at all. I really like the whole idea you're going with but in my case,

[2020-05-06 19:15] jjfellers commented on #478
Not sure what you mean by 'regular edit form'?
Did you create your custom configuration as well? Something like:
![image](https://user-images.githubusercontent.com/61521231/81218389-210f0200-8fac-11ea-9926-bdcd316b550a.png)

Then you have to add it to the app.module.ts like so:

[code]

[2020-05-06 19:26] hbaldwinRPT commented on #478
Yeah, Ive got that. I seem to be having issues with the minimalEditForm, I
created one, but when i use it (instead of the default, by commenting
edtForm out) the ngOnInit doesnt fire. and even when it does the template
isn't getting updated. I think this has to do with the value/input naming.
But i'm not positive.

On Wed, May 6, 2020 at 12:15 PM JoshF <notifications@github.com> wrote:

--

Hayden

[2020-05-06 19:57] jjfellers commented on #478
Here is mine, however I am looking at it going "Whaaaat?" (selectedState is from a different custom one I did. So this is a copy n paste mess, but maybe it will you. -shrug-:
[code]

[2020-05-06 20:03] hbaldwinRPT commented on #478
Seriously, I can't thank you enough. Heres hoping that the missing piece.
Literally three simple select options based on API values are the only
thing holding back an entire project at this point. so you have been a
freaking godsend at this point HAHA.

On Wed, May 6, 2020 at 12:58 PM JoshF <notifications@github.com> wrote:

--

Hayden J. Baldwin

RARE PETRO Tech, Inc

Chief Technology Officer

hb

[2020-05-06 21:08] hbaldwinRPT commented on #442
Okay but shouldnt it be customTemplate not fieldTemplate? Im doing this and its stating that my template file is not a module. and how do i use this template in my formiocustomcomponent options?

Amazing work on this so far, Cant wait to see how this all works out!

[2020-05-07 06:31] pissardl opened #535 "[BUG] Select Component rendering"
## Environment
- Hosting type
  - [ ] Form.io
  - [x] Local deployment
- Formio.js version:
- Frontend framework: "angular-formio": "^4.4.4",
- Browser: Chrome
- Browser version: 81.0.4044.129 (Build ufficiale) (a 64 bit)

    "@angular/animations": "~8.2.13",
    "@angular/common": "~8.2.13",
    "@angular/compiler": "~8.2.13",
    "@angular/core": "~8.2.13",
    "@angular/elements": "^8.2.13",

[2020-05-07 06:34] sayanamanikanta opened #536 "[FEATURE] Nativescript Support"
When i try to use the form io in my native script mobile application it's not working. it trowing the exception

Is formio will work with native script? Can any one help do i need to install any dependency.
I have already installed bellow packages

"@angular/elements": "^9.1.4",
"angular-formio": "^4.7.9",
"bootstrap": "^4.4.1",

am i forgot any thing to install

[2020-05-07 13:55] wag110894 commented on #535
@pissardl,
 can you try upgrading to the latest version of angular and see if these issues still occur? If so, could you provide a JSFiddle with the issues so it is easy for us to reproduce on our side?

[2020-05-07 14:33] travist commented on #536
We currently do not support NativeScript, so moving this to a Feature request.

[2020-05-07 17:46] pooja-waikar opened #537 "[BUG] while using encapsulation: ViewEncapsulation.ShadowDom property, form-builder drag and drop is not working"
I trying to use encapsulation: ViewEncapsulation.ShadowDom property for my component to access only component css files, But when I use ShadowDom, form-builder drag and drop is not working.
I am not able to drag and drop components.

[2020-05-07 20:52] travist commented on #537
Please provide a live example. Maybe a fiddle?

[2020-05-07 21:56] hbaldwinRPT opened #538 "[Custom Components] Request for Select Input example with data from external source"
I've been trying to get a custom select component working with data from an outside source int othe builder with 0 success. Tried  to build off of the rating component and switch some things up but trying to get data from an external source and have it useable in the builder and render has eluded me. Is there a chance we could see an example of making a custom select component? for my purposes I d

[2020-05-07 23:26] dtock89 commented on #244
I had a difficult time getting this to work in a somewhat different context. I wanted to have a view for completed forms where a user wouldn't be able to edit, but rather review. I also had a bunch of panels that when filling out the form would start off closed, so that everything looked nicer. When reviewing a completed form I wanted the page to load with all the panels open so they could see all

[2020-05-08 00:04] JRiggenbach commented on #537
Strangely enough, I ran into this problem today also. I have an angular app that is primarily using material design so I only want to load up bootstrap for the components that are using the formio components.  I haven't tracked down why the bootstrap styles are not applied with the default Emulation view encapsulation, but they are when using ShadowDom encapsulation. Unfortunately the drag and dro

[2020-05-08 03:54] JRiggenbach commented on #537
After playing around a bit more, I've had moderate success by using ::ng-deep, I also had a few other styles to reset as well, so in my component .scss file.

[code]
However, once the ::ng-deep got the styling working for the builder layout, once you drag a component into the drop area, the edit form modal pops up and this is no longer encapsulated within my angular component.  So in one of my glo

[2020-05-08 04:11] sayanamanikanta commented on #536
is it possible to use at least the rendered feature of formio in NativeScript?

[2020-05-08 06:39] merobal commented on #534
It seems it's related to Ivy. That file is a simple service.
Until Ivy is supported, try disable Ivy in angular.json
Related: #505

[2020-05-08 06:40] merobal commented on #533
How does your component look like? Value should be an Input.
Warnings related to #505

[2020-05-08 06:43] merobal commented on #532
Related: #441

[2020-05-08 07:07] gladkiy commented on #533
My component look like this
[code]

Options:
[code]

[2020-05-08 08:18] pooja-waikar commented on #537
layout-formbuilder.component.ts

@Component({
  selector: 'layout-formbuilder',
  templateUrl: './layout-formbuilder.component.html',
  styleUrls: ['./layout-formbuilder.component.css'],
  encapsulation: ViewEncapsulation.ShadowDom
})

@ViewChild("json") jsonElement?: ElementRef;

  public form: Object = {
    components: []
  };

  onChange(event) {
    this.jsonElement.nativeElement.innerHTML =

[2020-05-08 14:58] travist commented on #536
I honestly don't know. I have not tried it and we currently do not have the bandwidth to support it moving forward. You will need the community to chime in here on this one.

[2020-05-08 17:36] Deloriom commented on #522
@travist can you give some help in this? maybe you didn't understood what i wanted to ask in this issue, i can explain better if that is the case.

[2020-05-08 18:25] wag110894 commented on #538
@hbaldwinRPT Thanks for reaching out!
The "Custom Components" tag from angular-formio does not relate to us but rather the contributed ability in our library to have custom components.

[2020-05-08 19:11] hbaldwinRPT commented on #538
"If you have any questions, create a new issue in this repo by choosing "Custom Components Support Request"."

Did I post the question in the incorrect place? I followed the link and placed the community, custom component, and question tag. Is this not the place to reach the contributors that helped with this ability? If it is not correct please check the link regarding questions and issue with th

[2020-05-08 19:55] merobal commented on #538
Have you tried implementing an Angular service, inject that in the custom Angular component and call the api from there?

[2020-05-08 20:05] hbaldwinRPT commented on #538
I did try that. however, it seems to place the component within the input
type not its own component. additionally when I try to reduce the edit
form, the component does not initialize with the data, it does sort of with
the full edit form but it still is not retrieving the data. I know the
issue lies in my lack of understanding of how the formio
components interact with each other as far as templ

[2020-05-11 05:31] sayanamanikanta commented on #536
Ho Okay. Thanks!

[2020-05-11 14:55] travist commented on #522
I don't believe that the "time_24hr" flag will override the format. There is a format you can use to change it to 24 hour mode I believe. As far as I can tell this is expected.

[2020-05-11 18:49] hbaldwinRPT opened #540 "[Custom Components] Angular template HTML showing in "Default Value""
I've begun from the beginning again trying to get a select component to work, and noticed that with the standard example for the custom component when i just change the type to string and give it a standard input and not an angular rating tag the input shows up in the default value section but not in the preview, or in the builder, or renderer afterward. Confused as to why this happens and how to

[2020-05-12 08:55] dmenne commented on #507
4.8.0-beta 5: still a problem. https://github.com/dmenne/custom-radio

![formio-custom](https://user-images.githubusercontent.com/506275/81663531-0ec71500-943f-11ea-8a58-eedcaa4517d6.gif)

[2020-05-12 17:15] dmenne commented on #494
https://github.com/formio/angular-formio/issues/507#issuecomment-627208014

Nothing improved.

[2020-05-12 17:17] dmenne commented on #403
Partially: https://github.com/dmenne/custom-radio

Still has rough sides, but as long as the basic bug in all Custom Components has not been resolved I won't put more work into it.

[2020-05-12 20:50] travist commented on #507
We know this is not fixed. We have investigated this with all of our test cases and do not see a problem with recursive onInit's.  It should also be noted that this will not block future releases since this seems to have to do with the custom components feature that @merobal implemented which is something that Form.io does not provide support for. I am afraid you will need to get support from him

[2020-05-12 20:52] travist commented on #403
Here is how we create custom components (using vanilla js) which also works in Angular. It maybe the case that you could port your work into this method which should solve the onInit issue you described in your other issues.

https://github.com/formio/contrib

[2020-05-14 10:14] sreesama commented on #291
I am also having the same issue. The url is executed once when the page is loaded first time and the data is showing up in drop down. But when i reopen the same page after some navigation, the url is not triggered. The same old data is showing up. If there is any change to the data during this time will not be available in drop down as the url is not triggered. I tried refreshOn as well, but no he

[2020-05-14 10:16] sreesama opened #542 "[Question] Select componet data is not refreshed when url is used"
I am getting the select component data from url. The url is executed once when the page is loaded first time and the data is showing up in drop down. But when i reopen the same page after some navigation thru other pages, the url is not triggered when i try to select the data from drop down. The same old data is showing up. If there is any change to the data during this time will not be available

[2020-05-14 13:12] merobal commented on #507
@travist @Alena-Levina I created a debug version with more verbose `console.log` output.
![image](https://user-images.githubusercontent.com/5844511/81937343-cef55e80-95f3-11ea-8b00-d8b642a3eb46.png)
You may see there the `ngOnInit` hook is invoked due to it's being rendered 2x3 times by formiojs (so it's rendered 3 times, then an `updateComponent` event is called, then it's rendered 3 times more a

[2020-05-14 13:43] wag110894 commented on #542
@sreesama, can you provide a jsfiddle of the form so that we can replicate?

[2020-05-14 15:46] travist commented on #507
@merobal thanks for the more detailed explanation. @Alena-Levina was the last person to investigate the issue and was not able to replicate it using our normal custom component / render methods. Maybe this will help her dig deeper.

[2020-05-14 16:13] joseSignot commented on #83
so is (customEvent) broken for now?

[2020-05-14 16:40] zardilior commented on #427
How can I add a TabsComponent?

[2020-05-14 17:03] zardilior commented on #352
How did you do the tabs?

[2020-05-15 15:19] dmenne opened #544 "How to register a new component group"
I want to insert my custom components in a separate group. I have read

https://github.com/formio/ngFormBuilder/issues/422#issuecomment-489523758

but how would I do this in Angular?

Related: I want to create a group with all suggested components - new from me, and a collection of exisiting one.

[2020-05-15 20:48] travist commented on #544
Form builder groups are registered through the configuration provided to the core builder library. Here is an example configuration that creates a new group.

https://formio.github.io/formio.js/app/examples/custombuilder.html

I believe this could be translated to the builder like so.

[code]

Hope this helps.

[2020-05-16 08:20] dmenne commented on #544
Thanks, works.

[2020-05-16 08:20] #544 closed

[2020-05-17 10:19] dmenne opened #545 "What type is "value" in a multiple-select box?"
In a multiple-select box, the following is transferred as JSON:

      "mySelect": {
          "first": true,
          "second": false
      },
If I want to mimic this behavior for custom components, what should I use as type, for example in the following:

[code]

[2020-05-17 10:29] merobal commented on #545
See: https://www.typescriptlang.org/docs/handbook/utility-types.html#recordkt
E.g. `Record<string, boolean>`

[2020-05-17 17:40] dmenne commented on #545
I had already tried variant of the above, but why is `value` always reset to an empty string ('')?

[code]

[2020-05-17 17:53] dmenne commented on #545
Ok, got it.
[code]

[2020-05-17 17:53] #545 closed

[2020-05-17 19:57] quynhlx opened #546 "[Custom Components] Do not work with lazy loading module"
I've created a custom component, register this one in Root Module. Then I use formio builder in Lazy Module, it seem do not work.

But when I move registration custom component in to Lazy Module, it worked.

My issue: I have many Lazy Modules need to use formio, how I can do that? Should I register custom component on each lazy module? (have to change selector name)

[2020-05-17 20:06] quynhlx commented on #502
The same issue.
 In my app, there are multi lazy load modules need to use custom component.
When custom component was registered in lazy load module, it worked.
But I don't think we should register in each module. And we have to change selector name for them.

[2020-05-19 06:57] dmenne opened #547 "Info: Missing icons when using fortawesome"
npm `fontawesome` uses version 4 of the icons. Since I needed some of version 5 icons, I used

[code]
in package.json

and
[code]
in angular.json. Works almost, but some of the default icons in the editors are missing, eg. move, remove. You can get them back with the following in styles.scss:

[code]

[2020-05-19 14:06] wag110894 commented on #547
@dmenne,

We have this item as an existing backlog item. For reference, the ticket number is FJS-523. We will let you know once we have upgraded to support version 5 of fontawesome.

[2020-05-20 08:33] dmenne commented on #502
Agreed, I independently stumbled over this today:

-- To use lazy loading, I have to register custom components in the loaded submodule.
-- To use is in other parts, I have to register it in app.module, which is also what  https://angular.io/guide/ngmodule-faq suggests.

Any Angular-guru around? Is there some way of saying "force-use the registration in the parent module"?

[2020-05-21 15:33] satheeshpandian opened #548 "[Question] Can we display wizard pages in a single page for preview"
I have implemented a multiple page option using wizard. In preview page change display:wizard to display:form to display all tabs in a single page. Its coming correctly. But select box items load with URL is not working.

[2020-05-21 16:51] wag110894 commented on #548
@satheeshpandian, can you please provide a jsfiddle of this issue taking place?

[2020-05-25 07:25] dmenne commented on #502
Help, I am stuck. Any ideas?

[2020-05-25 07:29] dmenne opened #550 "Reproducable test case with cypress producing an infinite loop in browser"
This has been discussed several times, and as I understood it was fixed.

See https://github.com/dmenne/custom-radio for Cypress-based test that generates an infinite loop. It can be switched on/off by removing one line.

https://github.com/dmenne/custom-radio/blob/a4a2bbb331e55f2aa2b3023a5f3fb983e3078f20/cypress/integration/spec.ts#L83-L87

[2020-05-25 10:14] sterichards opened #551 "Formio builder doesn't set the key correctly on text inputs"
Using a text input as an example, if I add that field to the form, the key is always `textField1` or `textField2` etc

There doesn't seem to be an option to edit that key via the formio builder interface

This causes problems for me because I want to store a form rendered response, but it looks like the following:

[code]

But that is not useful once stored in a database because the text input key

[2020-05-25 14:31] dmenne commented on #528
See https://github.com/dmenne/custom-radio/blob/master/src/app/app.component.ts for an example.

[2020-05-25 14:36] dmenne commented on #550
Mmm...

https://github.com/formio/angular-formio/issues/509#issuecomment-607311150

Maybe we can live with it. But not with the fact that onInit is calles 6 times on every keypress in the editor

[2020-05-25 14:36] #550 closed

[2020-05-25 17:03] firadisaad commented on #528
@dmenne  thank you so much !

[2020-05-25 17:03] #528 closed

[2020-05-26 07:53] mohlendo opened #552 "[BUG] Using Version 4.7.11 with Angular 8 leads Zone.js Promise Pollyfill error"
We just have upgraded to version 4.7.11 and now the error `Error: Zone.js has detected that ZoneAwarePromise `(window|global).Promise` has been overwritten.
Most likely cause is that a Promise polyfill has been loaded after Zone.js (Polyfilling Promise api is not necessary when zone.js is loaded. If you must load one, do so before loading zone.js.)` is back.

[2020-05-26 08:04] mohlendo commented on #552
Since the usage of the Promise is back: https://github.com/formio/formio.js/commits/master/src/providers/address/GoogleAddressProvider.js this is most likely caused by that again.

[2020-05-26 08:28] ashusaini opened #553 "[Custom Components]"
**Explicit Options
Due to performance reasons not all the options are bound to the component. If you want to reach fields from the schema, define in the fieldOptions array at the field registration.**

I am creating custom input like select and i want to access values i.e. array. but when i am adding fieldOptions: ['values']  and try to bind
`@Input() values: any; `
in the component i am not able

[2020-05-26 09:16] Tunglong123 commented on #546
I'm facing the same issue. Does anyone find out the way for this case?
Thanks in advance.

[2020-05-26 12:11] ashusaini commented on #553
I got it it's not reflecting in ngOnInit but it's working.No issues Thanks

[2020-05-26 12:11] #553 closed

[2020-05-26 14:11] wag110894 commented on #551
@sterichards You can edit the API key to whatever you would like so that it relates to the question that the user is asking.

[2020-05-26 14:17] sterichards commented on #551
Do you have any documentation links for this as I cannot find anything regarding this

[2020-05-26 14:19] wag110894 commented on #551
Hello @sterichards

Here you go: https://documenter.getpostman.com/view/684631/formio-api/2Jvuks?version=latest

[2020-05-26 14:24] sterichards commented on #551
I am not using the formio api. I have built a custom web service that stores the form JSON in a database and that is then retrieved with a web service call to build the form renderer

The JSON from the user response is then sent to a separate web service endpoint

But the problem is that the form builder, when creating the form, isn't giving me any option to set the key of form element on text fie

[2020-05-26 15:12] travist commented on #551
Are you saying that you do not see the ```Property Name``` field when you edit the component under the API tab?  That is the option to set the key of the form element on text fields.

[2020-05-27 09:10] sterichards commented on #551
I don't have an API tab as seen here - https://ibb.co/QFBXZzn

[2020-05-27 12:11] sterichards commented on #551
I have solved the issue which was caused by my own fault

I had added the following to the formOptions JSON:

[code]

[2020-05-27 12:11] #551 closed

[2020-05-28 13:12] ajaykumarsana opened #554 "How to add a new tab in formio Angular?"
Hi @travist ,
I been searching through the issues a lot for "Adding custom tab in form io",
Here i elaborate more what's query is ?

After drag any component this is how it appears, is it possible to add custom tab beside to any existing tab?
![image](https://user-images.githubusercontent.com/1854019/83145609-af415880-a112-11ea-8578-b250564a01e2.png)

please help me. Thanks a lot

[2020-05-28 13:15] merobal commented on #507
@Alena-Levina do you have any update?

[2020-05-28 13:18] merobal commented on #505
do you have any update?

[2020-05-28 14:05] wag110894 commented on #505
@merobal, thanks for reaching out. This item is on one of our developers list. We will let you know once this issue has been resolved.

[2020-05-28 14:43] travist commented on #554
You just need to modify the "editForm" of that component and add another tab to the JSON of the tabs component there. Something like this maybe?...

[code]

[2020-05-28 14:43] #554 closed

[2020-05-28 15:39] dmenne opened #555 "What to refresh in EventEmitter"
I have read  `https://github.com/formio/angular-formio/wiki/Form-Renderer#updating-forms-and-submission` dozens of times. The refresh event show there is for a static submission.

In the example below I have to refresh the browser manually when `:id` changes, otherwise the browser shows the correct url, but does not load the content.  As I understand, I should emit a refresh, but I have no idea ho

[2020-05-28 20:48] travist commented on #555
It should be of type FormioRefreshValue seen @ https://github.com/formio/angular-formio/blob/master/src/formio.common.ts#L9 which means you cannot pass in the "string" to the form, but it needs to be the form JSON. You will need to load the form first like so.

[code]

[2020-05-29 06:13] ajaykumarsana commented on #554
Hi @travist
Thank you for the response, I'm having one issue here.
I.e when i try to print tabs in console custom tab shows but in UI **custom** tab not appear.
PFA.
![image](https://user-images.githubusercontent.com/1854019/83227337-93d15e80-a1a1-11ea-9919-dc6a5ff76b5d.png)

Pleae help!!

[2020-05-29 07:30] jyoti0291 commented on #124
I am facing a similar issue. Is there any way to take the label translations input directly from the user while adding any component to the form.

<img width="996" alt="Screen Shot 2020-05-29 at 12 55 48" src="https://user-images.githubusercontent.com/22149791/83233380-3bec2500-a1ac-11ea-8a1a-d9404e3eb621.png">

[2020-05-29 14:28] travist commented on #554
My code above would have edited it for the Text Area component only. Here you are showing Text Field. Is that the issue?

[2020-05-29 16:42] ajaykumarsana commented on #554
Hi @travist
No, In your code i've made changes to textfield and applied.
Can you please provide a solution?

[2020-05-30 09:06] jyoti0291 opened #557 "[Question] How to take translation input from user creating the form?"
Hi @travist and @YuryRybakSoftensity
Is there any way to take the label translations input directly from the user while adding any component to the form?

Like add more input fields for label translations:
Label --> Default Language (en)
Label ja --> japanese
Label sp --> Spanish

and so on...

<img width="996" alt="Screen Shot 2020-05-29 at 12 55 48" src="https://user-images.githubusercontent.com

[2020-05-30 11:11] ajaykumarsana commented on #554
Hi @travist
I'll share my code snippet , please let me know where did i missed.
**app.module.ts**
`import { AppConfig } from './formio-config';
import { FormioAppConfig} from 'angular-formio';
import { Components , Utils  } from 'formiojs';

const editForm = Components.components.textarea.editForm;
Components.components.textarea.editForm = function() {
  const form = editForm();
  const tabs = Uti

[2020-06-01 17:08] blochealth commented on #327
Note this is a duplicate of #243

[2020-06-01 20:37] travist commented on #554
We will need some time to work up the prototype for this and provide a more detailed example (as well as try out your example). We may not get to this until later this week, but maybe someone from the community has done this and can provide code snippet.

[2020-06-01 20:40] travist commented on #557
We currently do not have a way to do this, but have developed a pattern that would allow translations outside of the rendering environment. Please see https://help.form.io/tutorials/walkthroughs/resource/ as an example.

[2020-06-01 22:01] osvaldo-santos opened #558 "[Question] How SaveDraft in wizard form"
Hi, Ihave been working with formio but i haven't found a way to save wizard draft using <formio> directive. Save draft is only allowed to FormManager???

[2020-06-02 14:47] sofiaisreis commented on #525
Thanks!

[2020-06-02 14:47] #525 closed

[2020-06-02 14:49] wag110894 commented on #558
You will need to create a button and set the Action as 'Save in State' and set the 'Save in state' setting to 'draft'. You will then need to create a new submission action and add 'Submission State = "draft";'. You need to ensure that the same name that you have in the 'Save in state' setting is the same as what the submission state is equal to.
Here is a screenshot for the save as draft button: h

[2020-06-03 09:13] jyoti0291 commented on #557
Got it @travist

Thank you so much.

[2020-06-03 09:13] #557 closed

[2020-06-03 10:38] PercyBlakeney commented on #463
I have the same error. It was running ok, but suddenly it stops working and fires me the same error:

[2020-06-03 21:03] wag110894 commented on #558
@osantos1910

Thank you for your patience while we got an example of this working for you.

Here it is:

<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/formioj

[2020-06-04 11:30] sofiaisreis opened #559 "[Question] Can I add new keys to components?"
Hello, I am trying to add to specific things, in a component.
1 - First, on the values, besides 'Label' and 'Value': The value needs to be a number, not a string. Also, I need to have two fields such as 'NA', and 'Set to 0' (the second one will force the value of that row to be always 0).
2 - Secondly, I would like to add a weight option (numeric), below "Values".

![exformio](https://user-images.

[2020-06-04 19:02] GleytonLima opened #560 "[Question] Event Emitter not firing"
Hello, i make a stackblitz example to see Outputs/Events (https://github.com/formio/angular-formio/wiki/Form-Renderer#outputs-events) in action.

https://stackblitz.com/edit/angular-formio-ovgltx

But some events appears not be firing, like (invalid), (formLoad), (errorChange).

In addition,  in the first (change) event, the value isValid is true, but the form actualy is invalid, because component

[2020-06-09 06:33] mohlendo commented on #552
Fixed with  the merge request.

[2020-06-09 06:33] #552 closed

[2020-06-09 21:58] bandman0226 commented on #178
I would also like to know. We are experiencing the same issues.

[2020-06-09 22:05] wag110894 commented on #178
Please contact support@form.io for more information in regards to our support packages.

[2020-06-11 16:34] gopikrishna123 opened #562 "[BUG]"
## Environment
Please provide as many details as you can:

We have an issue with Multiple calls in FORM IO, Embedded FORM IO in our website and created a Hidden Field and added JS logic in Custom Default Value to get the Data from End Point, We are able to get data, if we get the Data also it is making calls and unable to edit the Form for other fields and it is stopping us to access the other pag

[2020-06-11 20:41] travist commented on #562
Will you please provide a running example that includes your custom logic + form json so that we can reproduce the issue?

[2020-06-12 14:36] gopikrishna123 commented on #562
Please find the attached JSON and let me know if you need anything.
[FormJson.txt](https://github.com/formio/angular-formio/files/4771410/FormJson.txt)

[2020-06-13 11:18] gopikrishna123 commented on #562
-- Please refer a demo fiddle showing the Issue :-
https://jsfiddle.net/sj8m7ce0/

-- Details :-
In the form we have a text field in which we have implemented some validation "onBlur" event. So when we click outside of this textbox it will call a api to validate the input but it making multiple api calls which is the issue ideally it should call api for once but it's making multiple calls.

Attach

[2020-06-17 13:26] cmcortez commented on #559
Hello @sofiaisreis we would be happy to help you review this code as part of a support package. If you are interested in going down this road please write to support@form.io and I can discuss the options we have in place.

[2020-06-18 05:36] angelvantony opened #564 "[Question] Not able to run ionic project after installing angular-formio"
Hi, I'm trying to include formio in my ionic project. So installed angular-formio. But after installation, on running the project, I'm getting errors in the plugin files itself.

Here are a few of the errors :
`typescript: .../node_modules/angular-formio/custom-component/create-custom-component.d.ts, line: 11
            ';' expected.

      L10:  component: ExtendedComponentSchema<any>;
      L11

[2020-06-18 15:59] edwinanciani commented on #564
Could you provide Type Script? You are running an old angular version. Try to update angular cli and core.

[2020-06-18 18:20] binury commented on #133
@krixerx This workaround breaks the form builder

[2020-06-18 18:24] JRiggenbach commented on #560
@GleytonLima Any progress on this?  We've noticed similar behavior?

[2020-06-18 18:41] binury commented on #456
It seems like there's no way to use the formbuilder without adding some API URL. If you use a blank `appConfig` the form builder will not launch at all. If you add a dummy placeholder like `''` or `demo` it will throw console errors.

[2020-06-20 18:15] ASHIK5261 opened #566 "Form-Builder:How to Customize Field Properties Popup"
I need to customize the popup of field properties/settings.
- How to hide/remove the some tabs
- How to hide/remove the properties under the tab
- How can add new property/tab

These are the requirements, suggest me a appropriate method to customize the popup

[2020-06-22 13:33] wag110894 commented on #566
@ASHIK5261 here is an example of how you can accomplish this: https://formio.github.io/formio.js/app/examples/custombuilder.html

[2020-06-23 06:40] angelvantony commented on #564
This is the plugin file in which I get the error:
**create-component.d.ts**
import { BuilderInfo, ExtendedComponentSchema } from 'formiojs';
import { FormioCustomComponentInfo, FormioCustomElement } from '../elements.common';
export declare function createCustomFormioComponent(customComponentOptions: FormioCustomComponentInfo): {
    new (component: ExtendedComponentSchema<any>, options: any, data

[2020-06-23 14:21] ASHIK5261 commented on #566
Thanks @wag110894
Here we can ignore the tabs in Edit Form.  I have more requirements.Do you have any solution for ignore some of the property of field in Edit Form. Like ignore the 'Tooltip' property in edit Form

[2020-06-23 15:15] ASHIK5261 commented on #566
@wag110894  I got the Solution. thanks
Here is the solution
"editForm": {
              "textfield": [
              {
                  "key": "display",
                  "ignore": false,
                  "components": [
                      {
                          "key": "placeholder",
                          "ignore": true
                      },
                      {

[2020-06-23 15:15] #566 closed

[2020-06-24 04:10] dev-thinks commented on #175
Hope these 2 new urls helps here -

https://github.com/formio/angular-demo/tree/master/src/app/forms/builder

https://github.com/merobal/angular-formio-custom-demo/tree/master/src/app

[2020-06-24 04:25] dev-thinks commented on #175
**For builder.setDisplay('form||wizard')**

display is a field in form json-schema where we supply the list of components and others. I believe, by default it is picking up 'form' as display.

Just add a field (as display with form or wizard) in 'form' json or add it in the URL which supplies the json.

Something similar to this,

in component,
  `constructor() {
    this.form = {display: 'wizard'

[2020-06-26 18:42] dev-thinks opened #568 "[Question] Is there a way to override a formio onSubmit event?"
Is there a way to override a formio onSubmit event? I tried to do as below, but no luck, not sure what am missing.

`import {Webform} from 'formiojs/Webform';

Webform.prototype.onSubmit= {...}`

Webform is resolving as undefined. any help appreciated. Tx

[2020-06-26 20:45] travist commented on #568
I would use the module system for this. It looks like the following.

[code]

[2020-06-27 12:18] GleytonLima commented on #560
@JRiggenbach for now i'm using only the onChange and Submit events. For workaround, after load the form i assume It as invalid (disabling my custom Button "Save") and checking If is valid only after some change. That way i dont need to use the "Invalid" event.

[2020-07-01 08:45] AleksandarKurta opened #570 "[Question] Trigger renderer validation"
I have a submit button outside formio which i call on form submission, how can I trigger form validation?

[2020-07-01 16:26] bandman0226 opened #571 "[Question] Rendering Custom Component using Angular Elements"
I have followed the directions on how to add custom components using angular elements from this page:

https://github.com/formio/angular-formio/wiki/Custom-Components-with-Angular-Elements

The new component shows up in the toolbox of the builder and gets added to the form just fine.

![2020-07-01 11_26_13-Rhooster](https://user-images.githubusercontent.com/26914029/86268343-ab7b7880-bb8d-11ea-811

[2020-07-01 16:28] #571 closed

[2020-07-01 16:29] bandman0226 opened #572 "[Custom Components] HTML for Custom Component using Angular Elements"
I have followed the directions on how to add custom components using angular elements from this page:

https://github.com/formio/angular-formio/wiki/Custom-Components-with-Angular-Elements

The new component shows up in the toolbox of the builder and gets added to the form just fine.

![2020-07-01 11_26_13-Rhooster](https://user-images.githubusercontent.com/26914029/86268343-ab7b7880-bb8d-11ea-811

[2020-07-01 19:38] merobal commented on #572
For custom components like this, you may build the component's logic and template with Angular. Also, you can use any of the angular-based third-party libs from npm, wrap that in a custom Angular component and register as formio field.

[2020-07-02 15:08] travist commented on #570
You can call the method ```checkValidity``` on the form instance and it will trigger form validation.

[code]

[2020-07-03 09:14] thambui opened #574 "[Question] how to use saveDraft in <formio>"
i have a question about saveDraft. I'm using `<formio src="{{ myUrlConfig }}"></formio>`. How can i use saveDraft in that?

[2020-07-03 09:17] phamtien170996 commented on #574
Have the same question with @thambui. I just found it in FormIO JS https://formio.github.io/formio.js/app/examples/savedraft.html. Can you please provide some information if you have?

[2020-07-05 23:48] pkarakal opened #575 "[BUG] - Updating to 4.9.0 leads to Zonejs promise polyfill error being thrown"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: 4.9.0
- Formio.js version: 4.10.5
- Frontend framework: Angular 6
- Browser: Firefox
- Browser version: 78.0.1

## Steps to Reproduce
1. Install angular-formio@4.10.0
2. Run the application
3. Open it on Firefox

## Expected behavior
I would expect it to run with its ne

[2020-07-05 23:48] pkarakal commented on #575
Note: this seems to work fine when using Angular 9

[2020-07-06 15:08] travist commented on #574
If you wish to have them manually saveDraft, then this can just be configured in the Form builder by adding a new Button and set the action to "Save in state" and then add "draft" to the state that will be saved. This will allow the submission to be saved as "draft". If you wish to "auto-save" then this can be configured as part of the formioOptions added to the <formio> directive like so.

[code]

[2020-07-06 15:08] #574 closed

[2020-07-06 18:19] dev-thinks commented on #537
Approach mentioned by @JRiggenbach works well. fortunately i made it worked before seeing this thread.

Our app is not having bootstrap for all other components, only importing  bootstrap 4 for form.io pieces.

[2020-07-07 04:18] dev-thinks commented on #547
cool workaround @dmenne. meanwhile, here is the code for fa-refresh icon for signature-

.fa-refresh:before {
  content: "\f021"
}

[2020-07-07 06:06] dmenne commented on #547
Sorry, I am gone. We decided to give up on formio, documentation on customs stuff is just too sparse. Using ODK Collect now, much less flexible, but it works.

[2020-07-07 06:06] #547 closed

[2020-07-08 07:55] Gayudhaya opened #576 "no"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1.
2.
3.

## Expected behavior

## Observed behavior

## Example
If possible, please provide a screenshot, live example (via [JSFiddle](https://jsfiddle.net/) or similar), an

[2020-07-08 07:59] Gayudhaya opened #577 "how to show or hide input fields based on radio buttion in angular-formio?[Question]"
{
            label: "Gender",
            labelPosition: "left-left",
            optionsLabelPosition: "right",
            inline: false,
            tableView: false,
            values: [
                {
                   label: "male",
                   value: "male",
                    shortcut: "M"
                },
                {
                    label: "female",

[2020-07-08 10:12] rajakdr opened #578 "[Custom Components] JSON Schema and Form Data on Custom Component"
Hi,
I am using angular formio 4.8.4 and i created one custom component button (MnabrButton). Here i need to get the all parameters what assigned to this custom component button in form JSON (Ex : attributes, properties, label, DefaultValue and custom parameters....). and FORM Data what i filled on this form. i tried all blogs for this issue. i could not find the issue. If any one can please share

[2020-07-08 10:21] rajakdr commented on #577
Hi @Gayudhaya , can you try on  Advanced Logic or conditional options. i think it will solve your problem. or try this .

{
      "components": [
        {
          "label": "Gender",
          "labelPosition": "left-left",
          "optionsLabelPosition": "right",
          "inline": false,
          "tableView": false,
          "values": [
            {
              "label": "Male",

[2020-07-08 18:51] bandman0226 commented on #572
Is there a way to add a single property to the already existing component?

[2020-07-10 13:02] daddywoodland opened #580 "[Question] How do you perform a Token Swap in Angular?"
Is there any way of performing a [token swap](https://help.form.io/integrations/oauth/#token-swap) in the Angular Library?

I've had a look through the source and can't find anything.  Thanks for any helpy ou can offer.

[2020-07-10 14:37] travist commented on #580
The token swap is just an API call. You can do this either using a "fetch" library provided through Angular, or you can probably use the ```Formio.request``` method as part of our JavaScript SDK, but ultimately this is just an API call that needs to be made to the server to perform this function.

[2020-07-10 14:37] #580 closed

[2020-07-10 15:00] daddywoodland commented on #580
Thanks Travis :)

So one of the end points listed in the [API documentation](https://apidocs.form.io/?version=latest#03acc709-aaba-b066-c69b-fb7ab92a48d0) will allow me to swap tokens?

[2020-07-11 08:49] daddywoodland commented on #580
Hi again @travist , sorry to be a pain but I've been looking over the API documentation and reread the docs but can't see where to call on the API to setup a token swap, are you about to point me in the right direction please?

[2020-07-13 14:49] travist commented on #580
This should be just the "/current" endpoint documented @ https://apidocs.form.io/?version=latest#05418b8d-c761-c34e-bbae-ccb434619aea but using the Bearer token headers described in the token swap documentation @ https://help.form.io/integrations/oauth/#token-swap

[2020-07-13 21:31] daddywoodland commented on #580
Thanks, I'm trying but getting a bad request at the mo.  WIll persevere though!  I set the header as described in the token swap example too but am thinking I need to find a way to send through 'external: true' as well.

The sample request/response in the docs for this end point looks to be a duplicate of 'Form Login' unfortunately so I'll dig around in the code to see if I can find the /current e

[2020-07-15 03:30] technokrat96 opened #582 "[BUG] i have some bugs from custom components is not show element"
i use angular 10 then i user angular form io newest,
![image](https://user-images.githubusercontent.com/25608872/87500015-b9e58c00-c685-11ea-9fab-b6221a6795b8.png)

history
i follow https://github.com/formio/angular-formio/wiki/Custom-Components-with-Angular-Elements for custom element
but
![image](https://user-images.githubusercontent.com/25608872/87500132-f5805600-c685-11ea-9b72-adb06057c870.png

[2020-07-15 03:32] technokrat96 commented on #582
the code is same but different version angular, because at angular 10 entryComponent is deprecated,
so i skip step add on entryComponent,

[2020-07-15 04:53] technokrat96 commented on #582
done, cause i overwrite FormioModule at another module

[2020-07-15 04:53] #582 closed

[2020-07-15 05:03] technokrat96 commented on #498
same i found a problem

[2020-07-15 11:11] Dheeraj-Bharti commented on #427
I want to create similar kind of component in my angular application but i'm able to extend the tabComponent in my .ts file.

Anyone has created a nested component layout. Please share.

[2020-07-15 15:26] randallknutson commented on #580
Make sure your oauth settings are set up correctly. If it is not set up it will not perform the swap correctly.

[2020-07-15 18:32] daddywoodland commented on #580
Thanks, I'm happy I'm doig the request as instructed now but am getting a 400 Bad Request back unfortunately.

Things are a bit tricky with the oauth settings and token as I'm trying to integrate firebase auth and the documentation for that is hit and miss but I'll double check.

It would be useful to see the logs from my call to formio API in case there's any hint in there but I can't seem to fin

[2020-07-15 20:46] randallknutson commented on #580
They may be in the "Action Logs" section although those have been a little spotty recently. Other than that you can enable DEBUG=formio:* as an environment variable to get more verbose output on a server.

[2020-07-15 21:54] bandman0226 opened #583 "[Question] Sticky toolbox not working inside of flex container?"
I am just wondering if anyone has had an issue with the sticky toolbox inside a flex container. Adding many fields and scrolling to the bottom does not allow the sticky toolbox to move.

[2020-07-17 09:25] sterichards opened #584 "How can I better handle the form JSON in my own database?[Question]"
I have been developing an Angular 8 CMS which includes angular-form builder / renderer and allows CMS users to create forms and external users to submit forms. When creating a form within the CMS, I POST the JSON to my own custom Symfony API server and store the JSON against a Form entity. That all works good....

When an external user completes and submits a form, the JSON is posted to my own web

[2020-07-17 13:56] sterichards commented on #584
So after some thought today it seems to me that I need a database representation of each question of each form and also a database representation of each form question response with a database relation between question and form

The form and response JSON will still exist in the database but only for angular formio to parse and display the form and also for the response that formio sends back to m

[2020-07-17 15:00] travist commented on #584
The formio.js library contains some utils that allows you to find a component provided the "key" of the data.

[code]

This can be used to traverse the form components array to find the component JSON that has the metadata to describe the component for a specific field in the submission.

[2020-07-18 14:30] qingliaowu opened #586 "Is CORS supported?[Question]"
Is CORS supported for PDF uploading function?
![Screen Shot 2020-07-17 at 20 52 34](https://user-images.githubusercontent.com/41318040/87854699-9739c880-c94e-11ea-9dc6-443ae331ab4b.png)

[2020-07-20 01:05] william-levi opened #587 "[Question] How to remove help"
Is there a way to remove this "help" ?
![Capture](https://user-images.githubusercontent.com/25534399/87890218-140c9580-ca68-11ea-9f82-9cc79fccdfd3.PNG)

[2020-07-20 01:38] william-levi opened #588 "[Question] Set Default Value"
How to set default value in editForm ?
![Capture2](https://user-images.githubusercontent.com/25534399/87891466-9a2adb00-ca6c-11ea-9c22-f0569e7330df.PNG)
![day](https://user-images.githubusercontent.com/25534399/87891467-9b5c0800-ca6c-11ea-858f-0fcafed6f0ab.PNG)

Like in the image.. setting default value for dayFirst.

Thanks !

[2020-07-20 14:36] travist commented on #586
Yes it should be, although it seems you are trying from localhost. This may require a special case to enable that to work correctly. We will investigate on our end.

[2020-07-20 15:57] wag110894 commented on #588
@william-levi
Thanks for reaching out!

The default value setting is located inside of the Data Tab.

[2020-07-20 20:36] travist commented on #587
You could hide it with CSS.

[2020-07-22 16:08] EAGarfield commented on #424
@travist  Hi, I am having the same issue while using rendererOptions

<formio  [options]="options"
 [rendererOptions]="{breadcrumbSettings:{clickable: false}}"
 [form]='formJson'
 (submit)='onFormSubmit($event)'></formio>

 error: Can't bind to 'rendererOptions' since it isn't a known property of 'formio.

 I included the FormioModule and  FormManagerModule and I am still getting the same issue

A

[2020-07-22 16:12] EAGarfield opened #589 "[RENDERER OPTIONS ISSUE]"
## Environment
Please provide as many details as you can:

 Hi, I am having an issue while using rendererOptions

error: Can't bind to 'rendererOptions' since it isn't a known property of 'formio.

I included the FormioModule and FormManagerModule and I am still getting the same issue

Are there any other module solutions?

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- F

[2020-07-22 19:20] krishanil opened #590 "[Custom Components]"
[30563 ISSUE.docx](https://github.com/formio/angular-formio/files/4962084/30563.ISSUE.docx)

 We have  small issue in from-io which we cannot sort it out.  The problem is  text field component validation. Normally  we are using field values Required, maximum, minimum  length , Regular expression (^[0-9]*$] and  Custom error message (Npm id is required ) .  The custom error is displaying twice  whe

[2020-07-23 14:37] qingliaowu commented on #586
Cool, thanks

[2020-07-23 14:54] gopikrishna123 opened #591 "[BUG] -- FJS-1066"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: ^4.8.0-rc.6
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1. When we set default values for Checkbox, Select boxes, Select and Radio components, it is not immediately reflected in Preview section of component model
2.
![

[2020-07-23 15:14] wag110894 commented on #591
@gopikrishna123

This is by design, as the builder mode does not show configurations

[2020-07-23 17:08] gopikrishna123 opened #592 "[BUG] --FJS-1067"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: ^4.8.0-rc.6
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
After changing the default values for Checkbox, Select boxes, Select and Radio components, it is not reflected in the Form IO builder section.
In the below screen

[2020-07-23 17:10] gopikrishna123 opened #593 "Unable to edit content properly in Custom Validation, Custom Values, Item Template sections for all Components"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
In the text editors of Custom Validation, Custom Values, Item Template , there are additional spacing getting appended while typing which is making it difficult to edit the c

[2020-07-23 18:18] ullas1989 opened #594 "[Custom Components] How to add validations to Custom Component"
Hi @travist
I have a custom component that can display some rows.

I want to implement the validation inside custom component such that if row count is 0, it triggers a required validation. So custom component need to pass its status as Invalid and error back to formio instance.

Any idea how to do this?

I have read all the custom component documentation but not able to find any solution.

[2020-07-23 18:29] cmcortez commented on #592
This was reviewed and answered via direct support.

[2020-07-23 18:32] cmcortez commented on #593
This issue was submitted via support. Please reference your support ticket and provide the form embed URL we requested.

[2020-07-23 20:47] travist commented on #424
It's ```renderOptions``` and not ```rendererOptions```

[2020-07-23 20:47] travist commented on #589
It's ```renderOptions``` and not ```rendererOptions```

[2020-07-23 20:47] #589 closed

[2020-07-23 21:31] bandman0226 opened #595 "Signature with disable property [Question]"
I had a quick question. I am noticing that if I have a signature filled in the component and the readOnly property is set to true on the form then the signature shows just fine. If I turn off readOnly for the form and disable the signature (in case a user has to fill out other properties without changing the signature) then the signature does not render. Is this working by design or a bug? Is ther

[2020-07-23 21:32] #583 closed

[2020-07-23 22:57] #568 closed

[2020-07-24 20:42] travist commented on #595
We have had some issues with the signature component, but we have recently resolved these issues with the latest RC builds of the renderer. Have you tried using the RC versions of this library and see if this issue goes away with them?

[2020-07-27 02:37] dev-thinks commented on #548
@satheeshpandian, May be readonly mode of the form with form type as "form" instead of wizard will take of your request?

[2020-07-27 02:49] dev-thinks commented on #570
@travist Thanks. this works, but is there a way to show/highlight the UI validation error messages? (as the normal submit behavior does inside formio) ?

[2020-07-27 12:33] Vedhachala opened #597 "[Question] Builder Initialized Output Event"
Hi Formio team,
I need the **builder instance** once the builder is initialized. This is similar to the (ready) event available for <formio> selector.
The change output event does not address our use case.
I am expecting something like this:
`<form-builder [form]="formJSON" (ready)="builderLoaded($event)"></form-builder>`

So is there any plan to introduce this or any workaround to achieve this.?

[2020-07-27 14:34] sterichards commented on #584
This worked great and is exactly what I needed to help me

Thank you :)

[2020-07-27 14:34] #584 closed

[2020-07-27 14:44] sterichards opened #598 "Is it possible to add a custom form component value?[Question]"
I want to add a custom property to the form component object that will be a database Id and then that custom property be sent back to my web service

For example, here is a shortened component object:

[code]

Notice the `databaseId` field that I have manually added.

The setup I have is that I run angular-formio and when a user submits the form, I build a custom JSON object from the submission an

[2020-07-27 14:46] travist commented on #597
You can get it like this.

[code]

[2020-07-27 14:46] #597 closed

[2020-07-27 14:48] travist commented on #570
You can do this by passing the "dirty" flag to ```checkValidity```.

[code]

[2020-07-27 16:04] sterichards commented on #598
After further investigation I have found that I can manually add custom fields to the formio JSON and that data stays against the form in form renderer

This is a very welcome surprise and completely solves what I am trying to achieve

[2020-07-27 16:04] #598 closed

[2020-07-27 18:40] dev-thinks commented on #570
Worked !!

Thanks for the help. I think we can mark this question as answered.

[2020-07-27 20:06] #570 closed

[2020-07-28 01:45] bandman0226 commented on #595
Thank you so much @travist! I updated from 4.79 to 4.9.2. Seems like somewhere in there the issue was resolved.

[2020-07-29 01:57] GAK-MPRO opened #599 "[BUG] - Form Builder Fails To Customize the Display Properties When Placing Other Component Inside Column Components"
## Environment
https://formio.github.io/angular-demo/#/forms/builder
- Could be reproduced by cloning and localhost
- Hosting type

  - [X] Local deployment
    - Version:
- Formio.js version:
- Frontend framework: Angular 8
- Browser: Chrome
- Browser version:84.0.4147.89 (Official Build) (64-bit)

## Steps to Reproduce
1. Go to https://formio.github.io/angular-demo/#/forms/builder
2.  Drag colum

[2020-07-29 13:38] pooja-waikar opened #600 "[Question] Need to remove default submit button from form-builder form"
I am using angular-formio version : ^3.27.3.

<form-builder  [form]="form" (change)="onChange($event)"></form-builder>
this is my tag.how to remove default submit button

[2020-07-29 14:56] travist commented on #600
There is a configuration option to remove the default submit button.

[code]

[2020-07-29 14:56] #600 closed

[2020-07-29 15:07] sterichards opened #601 "Is there any documentation of the JSON structure of a form that will help my identify the different element types[Question]"
I am parsing the form JSON into PHP and looping through the structure to identify the form elements, mainly the questions on the form (textfield labels etc)

Is there any documentation that will help me compose a good loop to separate the tabs / panels etc from the actual questions?

[2020-07-29 15:27] travist commented on #601
It's a little outdated, but this may help.

https://github.com/formio/formio.js/wiki/Form-JSON-Schema

[2020-07-29 15:27] #601 closed

[2020-07-29 16:29] pooja-waikar commented on #600
thank you for your quick response.

I tried above solution but it still not working for me.
my angular-formio version is ^3.27.3.

[2020-07-29 19:09] dev-thinks commented on #595
waiting for this bug to be resolved. please let us know when this will be available as general release.

[2020-07-29 19:32] wag110894 commented on #595
@dev-thinks, As Travis mentioned above, can you try using one of the RC versions and see if the issue goes away?

[2020-07-31 11:29] hisuwh commented on #241
Is there full documentation or typings for the builder options anywhere?

[2020-08-03 14:47] travist commented on #241
There is not, but you can figure it out by running the following in the console @ https://portal.form.io on the Form Builder page.

[code]

This would print out all the options available for ```textfield```. You can apply this to any type in the ```Formio.Components.components``` object.

[2020-08-03 21:40] bandman0226 opened #602 "Passing Authentication in select component to non formio URl endpoint [Question]"
We recently upgraded to:
angular formio 4.9.2 and fomiojs 4.9.26

When using a select component we would use plug in hooks to set our authentication for our endpoint (not formio) using the preRequest. After the upgrade the preRequest does not fire off and anything else we tried to use seems to get a 401. Has anyone else done this and if so how can this be accomplished?

[2020-08-03 21:49] bandman0226 commented on #595
@travist We did not upgrade to any RC version but we did upgrade angular formio to 4.9.2 and it seemed to work with a css change we implemented as well.

The signature pad did not render still unless we changed the css of that component to have "display: unset". In the previous version if we changed this property then it would display the signature but it could be modified (even with disabled).

[2020-08-03 22:36] bandman0226 commented on #178
We had downgraded versions and got by because it was working as intended with an older version but due to other bugs we are needed to upgrade. The upgrade in turn seems to be breaking this. Like we have before we used this documentation to set up a plugin https://github.com/formio/formio.js/wiki/Fetch-Plugin-API and tried using the plugin hooks but they are not working.

[2020-08-04 07:01] praveenmadishetty opened #603 "[BUG]"
## Environment
I Have created a custom input text component using angular-formio,
and it is not detecting default value entered from settings to display in custom input text, Please help me regarding this.

Thanks in Advance
Praveen Madishetty

[2020-08-04 07:08] iknityanand commented on #603
Even i am facing the same issue. Can't get default value in data tab. Also not getting default value data in the JSON output as well.

[2020-08-04 07:09] iknityanand commented on #592
@cmcortez  can you post the solution here.

[2020-08-04 13:00] blochealth commented on #489
Followup here: my team ended up migrating to Angular 9 for other reasons. Don't know if this is still an issue.

[2020-08-04 14:37] wag110894 commented on #592
@iknityanand Absolutely. This is by design, as our builder mode does not show configurations

[2020-08-04 14:37] #592 closed

[2020-08-04 19:16] wag110894 commented on #603
@praveenmadishetty @iknityanand

Thank you for reaching out! Form.io has support packages that will connect you with a developer to help you with your custom components. Please let me know if you are interested and I will ensure that you are connected to our Team with information regarding our Support Packages.

[2020-08-05 12:43] praveenmadishetty commented on #603
Thanks for your Reply @wag110894 , But it would be helpful if i get help without going to support package Team Presently, the reason for this, is nothing but i just want to give a try with Formio, and know to what extent it can be compatible for my upcoming projects.

[2020-08-05 20:43] travist commented on #178
Make sure that you are registering it on the ```Formio``` instance that is coming from the angular-formio library like so.

[code]

[2020-08-05 20:44] travist commented on #489
We will be migrating this library to Angular 9/10 within the next couple of weeks.

[2020-08-05 20:46] travist commented on #595
Just released new versions today with some fixes to signature component. Please try the latest and let us know if the issue still persists.

[2020-08-07 04:52] sriram275 opened #604 "language has been removed from FormioOptions"
Team,

Due to removal of this property from FormioOptions, now difficult to set language as one of the option to formio by using
`<formio [form]="myFormJSON" [options]="myFormioOptions"></formio>`
component of angular-formio for renderer.

And got removed this line in the following assigning options code and which was there erlier versions of angular-formio.
**```language:get(this.options, 'langua

[2020-08-07 14:48] travist commented on #604
Just add it to the ```renderOptions```.

[code]

[2020-08-07 14:48] #604 closed

[2020-08-10 04:32] sriram275 commented on #604
Yeah,  I have done the same before your reply and it worked.
Will it help some on if we document here https://github.com/formio/angular-formio/wiki/Translations

[2020-08-10 13:13] alanm101 opened #606 "[BUG]"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: N/A
- Frontend framework: N/A
- Browser: Chrome and Safari
- Browser version:

## Steps to Reproduce
1. Go to: https://formio.github.io/angular-demo
2. Enter test details
3. Submit

## Expected behavior
Submit response is "Submission Complete"

## O

[2020-08-10 14:25] alanm101 commented on #606
Screen shout from Ubuntu & Firefox. Same issue. Remember, this is on the HOSTED example of the formio angular demo app.
<img width="890" alt="CleanShot 2020-08-10 at 16 23 18@2x" src="https://user-images.githubusercontent.com/2248721/89793415-212c1a00-db26-11ea-8762-49269010f8e6.png">

[2020-08-10 14:41] travist commented on #604
Yes, I will add that.

[2020-08-10 15:02] wag110894 commented on #606
Hello @alanm101, Thanks for reaching out!  This was an issue from formio.js. This issue is resolved, but we have not updated the angular demo page to the latest. We will get that updated and the issue will no longer occur.

Have a great day!

[2020-08-10 15:26] alanm101 commented on #606
I closed too soon. Thanks for the response @wag110894. I did mention the problem is occurring in a custom deployment. The example shown was to eliminate user (i.e. me) errors.

I did a clean installation of formio v1.90.5 and angular-demo 2.7.0. I then created my own forms and included them in the angular cards. That's where my problem is causing issues.

If the problem is in the angular-demo 2.7.

[2020-08-11 07:29] alanm101 commented on #606
Resolved with change to package.json.

[2020-08-11 07:29] #606 closed

[2020-08-11 21:42] gopikrishna123 commented on #338
@xellafe @travist  Is it Resolved?

[2020-08-11 21:50] gopikrishna123 commented on #591
@wag110894  When we created the Radio button and selected Default value for first time, We are able to Display it in Builder Page only.

If this is by design, How are we showing the values in initial load. Kindly look into this issue and let me know if you need more information.

**Edit JSON:**  How are able to retain default value in JSON, Is it storing somewhere(like DB  etc..) and calling the v

[2020-08-12 20:04] wag110894 commented on #591
Hello @gopikrishna123,

You will see the values show up correctly on the Use Tab. This will be what is showing on initial load of the form.

The Default value is part of the form JSON so it will be stored inside of the JSON.

I hope that this helps.

Thank you.

[2020-08-14 00:27] mdiazp commented on #560
How do you check tlif it is valid ?

[2020-08-17 13:26] orentoga commented on #441
Is there a solution soon?

[2020-08-18 14:59] travist commented on #441
We are not working on a solution for this. We are hopeful that the community could help with this endeavor.

[2020-08-19 09:46] madgera opened #607 "[BUG] When Removing elements from DateTime component Date tab it hides automatically MaxDate element"
Hi, i dont know if this is a bug or im doing something wrong with configuring this component.

if i put in the json options:
[code]
automatically  i have this result in the tab
![image](https://user-images.githubusercontent.com/9517973/90618724-a8594c00-e210-11ea-9262-8a1d18bdfbd4.png)

I just need to insert the given property to obtain same result

[code]
![image](https://user-images.githubuserco

[2020-08-19 09:54] madgera commented on #607
[code]

need only this to hide the maxDate element

[2020-08-19 15:00] wag110894 commented on #607
@madgera, what version of angular-formio are you running?

[2020-08-19 15:20] wag110894 commented on #338
@gopikrishna123 @xellafe , can you try upgrading to version 4.9.5 of angular-formio and see if the issue still occurs?

[2020-08-20 06:12] madgera commented on #607
Im running with angular-formio 4.8.0 and formiojs 4.10.0
I investigated the formiojs library, and in the js (DateTime.edit.date.js) to compose the date tab I found a difference in the declaration of the default between minDate and maxDate, for minDate handling was check-datetime-textfield and for maxDate it was check-textfield-datetime , I changed the declaration order of maxDate as that of minDat

[2020-08-21 12:30] PranapSivadasan opened #608 "[BUG] Column Element: Error throws up while adding elemnts to a column element."
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: **Latest**
- Frontend framework: **Angular**
- Browser: **Firefox**
- Browser version: **79.0**

## Steps to Reproduce
1.  Add a column element in the form.
2.  Add a any other element in one of the column.
        **For example:** Add a Text field

[2020-08-21 12:57] gismomtl opened #609 "[BUG] Select Component - Multiple Values and set multiple default value"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version: 4.7.5-rc.2
- Formio.js version: 4.9.19-rc.2
- Frontend framework: angular
- Browser: Chrome

## Steps to Reproduce
1. create a select component with
  - "Multiple Values" enabled
  - multiple value available (ex. A, B, C, D)
2. try to set "default value" to A & B
   "A",

[2020-08-21 13:00] PranapSivadasan opened #610 "[BUG] JSON undefined: When data entered into a field in form builder."
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: **Latest**
- Frontend framework: **Angular**
- Browser: **Firefox**
- Browser version: **79.0**

## Steps to Reproduce

1.  Add any field into the form.
       **For Example:** Add a text field into the form.
2.  Check the JSON. JSON is created prop

[2020-08-24 12:06] Stefan99353 commented on #241
@travist Could you give an example. Like how to disable the prefix option for the textfield. Where do i have to put this ignore field in the options object?

[2020-08-24 15:13] travist commented on #241
Go to the Form.io portal and open up the form builder. Once in there, you can type the following in the Console.

[code]

This should make it ignored. I have not tried it myself, but this should give you an idea how you can ignore certain components in the form builder edit forms.

[2020-08-24 15:15] travist commented on #608
Thanks we will take a look.

[2020-08-24 15:20] travist commented on #607
Is it possible to create a pull request with your fix?

[2020-08-25 09:39] thanhvietnguyen255 commented on #241
Hello @travist, could you give examples on how to export a form/form submission to PDF file?
Or convert to HTML so from that HTML I can export to PDF file.

I'm using package angular-formio-pdf
However, it's not pretty. It cannot export the signature (it display base64 instead of an image) and some other issues.

Thanks.

[2020-08-25 09:42] thanhvietnguyen255 opened #612 "[Question]"
Hello everyone,
Could you give examples on how to export a form/form submission to PDF file?
Or convert to HTML so from that HTML I can export to PDF file.

I'm using package angular-formio-pdf
However, it's not pretty. It cannot export the signature (it display base64 instead of an image) and some other issues.

Thanks.

[2020-08-25 16:22] wag110894 commented on #608
@PranapSivadasan,

We have created a ticket for this issue. For reference, the ticket number is FJS-1186. We will be taking a look at this when we are working on the next build of the Angular Demo.

We will let you know once this is resolved.

[2020-08-26 10:53] PranapSivadasan commented on #610
@wag110894 Ya that's true. In that case either the **feature of adding data into the fields of builder must be disabled** or irrespective of what we enter into the field must be ignored and JSON data must be stable.

The Formio.js is proper
http://formio.github.io/formio.js/app/sandbox

[2020-08-26 18:07] deivamani7 opened #614 "[Question] Integrating angular-formio with rest-services and database"
Hi Community,
I have to integrate this with my application.
I want a full guide to do this without using portal.formio
I want to create form and i can store the json components in database.
I want to render the form from json component from database.
I want to display the submission data and want to edit or delete the submission data.
Is this possible? please guide me

[2020-08-27 01:34] thanhvietnguyen255 commented on #241
Hi @travist, could you please take a look at this question https://github.com/formio/angular-formio/issues/612
Thanks.

[2020-08-27 14:58] travist commented on #612
angular-formio-pdf is not a library that we support, and PDF export is actually an Enterprise feature that we offer. If you do not want to use our Enterprise platform, then I am afraid you will need to come up with a solution from the community.

[2020-08-27 16:10] thanhvietnguyen255 commented on #612
Thanks for your answer @travist .

Is there no other solution?
I only use the PDF export feature instead of all features of the Enterprise platform so I don't really want to buy it.
I have searched but no luck from the community. Hope you can suggest me some free packages.

Regards.

[2020-08-28 03:35] thanhvietnguyen255 commented on #612
Never mind about it. I will use this package https://github.com/UN-FAO/fast-export

[2020-08-28 03:35] #612 closed

[2020-08-28 15:22] JRiggenbach commented on #502
@dmenne  Assuming you're still waiting for an answer to this?

[2020-08-28 15:23] JRiggenbach commented on #546
@quynhlx  @Tunglong123 Did anyone find a solution or a way around this?

[2020-08-28 15:26] dmenne commented on #502
No, I have totally given up using Formio. Too many rough corners. We switched to ODK Collect, which is not that flexible, but works reasonably.

[2020-08-28 15:26] #502 closed

[2020-08-28 17:03] wag110894 commented on #609
Hello @gismomtl

We are aware of the issue with not being able to select multiple values using HTML5. The ticket for this issue is FJS-526. It is currently on our backlog. We welcome a pull request or have a process to expedite if you are interested.

As for the issue where the strings combine as shown in the type de réponse,  can you try upgrading Angular formio to the latest and see if you are s

[2020-08-31 05:14] Stefan99353 commented on #241
@travist Ok the above commands do work. Is it possible to achieve this using the options binding from the form-builder?
<form-builder [options]="{in here}"></form-builder>

[2020-08-31 05:37] Stefan99353 opened #616 "[Question] How to translate Datepicker"
Hi,

how is it possible to tranlate the Datepicker popup. I think formio is using Datepickr as their picker.
I want to tranlate/set the locale to german.
Can i do this by using the options binding of the formio tag?

[2020-08-31 14:53] travist commented on #241
@Stefan99353 for now, we do not allow you to override components from the options, so this will need to be done within your application code.

[2020-08-31 14:55] randallknutson commented on #616
We have information about this in this issue: https://github.com/formio/formio.js/issues/2040

[2020-08-31 14:55] #616 closed

[2020-08-31 14:55] randallknutson commented on #616
https://github.com/formio/formio.js/pull/3129

[2020-09-02 10:47] buseodaci commented on #614
+1

[2020-09-02 12:16] StefanRupertsberger opened #617 "[Question] File Storage without Portal"
Hello Everyone!

I want to host my own minio (S3) instance for file storage.
As far as I know you have to configure your file storage on the form.io portal.
My problem is that I want my project to be available offline in my local network (no connection to form.io).

Is it possible to provide the necessary configuration directly to the builder/viewer?

[2020-09-02 12:21] StefanRupertsberger commented on #617
And is it possible to get rid of this warning message "You must provide an AppConfig within your application!"?
It breaks the builder when I provide an empty AppConfig as a few people here suggested.
In the wiki it says I need to provide an appUrl to the form.io project. (<-- Don't want to depend on that)

[2020-09-02 14:19] ullas1989 opened #618 "[Question] How to reset form validations on click on formIO button component"
Is there a way to reset form validations when user clicks on a formIo button?

Right now, once validations are triggered, they keep on there until all the validation errors have been fixed.

[2020-09-02 14:57] randallknutson commented on #618
You need to reset the pristine setting on the form. You should be able to do this in a custom script in the button with instance.root.setPristine(true);

[2020-09-04 16:22] wag110894 commented on #468
@mihirsane, are you still able to replicate this issue on the latest version of Angular-formio?

Looking forward to your response.

[2020-09-07 12:45] pooja-waikar opened #619 "getting error at the time of gulp build ('ngc' errored after 59 ms)"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version: 4.10.0-rc.5
- Formio.js version:^4.12.0-rc.13
- Frontend framework: angular
- Browser: chrome
- Browser version:

## Steps to Reproduce
1. git clone https://github.com/formio/angular-formio.git
2. npm install
3. gulp build

## Expected behavior
project should get build

[2020-09-11 16:28] JRiggenbach commented on #591
@wag110894
Are you saying that the Preview will not reflect the default values at the time you are creating them?  You also mention a "Use Tab"...are you just referring to the builder area where you drag and drop the components onto the form?

I have created a custom component (very cool that you can do such a thing), but I've been trying to get the Preview of my component to update in realtime wi

[2020-09-14 03:30] dev-thinks commented on #461
Thank you @travist. This is helpful.

Based on the documentation, I tried overriding file upload template with angular-formio in [here](https://github.com/dev-thinks/formio-custom-file-upload-template), It might helpful for others.

[2020-09-14 16:32] dev-thinks opened #621 "[Question] Any way to include Max file count and total file size in "File" component"
As the referred [angularjs file component](https://github.com/danialfarid/ng-file-upload#full-reference) has this feature, is there a way to define it in anguar-formio file component?

a. max file count allowed
b. total file size allowed

Thanks,

[2020-09-14 19:38] dennitorf commented on #560
Hi team! Any solution about this? I am in the same situation. I used a workaround, and I am forcing the user to make any change in the form in order to know if the form is valid or not. And, another issue is that when the event is fired the first time, the form is not valid, but is coming valid on the event.

[2020-09-14 19:39] dennitorf opened #622 "change and invalid events not working properly"
Hi team! Any solution about this? I am in the same situation. I used a workaround, and I am forcing the user to make any change in the form in order to know if the form is valid or not. And, another issue is that when the event is fired the first time, the form is not valid, but is coming valid on the event.

_Originally posted by @dennitorf in https://github.com/formio/angular-formio/issues/560#i

[2020-09-15 20:40] travist commented on #619
I believe this is caused by an upgrade to Angular 10. We are working on updating this library to the latest version, but do not have that yet.

[2020-09-15 20:42] travist commented on #591
We purposefully turn off certain things within the preview, such as runtime data setting (since it is a preview). This is why the default is not populating. The reference to the "Use" tab is if you are trying this in the Form.io portal @ https://portal.form.io

[2020-09-15 20:48] travist commented on #621
Our file component does not use the angularjs file component. This would be a separate implementation in the formio.js renderer @ https://github.com/formio/formio.js

[2020-09-16 18:15] JRiggenbach commented on #591
@travist Thanks for the response.
Perhaps I'm going about this wrong and it's not really the default value that I'm looking for but more of a "values" section that is available on the Select Boxes component.  I was just going with default values because that's where my custom component rendered with the default TextField edit form.  Any idea if I add a data grid to my custom component edit form if

[2020-09-16 20:47] travist commented on #591
Here is what you can add to your edit form that will resemble the Select Boxes.

https://github.com/formio/formio.js/blob/master/src/components/select/editForm/Select.edit.data.js#L4

[2020-09-17 14:25] wag110894 commented on #562
@gopikrishna123 After investigating this item, our developer has said that there is not an issue here. After the first validation cycle it considers the component as invalid and that's why it validates it on Change instead of on Blur then (if the component is already invalid, we are triggering validation on each change even if 'Validate On' equals to 'blur')
To fix your problem you can just remove

[2020-09-21 12:01] Aghoghomena opened #624 "[Question] Is there a way to get submission json data without submitting the form"

[2020-09-21 14:45] travist commented on #624
Yes, you can... here is an example.

[code]

[2020-09-21 14:49] Aghoghomena commented on #624
Thanks very much

[2020-09-21 14:54] Aghoghomena commented on #624
Is it possible to edit a created form using the json schema

[2020-09-22 22:28] dev-thinks commented on #621
Thank you @travist. but am not seeing a property for max file count when uploading multiple or total file size. Am i missing something or any other workaround?

[2020-09-24 17:26] dennitorf commented on #560
I tried with this approach, but , the custom event for save is triggering twice. You faced this issue?

[2020-09-25 05:20] Dheeraj-Bharti opened #625 "drop zone in custom component in angular-formio"
Hi,
I want to create a drop zone in my custom component that i've registered using the angular-formio.
For ex - I want to make a dropzone in the primeng-panel.
Can you please let me know whether that is even feasible or not in angular-formio.

Thank you,
Dheeraj

[2020-09-25 14:24] #562 closed

[2020-09-26 13:23] haizenbergD opened #626 "[BUG] form elements icons are not clickable (list)"
Hi all.
I am facing with an issue while trying to work with form io items.
For some reasons some of the items in the list have non-clickable buttons which appears on element hover (edit, remove, edit json etc.)
At the same time icons itself displayed (not a bootstrap issue)

This happens only if I am passing data to form builder as json data.

[code]
Please let me know if any additional informatio

[2020-09-27 03:45] #602 closed

[2020-09-27 03:50] bandman0226 opened #627 "[Question] Select Component search when using paging"
I am using a select component and using URL to an external source. I get the data just fine so I added limit and skip to the URL. This works fine as well but it seems to break searching inside the select component.

Is there an option to pass through to the external source the string that is being searched for?

[2020-09-28 04:39] dev-thinks commented on #587
something like this -

[code]

[2020-09-28 14:53] travist commented on #625
Yes, this is feasible since custom components can be created using the "Angular" way described @ https://github.com/formio/angular-formio/wiki/Custom-Components-with-Angular-Elements

[2020-09-28 14:54] travist commented on #621
This would need to be developed as a new feature. You would not see it with current implementation until this feature is added.

[2020-09-28 14:56] travist commented on #626
Will you please work up a live example so that we can see the issue ourselves instead of trying to setup a reproducible case?

[2020-09-28 14:59] travist commented on #627
I believe this is the option called ```searchField``` property within the component JSON.  https://github.com/formio/formio.js/blob/master/src/components/select/editForm/Select.edit.data.js#L324

[2020-09-28 16:18] haizenbergD commented on #626
@travist thanks for the reply!
I was trying to create an example where you can see an issue but no luck.
Actually my form is simple
[code]
Form is object with a components property (array)

One interesting thing it that for items I have issue I see no tooltip text while hover mouse on edit, edit json, remove buttons in the list.

Maybe you can give me some advices why some items may have an issue?

[2020-09-28 17:03] haizenbergD commented on #626
In addition I found that there are no event listeners added to the buttons which have an issue.

[2020-09-28 17:18] bandman0226 commented on #627
I see the field in the form but how do I get it in the url?
I have skip={{skip}}&limit={{limit}}  in the URL but if I add searchField={{searchField}} to that then it does not work.

[2020-09-28 17:52] haizenbergD commented on #626
If there are any ways to force form-builder redraw form items?

[2020-09-28 18:46] haizenbergD opened #628 "[Question] Force form-builder to redraw form"
Hi all, if there are any ways to force `form-builder` redraw form ?
[code]

[2020-09-29 04:47] dev-thinks commented on #621
Thank you for confirmation.

[2020-09-29 04:47] #621 closed

[2020-09-29 07:06] Dheeraj-Bharti commented on #625
I have successfully created and registered the custom component but I want to drag and drop the components inside my custom component. For that I'm unable to find anything. We can create the custom component by extending the nested component in formiojs but how to do it for custom component in angular formio that i'm not able to figure out.

[2020-09-29 10:32] Sansem2 commented on #213
Hi,
I am using Forms.io and I am interested in getting a paid account but I have few questions regarding pdf download,
I have a requirement of downloading filled form as pdf and saving it on azure, can we achieve this from formbuilder in forms.io interface without writing a piece of code for it.
Please help me with the same.

Thanks,
Seema Sharma

[2020-09-29 17:22] michealharrington opened #629 "[Custom Components] Access Relative Form Data"
Hi,
I'm trying to create a custom component that is driven by the data in the datagrid row that it is in.
Ex. Column 1 selects an option from a drop down, my custom component in column 2, needs to know what was selected in column 1.

I can't find any way to have my custom component get access to the forms data.
I've thought about this solution: https://github.com/formio/angular-formio/issues/471 b

[2020-09-29 20:39] travist commented on #626
We are not able to reproduce. Please provide a live example.

[2020-09-29 20:40] travist commented on #625
I am not sure how that is done with the Custom Components feature since we did not develop it, but maybe @merobal knows since he developed it?

[2020-09-29 20:42] travist commented on #213
The only thing that we do not provide is the auto-upload to azure, but we should cover the generation of the PDF with the following API endpoint https://apidocs.form.io/#634ac0f8-0584-4edb-889f-79ee25404cc1

[2020-09-30 10:30] merobal commented on #625
The custom component itself is an Angular component (in this context), so feel free to look at any dropzone implementations for Angular, and use that there.

[2020-09-30 14:14] Dheeraj-Bharti commented on #625
I tried cdk drag and drop but in that I'm not able to drop the components, also it won't give a nested json i mean components inside components as we gets in formio.
I want to create a custom layout component as we create in formiojs by extending the Nested Component with the dropzone provided as we have in layout components.

[2020-09-30 14:55] travist commented on #628
You should be able to pass the refresh input.

[code]

[code]

[2020-09-30 14:55] #628 closed

[2020-10-02 13:35] fzucaro opened #630 "[Question] Where cai i found compatibility between angular-formio with angular ?"

[2020-10-02 14:47] merobal commented on #625
Try other d&d packages and try to compose the JSON inside the ng component and emit via the `value`. (Or you can use an Angular service to save data and combine during API calls.)

[2020-10-02 15:01] travist commented on #630
Are you referring to Angular versions that we support?  Currently the place to find that is in the package.json file where it shows the version that is supported. We are currently working toward coming out with an Angular 10 release which should be ready for testing within the next couple of weeks.

[2020-10-05 09:14] mhamadhdeib commented on #241
@BondDimy  did you figure out how to do it?
If so can you please let me know how I'm kind of stuck.

[2020-10-05 09:17] mhamadhdeib opened #631 "How do I disable some settings in the form element editor modal?"
![image](https://user-images.githubusercontent.com/48261240/95061719-a1c15e00-0704-11eb-9141-dc3db1bdc9aa.png)

For example if I want to disable the description or placeholder option.

Thanks in advance

[2020-10-05 09:34] Stefan99353 commented on #241
Apparently it is not possible. Your best bet would be a custom component.

[2020-10-05 18:23] wag110894 commented on #631
Hello @mhamadhdeib, Have you taken a look at this documentation: https://formio.github.io/angular-demo/#/forms/custom-builder?

[2020-10-06 07:30] Dheeraj-Bharti commented on #625
I'm trying with ngx-dnd, but how to get the list of components to my custom components.
Do you have any POC application for the same that you would to share.

[2020-10-06 07:56] merobal commented on #625
what's the use-case you want to achieve?

[2020-10-06 08:02] Dheeraj-Bharti commented on #625
I've added primeng-tabview ( https://primefaces.org/primeng/showcase/#/tabview ) to my custom component. I want to drag and drop components inside this just like we have tabs in layout section.

[2020-10-06 08:49] BondDimy commented on #241
@mhamadhdeib hey, it was a long time ago, but I have options file I can share with you
hope it will help and you will understand logic how it works, because I've spent a lot of time for it, I've investigated source of this lib etc.

[code]
[formio-options.ts.zip](https://github.com/formio/angular-formio/files/5332384/formio-options.ts.zip)

You need to edit options under `editForm` key

and if I r

[2020-10-06 19:07] dev-thinks opened #633 "[Question] How to detect form changes after binding initial form values using [submission]"
Hello,

Is there a way to detect form changes after binding initial form values using [submission]. something like below:

`<formio (change)="onChange($event)" (ready)="formReady($event)" [form]="form" [options]="options"
                [submission]="initialData"></formio>`

with this setup, change event is getting triggered when binding the initial value itself. so am not able to detect the new

[2020-10-07 17:15] wag110894 commented on #290
Hello,

This should be resolved using Angular version 4.9.6. I hope that this helps.

[2020-10-07 17:15] #290 closed

[2020-10-08 06:45] spicter commented on #194
Any news on this?

I'm using my own backend - not using the formio backend.
It worked perfectly for some days - and suddenly I get the 'getUrlParts() returns null.' error

Any idea?

[2020-10-09 14:53] travist commented on #194
We have not made a change to this code in over 2 years so I am not sure what could be causing the problem other than maybe the browsers behave differently now and do not return values expected by this function. What browsers are you using to reproduce this issue?

[2020-10-09 17:13] spicter commented on #194
Hi Travis,

first of all great thx for your fantastic framework.

It’s one of the rare frameworks which just works!

it only fails if you do totally crazy things with it - I tried to include the Renderer as a custom component in the Builder :-)

This messed up everything :-)

Sorry the disturbance !

Thx again

Andreas

[2020-10-12 10:21] Dheeraj-Bharti commented on #625
Any updates on this?

[2020-10-12 14:32] merobal commented on #625
I haven't yet discovered how you can combine both scopes. Imagine that you have an Angular component and you want to include a part of an external lib, in this case, formio>angular>formio.

This Custom Components solution is designed for form fields (form inputs) when you wish to embed Angular fields inside formio, e.g. if you want to deliver the same UI across your Angular apps but enjoy the WYSI

[2020-10-14 12:03] Kadhiresan-K commented on #631
@mhamadhdeib You can disable the placeholder option like below

"editForm": {
    "textfield": [
        {
            "key": "display", //Tab name
            "ignore": false,
            "components": [
                {
                    "key": "placeholder", //Property name
                    "ignore": true
                }
            ]
        }
    ]
}

[2020-10-14 18:12] max-in-to commented on #480
Has there been any updates on this recently?

[2020-10-15 17:55] penrodlol opened #634 "[Question] Can you provide a shared prop for duplicate customConditional props across multiple components/tabs/etc.?"
Scenario: I have a formio-builder whos JSON config has multiple components and tabs. Some of these components and tabs share the same customConditonal prop w/ same logic.

Proposition: I'd like to cut back on the redundancy here by potentially providing some form of shared config prop in which each customConditional duplicate scenario can inherit. I know of ways where you can use FormioUtils to tr

[2020-10-15 18:01] Kadhiresan-K opened #635 "How to set the disabled/ readonly option dynamically to the form properties/attributes [Question]"
While rendering the Form, Any input controls created with default behavior should be changed into read-only mode dynamically based on some scenario(s).

scenario 1: If normal user logins, they can only see their email address (email field should not be editable)
scenario 2: If admin logins, they can change the user address (full privileges)

Note: User-based customizations like the normal user log

[2020-10-15 20:47] travist commented on #634
This is what form modules can do. If you use our hosted platform, you can see this if you edit your project configuration and click on Custom JS and CSS. Here you can do something like this.

[code]

This will now introduce ```validatePhone``` into all evaluation contexts and can be used like so.

[code]

This can also just be passed into the renderer using the options of the renderer itself if yo

[2020-10-15 20:49] travist commented on #635
You can achieve this with Logic.  The trigger will need to reference the logged in user like so.

[code]

[2020-10-15 21:34] penrodlol commented on #634
@travist Used this in my project and it worked! Thanks!!

[2020-10-15 21:34] #634 closed

[2020-10-16 06:14] Kadhiresan-K commented on #635
@travist thanks a lot for the response

But my doubt is, I want to make the input field as readOnly/disabled based on my custom condition while rendering the Form dynamically.

For example, If I add readOnly=" true", its making entire from as read-only mode (Ref the attached screenshot below)
![Screenshot 2020-10-16 at 11 30 21 AM](https://user-images.githubusercontent.com/70190306/96218757-0309ec

[2020-10-16 20:43] travist commented on #635
You would just attach Logic to that field specifically and not the whole form. The Logic tab can be found by editing that component and then clicking on the Logic tab.

[2020-10-19 05:04] qingliaowu opened #636 "[Question] Does this project support Angular 10?"
Does this project support Angular 10?

[2020-10-19 14:42] travist commented on #636
Yes, we just upgraded this library to Angular 10, but it is still in an "alpha" state. The version 5.x of this library is the version that supports Angular 10. This is currently available as 5.0.0-alpha.1 but we are in the process of upgrading our applications to fully support and test the official 5.x release.

[2020-10-20 03:56] qingliaowu commented on #636
Got it, thank you Travis

[2020-10-20 03:56] #636 closed

[2020-10-20 07:53] Kadhiresan-K commented on #635
@travist thanks for the response

I will try with the Logic tab when creating a new Form.

Also for dynamic customization, when rendering the form I am adding the conditions like below for some scenarios.
 Iterate over the form components and set the flags on any fields.

for (const control of inputFromJSON) {
    if (control.key == 'email') {
        // read-only
        control.disabled = true;

[2020-10-20 14:37] dev-thinks commented on #633
did something like this using lodash,

`onchange(event: any){
const isChanged = !_.isEqual(event.data, actualDataWhenBinding);
}`

[2020-10-20 14:37] #633 closed

[2020-10-21 07:26] chaixdev commented on #505
couple of months later, any update on Ivy support?

[2020-10-21 14:02] wag110894 commented on #505
Hello @chaixdev, This item is still on our developer's list. We will let you know once this issue has been resolved.

[2020-10-22 06:27] #635 closed

[2020-10-22 15:56] fhasni commented on #460
@travist I used the same code snippet you provided & am getting this error `ERROR TypeError: Cannot read property 'prototype' of undefined`, I am using  angular-formio 4.11.0

[2020-10-22 17:14] Kadhiresan-K opened #637 "Data table data filter option, Column level search functionality [Question]"
Hi All and @travist

**Question**: How to add a column-level search option in the data table, like the below-attached image I need to provide a filter option to the end-user.

![Screenshot 2020-10-22 at 10 30 49 PM](https://user-images.githubusercontent.com/70190306/96905590-44742d80-14b6-11eb-9308-e64ba551f5f1.png)

Here using Search Name, Search Position, Office, Age, Start date, and Salary text

[2020-10-23 14:39] travist commented on #637
We do not have a search option in our "built-in" grid feature. It would need to be added. The other alternative is you can hook up any grid library to the API's provided by the Form.io submission API's.

[2020-10-23 14:42] travist commented on #460
It probably needs to be the following.

[code]

[2020-10-23 18:56] wag110894 commented on #480
Hello @max-in-to can you try using the latest version of angular-formio and see if the issue has been resolved? The newest stable version of Angular-formio is 4.11.0.

[2020-10-23 20:56] kamaloush opened #638 "[FEATURE REQUEST] Variables exposed in Logic Tab of a component configuration"
- Hosting type
  - [] Form.io
  - [x] Local deployment
- Angular Formio version: 4
- Frontend framework: ionic

I would like to propose an feature wich could be very usefull. Let me explain :
Currently, in the tabs of a component configuration, they are two tabs : Validation and Logic.
In Validation, we can define a custom validation with this variables :
![image](https://user-images.githubusercon

[2020-10-26 04:53] Kadhiresan-K commented on #637
ok, thanks

[2020-10-26 14:11] Kadhiresan-K commented on #637
Hi All and @travist

Is there is any way to detect the TextField onChange, instead of capturing Form onChange
(OR )
Is there is any way to add a custom function(trigger) to the TextField, So that I can write my own logic to filter the data for the data table, like the screenshot attached in the previous message?

[2020-10-26 21:09] travist commented on #638
Are you proposing to have a "Custom Action"? That would be very useful!

[2020-10-26 21:16] travist commented on #637
You can do something like this.

[code]

[2020-10-28 12:16] mohammadaaqib opened #639 "pagination in forms [Question]"
In my angular 8 application, I want to create a form that is of multiple pages. Because the form is too lengthy. So  I need a pagination or Wizard feature in my app. how can I do this?

[2020-10-28 15:00] travist commented on #639
Our forms can be changed to display "wizard" which does what you are asking for.

[2020-10-28 15:00] #639 closed

[2020-10-28 15:03] MiguiTE commented on #542
Same here. I've created a form with a _Select_ component that triggers the _URL_ only once (once I clicked as it has **lazy load**). After navigating through other pages in my app and returning to the form, it doesn't call the URL again. Even with the **refresh on any change** option, it doesn't call the URL again.

@wag110894 Easily reproducible (refresh on case) in [formio builder](https://formi

[2020-10-28 15:22] jesusduranevenbytes opened #640 "[BUG] File field is not generating the base64 content in the submission object when uploading large files"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: 4.8.0-beta.7
- Frontend framework: Angular v9.1.11
- Browser: Google Chrome
- Browser version: Version 86.0.4240.111 (Official Build) (64-bit)

## Steps to Reproduce
1. Create a form with a file field with the following settings:
[code]
2. Upload a

[2020-10-28 17:25] wag110894 commented on #640
@jesusduranevenbytes,

We recommend that you do not use base64 as your file storage if you are needing to upload large files.
We recommend using S3, using a custom URL, Dropbox, or Azure Blob Storage. Here is our documentation on these other file storage: https://help.form.io/integrations/filestorage/

I hope that this helps.

[2020-10-28 19:32] SGhantous commented on #560
I'm also wondering how to check if the form is valid. Currently when I make a change in one of my fields that triggers a validation error (required for example), the form in no indicates that it is Invalid other than the message under the field with an error. I should mention this is with Custom Components.

[2020-10-29 09:01] jesusduranevenbytes commented on #640
@wag110894,

Thank you for your answer.

We are using Cloud Storage for Firebase as our server for storing files, and specifically Firebase Storage for Web library to manage the file uploads and downloads. We would need the file as [base64, File object, byte array or string (base64, base64url or data_url)](https://firebase.google.com/docs/storage/web/upload-files) in order to be able to upload the

[2020-10-29 10:22] #637 closed

[2020-10-29 14:50] analorios93 opened #641 "[BUG] The back camera is not enabled in file component"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: 4.11.0
- Frontend framework: Ionic 5.4.16, angular 9.1.11 with cordova 9.0.0
- Browser:
- Browser version:

## Steps to Reproduce
I have 4.11.0 angular-formio version and I have configured the settings of my component as:
[code]
I am testing my ioni

[2020-10-29 20:47] travist commented on #640
This would need to be a custom file upload provider as seen @ https://github.com/formio/formio.js/tree/master/src/providers/storage.  It may not be that complicated since you have other examples there, and then you can set the provider value in the JSON of the component and it will upload to that provider.

[2020-10-30 19:12] wag110894 commented on #542
Hello @MiguiTE, can you provide a jsfiddle as well as a video of the issue?

[2020-10-30 19:12] wag110894 commented on #641
Hello @analorios93, can you provide a video of the issue occurring?

[2020-11-02 07:24] MiguiTE commented on #542
Hello @wag110894! I do not know how to use jsfiddle to reproduce the navigation part, but I do can provide one where the **refresh on** options doesn't work. And also a video about it on formio builder.
- [JSFiddle](https://jsfiddle.net/5wc0e86z/)
- [Video](https://imgur.com/a/BteU1ym)

In the video, you can see that despite having *refresh on any change* when I change the value of the component *

[2020-11-02 09:33] analorios93 commented on #641
In the video I'm attaching, you will see how is the front camera enable when clicking on "Take Picture" Button.
[Video with issue.zip](https://github.com/formio/angular-formio/files/5473917/Video.with.issue.zip)

[2020-11-02 14:40] huangchinlin opened #644 "[BUG] [FormBuilder] Property name in API page don't allow Chinese but will be changed automatically once Label in Display Page is typed with Chinese."
angular-formio: 4.11.0
formio: 4.12.0-rc.19

[FormBuilder]
Property name in API page don't allow Chinese but will be changed automatically once Label in Display Page is typed with Chinese.

[2020-11-02 15:29] wag110894 commented on #641
Can you try and click the browse button instead and select "Take Photo" and see if you are able to switch to the back camera from there?

[2020-11-02 16:07] wag110894 commented on #644
Hello @huangchinlin,

Thanks for reaching out!

You can save the component initially and then go back and change the Label to Chinese.

[2020-11-02 16:45] analorios93 commented on #641
[Video 2.zip](https://github.com/formio/angular-formio/files/5476539/Video.2.zip)
Thank you for your answer Will,
As you can see in the video I attached, the browse button just takes me to my phone gallery and there is no "Take Photo" button there.

[2020-11-03 02:03] huangchinlin commented on #644
@wag110894 Thanks! It can be a temporary solution, beacuse need at least 2 times efforts to create a new form.

I'd like to suggest that can make a global setting to assign the prefix for "Key" value. When it be setted, related processes can reference it to generate the "Key" value in "New Form process".

for example:
  if prefix != "" or undefined or null, the result of Key will be prefix1~N.
  e

[2020-11-03 08:22] jesusduranevenbytes commented on #640
Thank you for your responses, we will look into it.

[2020-11-03 16:19] travist commented on #644
We would support such an option. If you add a pull request to https://github.com/formio/formio.js with this proposed change, then we will review and accept it.

[2020-11-04 04:53] huangchinlin commented on #644
@travist Thanks for reply. I have post the request. https://github.com/formio/formio.js/issues/3457

[2020-11-04 11:16] #644 closed

[2020-11-06 14:27] wag110894 commented on #542
Hello @MiguiTE, are you wanting to clear the pokémon select URL when a change occurs? If so, then you will need to add the Clear Value On Refresh Options checkbox on Data Select Settings.

[2020-11-06 20:51] wag110894 commented on #641
@analorios93, Can you provide an example so that we can replicate?

[2020-11-07 11:54] MiguiTE commented on #542
Hello @wag110894, what I really want is to refresh the pokémon options when any other value changes (or even better, every time the form is loaded).

The URL where the options come from is just triggered once, the first time the form is loaded. Despite having **refresh options on any change**, the options aren't refreshed (and the url is not triggered). I do even have **Persistent** option to **no

[2020-11-09 20:02] praveend03 opened #649 "[Question] Adding styles to one of the columns in column component"
Hello,

I am exploring and learning the angular-formio, I would like to know whether anyone can add a style, for ex: border, to one of the columns in the column component. I am not able to find a way to customize the styles for each of the columns in the column component. I would really appreciate your help to answer this question. Thank you.

[2020-11-10 11:17] vaishnavm217 opened #650 "[Question] Using Data table on custom stored submissions and form template"
similar to this https://github.com/formio/angular-formio/issues/185,
Is their anyway to show responses using `<formio-grid>` tag similar to the `form` and `submission` parameter passed

[2020-11-10 12:30] buseodaci commented on #355
@kkhanhluu did you solve this ?

[2020-11-10 21:47] travist commented on #649
This would be done with just CSS added to your Angular application.

[2020-11-10 21:49] travist commented on #650
Not sure what you mean by "show responses"...

[2020-11-11 05:07] vaishnavm217 commented on #650
The responses from the form is being stored in firestore rather than using the service. The formio grid only has `src` facility rather than like `form` or `submission` etc

[2020-11-11 14:59] praveend03 commented on #649
@travist Thank you very much for the response.

[2020-11-11 14:59] #649 closed

[2020-11-12 15:34] travist commented on #650
We currently do not support this. It would need to be introduced via community contribution.

[2020-11-16 09:01] kari0003 commented on #459
I've received this error while running tests, and importing `FormioModule` to the TestBed fixed the issue for me.

[2020-11-16 14:53] #459 closed

[2020-11-16 14:53] travist commented on #459
Thanks @kari0003

[2020-11-19 14:54] mohammadaaqib opened #657 "Dynamic variable in (Select Component) "Data Source url" [Question]"
i want to pass dynamic path param in my URL like (https://vpic.nhtsa.dot.gov/api/vehicles/{{_makerId_}})
can i pass dynamic variable  **makerId** from my component

[2020-11-20 21:59] travist commented on #657
You just need a component on your form called "makerId" (it can be a hidden field). Then, you will add the following for your URL.

```https://vpic.nhtsa.dot.gov/api/vehicles/{{data.makerId}}```

you will then need to ensure that this url component refreshes on the makerId component (there is a configuration for that)?

[2020-11-21 08:14] mouliraji commented on #292
I had the exact same issue, I could able to resolve by referring the bootstrap CSS and fonts in my index.html file.
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font

[2020-11-22 16:28] mohammadaaqib commented on #657
thanks, @travist  for your reply. From component I mean my angular component. I want to pass makerId from my angular component In select URL

[2020-11-22 16:47] #657 closed

[2020-11-24 07:39] shilokeisar opened #661 "custom component get component reference when render the component"
I'm developing in ANGULAR 10

I use form.io form-builder to render components

I add custom component that drow grid (ag-grid) According to this link [add custom Components with Angular Elements][1]

every think work well

I drag and drop the table several times to draw multiple tables.
I enclose a photo of how the form looks like after the drag and drop action into the form

[![enter image descri

[2020-11-24 17:16] wag110894 commented on #629
@michealharrington, are you still experiencing this issue? If so, we do offer Support Packages that are for training, support or development services. The hours can be used in one-hour increments at your convenience over a 90 day period. We will assign one of our senior developers to work directly with you in online sessions. Please let me know if you are interested and I can provide you with our

[2020-11-24 17:59] michealharrington commented on #629
I found a way around this by using Logic to pass data down into the "placeholder" input where my custom component can grab it and perform actions on it.

[2020-11-24 18:42] wag110894 commented on #629
Great to hear! I will close this ticket.

[2020-11-24 18:42] #629 closed

[2020-11-24 21:46] travist commented on #661
This would be part of the component JSON that is injected into the renderer. I am not familiar with how the custom component stuff works, but from lookin at https://github.com/formio/angular-formio/blob/master/projects/angular-formio/src/custom-component/create-custom-component.ts#L43 it appears that it is defined as ```this.component```.  This means that these settings should be available in that

[2020-11-26 07:16] gouravsachdeva opened #666 "Angular custom component in Nested component is not working properly"
Hello,

1.) We are adding angular custom components inside a Panel component and assigning the whole as a Nested component. It's working only when the panel component is expanded and once we'll collapse and expand again. custom component's element is not getting rendered.

**Before Collapse**

![image](https://user-images.githubusercontent.com/24933333/100318229-b70b8800-2fe3-11eb-9f9f-b7019386611

[2020-12-02 14:23] jesusduranevenbytes commented on #384
@dolphinsd can you explain a bit how you structure your code?

I have created a class like MyStorageProvider where I'll handle the file uploads/downloads. How do I add it as a storage provider? Where do you modify the Formio object? I have tried setting it in both the component which shows the form and the App Component, and it didn't work.

In both cases, when I select a file to upload from my PC

[2020-12-02 15:46] SAkhil95 opened #671 "[BUG] Data Grid - Modal Edit not rendering as previewed in builder"
## Environment
Please provide as many details as you can:

Stackblitz link :: https://stackblitz.com/edit/angular-formio-datagrid-modal-edit

I am trying out data grid, there are too many columns in my case.
So, to make the look & feel better I have selected the Modal Edit option in data grid such that the user will fill the form in Modal and when they click on save, we'll set the values automatic

[2020-12-03 19:09] learner291 opened #672 "Question: Angular-formio vs formio.js"
I have a couple of quick questions regarding the two libraries. Does the angular-formio contain all the components that formio.js has? Is there any major differences between the two libraries apart from the platform?

[2020-12-03 19:55] wag110894 commented on #672
Hello @learner291,

Thanks for reaching out!

Angular-formio contains all that form.io has. As you can see in the changelogs, that formio.js is referenced in angular-formio. https://github.com/formio/angular-formio/blob/master/CHANGELOG.md
There are no major differences between the two libraries.

I hope that this helps.

Thanks.

[2020-12-03 20:47] wag110894 commented on #671
Hello @SAkhil95, Thanks for sending this over.

1. The Add new button is not coming up in the stackblitz but coming up in my local with same JSON
**The add another button is showing on the form that we created**

2. The Modal edit as shown in builder preview is not appearing in the actual rendered form.
**This is working on our form as well**

3. But, the actual form is getting rendered as followi

[2020-12-03 21:40] learner291 commented on #320
I am receiving the same error on formio, did you manage to fix this issue?

[2020-12-03 21:43] learner291 commented on #672
Thanks

[2020-12-03 21:43] #672 closed

[2020-12-03 22:02] learner291 opened #673 "Error NG8001: 'formio' is not a known element"
I have used formio.js successfully for a while and now I am checking out angular-formio but I am receiving Error NG8001: formio is not a known element. I have followed the [angular demo](https://github.com/formio/angular-demo) and compared it with my project but unable to find any difference in my project.

Can someone please help, I have spent a couple of days trying to figure this out but to no

[2020-12-04 11:02] learner291 commented on #673
My package.json is given below.

[code]

[2020-12-04 12:01] learner291 commented on #673
Updating this item again, in case someone can pickup the issue and help resolve?

I deleted node-modules and installed everything again but still the same error appears. I got the below warning regarding incorrect peer dependency, could this be the reason?

[code]

[2020-12-04 14:15] learner291 commented on #673
Further update,

If I use `Formio.CreateForm` in test.component.ts and use `<form id='formio'> </form>` in test.component.html file then it works but I suppose this is using formio.js library instead of Angular.

Can someone please help how to fix angular-formio issue?

[code]

[2020-12-06 16:45] learner291 commented on #673
I have manged to fix this issue. This issue was not related to angular-formio.

I needed to import angular-formio in a different module which was the requirement of the framework I was using.

[2020-12-06 16:45] #673 closed

[2020-12-07 14:55] travist commented on #320
We have moved on from Angular 7, so we will not be able to provide support for this. Maybe someone from the community has ran into this problem and has a solution?

[2020-12-08 19:23] michealharrington opened #675 "[Custom Components] Custom component is re-rendering on every form change"
After upgrading Angular to 10, my custom formio component is now refreshing on every form change which is resulting in the component losing it's state and flashing while it loads the previous state from the outer form.

The component is being destroyed and re-inited on every keystroke.

I'll gladly provide any other information needed.

[2020-12-09 15:48] michealharrington commented on #675
Investigating this more, it seems to work as long as I don't install a newer version of formiojs 4.11.3.

[2020-12-09 17:59] wag110894 commented on #675
Hello @michealharrington, what version of angular-formio are you using?

[2020-12-09 18:14] michealharrington commented on #675
The latest I could get to work was
angluar-formio = 4.9.6
formiojs = 4.11.3

[2020-12-09 21:11] wag110894 commented on #675
Hello @michealharrington, Thanks for providing your version. Form.io offers Support Packages that are for training, support, or development services. The hours can be used in one-hour increments at your convenience over a 90 day period.  We will assign one of our senior developers to work directly with you in online sessions. I would be happy to provide you with our Support Packages Documentation

[2020-12-10 06:56] SAkhil95 commented on #671
Hi @wag110894 ,
Thanks for the prompt response.

Can you please verify, what I am missing here ?  because the modal is not coming up in my local though I followed the demo application.

- package.json

[code]

- Angular.json builder options
[code]

Thanks.

[2020-12-10 07:24] SAkhil95 opened #680 "[Question] Form IO Evaluation"
Hi Team,

At the moment, we are evaluating Form IO to help us become our centralized form builder application. To that end we are trying to develop few forms. We are in need of following to go ahead and make decision on buying.

1. How we can make the form have a nice look and feel? At the moment, Bootstrap is not enough to provide sort of look we are looking at and based on the material we went t

[2020-12-10 12:38] SAkhil95 opened #684 "[Question] Showing Chart in Angular 2+ (preferably Angular 9)"
Hi Team,

I am trying to add/use charts in our form.

I noticed that there's already a solution to achieve this but the implementation uses Angular 1.x.
Reference :: https://github.com/formio/formio/issues/198

I just wanted to request if any such implementation can be provided for Angular 2+ (preferably Angular 9)

**Use case ::**
I need to implement a Risko meter which will get calculated based

[2020-12-10 15:22] travist commented on #684
That would be a cool component. Unfortunately I cannot think of anyone implementing a component that does such a thing, so you will need to implement this one on your own.

[2020-12-10 17:10] wag110894 commented on #590
Hello @krishanil, This issue has been resolved in version 4.11.2 of Angular-formio.

[2020-12-10 17:10] #590 closed

[2020-12-14 14:55] travist commented on #671
If you need this to be responsive, then you should not be using DataGrid. We actually would recommend using EditGrid instead. Is there a reason you need datagrid on Mobile?

[2020-12-14 15:48] SAkhil95 commented on #671
Thanks for the suggestion @travist . I actually didn't find any documentation which states the difference b/w Data grid and Edit grid. There's already a question (https://github.com/formio/formio/issues/1145) opened by someone which is still unanswered.

However, I will definitely try out Edit Grid. Thanks 👍

[2020-12-15 04:36] mayankhpr opened #686 "[Custom Components] with Calculated value"
Hi Team,
Calculated value is not working with custom component.  I have created RadioButtonsComponent. RadioButtonsComponent implements "FormioCustomComponent". I need "calculateValue" filed information in my TS file.

[2020-12-15 04:42] mayankhpr opened #687 "[BUG] Conditional drop down"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1. Create custom component file and option definition file (edit.json)
2. for my select (redraw on in "data" tab and "when the form component" in "conditional Tab") "dataSrc"

[2020-12-15 05:05] mayankhpr commented on #687
![image](https://user-images.githubusercontent.com/30601917/102173551-3d8bea80-3e69-11eb-90a6-4b47ea5cd994.png)

[2020-12-15 13:26] SAkhil95 commented on #680
Closing this. we got response from support@form.io

[2020-12-15 13:26] #680 closed

[2020-12-15 19:12] penrodlol opened #689 "[Question] [object DocumentFragment] as required message"
For the formio builder, when Im in context of 'Select Boxes' and I navigate to my 'Data' tab and click 'Save' without filling out required fields, Im presented with the error message as shown on the image. Not sure if this is a bug or something that's gone wrong in our builder configuration json. Without diving in to the finer details of the configuration, is there any quick resolution that can so

[2020-12-15 19:20] wag110894 commented on #689
@penrodlol,

Thanks for reaching out!
It looks like you are running on an older version of angular-formio. Can you try upgrading and see if the issue still occurs?

[2020-12-15 19:36] penrodlol commented on #689
@wag110894 I upgrade to v4.11.2 the issue still remains... Here's a snippet of our config:

![config](https://user-images.githubusercontent.com/53282218/102263882-e32f7000-3ee2-11eb-9c9b-21b54dfda263.png)

[2020-12-17 20:01] wag110894 commented on #687
@mayankhpr, can you provide the form where you are running into this problem?

[2020-12-17 22:03] wag110894 commented on #689
Hello @penrodlol, we are still not able to replicate on our side. Can you provide a JSFiddle of this issue taking place?

[2020-12-17 23:40] mayankhpr commented on #687
it's in my local. I can't share the URL.

[2020-12-17 23:44] mayankhpr commented on #687
I can provide you the template configuration file

[2020-12-18 13:55] wag110894 commented on #687
Could you provide the JSON?

[2020-12-18 14:05] mayankhpr commented on #687
Please find the JSON.
{
	"components": [{
			"type": "tabs",
			"key": "tabs",
			"components": [{
					"key": "display",
					"components": [{
							"weight": 0,
							"type": "textfield",
							"input": true,
							"key": "label",
							"label": "Label",
							"placeholder": "Field Label",
							"tooltip": "The label for this field that will appear next to it.",
							"validate": {

[2020-12-21 09:03] fhasni opened #690 "Translation of custom components is not documented for angular-formio"
How to make custom components translatable in angular-formio? translation of angular custom components is not documented.

[2020-12-24 11:54] learner291 opened #691 "cdn.form.io/flatpickr/flatpickr.min.js and min.css not found"
One of our projects is hosted internally and does not have access to internet. When we run the project, calls to flatpickr.mins.js and min.css fail because internet access is not allowed. I have searched the entire project but unable to find the reference to this file. Do I need to install any component so that these two files are available locally and cdn call is not performed?

Thanks

[2020-12-28 14:38] travist commented on #691
If you want this to work offline, then you will need to include Flatpickr as part of your application like so..

[code]

Our renderer will first check to see if there is a globally available Flatpickr and will not lazy load the CSS or JS if it is available.

[2020-12-28 14:39] #691 closed

[2020-12-30 10:52] animeshk874 opened #693 "Formio slows down after validation error"
We have a pretty complex form with conditional fields and custom validation. These forms lag a bit initially, but it works. However, the moment I get some error due to validation, the form slows down a lot. It takes almost 2-3 seconds (or even more) to register key presses and hide/show conditional fields. And since everything is synchronous, it blocks the main thread, leaving the entire page unus

[2020-12-30 13:58] jhen1422 commented on #693
@animeshk874 Could you please try upgrading to angular-formio version: 5.0.0 to see if that resolves the issue?

If the issue persists after upgrading, please include a jsfiddle of the form showing the slowdown.

Thanks!

[2020-12-30 14:06] animeshk874 commented on #693
Thanks @jhen1422

[2020-12-30 16:26] learner291 commented on #691
Thanks @travist for your suggestions.

I added the suggested code but I get Module has no exported member 'flatpickr' error.

![image](https://user-images.githubusercontent.com/40409548/103350310-74801400-4a97-11eb-9edb-a2cfeb07882c.png)

So after searching web a lot, I used the below statements, and now `flatpickr.mins.js` error does not appear however it is still unable to find min.css file, whi

[2020-12-31 04:35] animeshk874 commented on #693
Thanks @jhen1422. Will try upgrading the version

[2020-12-31 16:02] learner291 opened #695 "Custom Data Src not working in Angular version [Question]"
I have implemented a form which works fine in formio.js. I have a requirement to migrate it to angular version. I have done majority of the converstion, however I am stuck on one item for the last couple of days and would appreciate if someone can help.

The [fiddle (click)](https://jsfiddle.net/e35Ls4gj/) shows the working version on formio.js. The issue is with the way I am configuring custom da

[2021-01-03 16:48] MosabAbuzaid commented on #348
Hi all
I have the same issue and want to salve it on your way but I can't understand where exactly you told the code where to append the dialog?

[2021-01-03 17:52] MosabAbuzaid commented on #348
Hi @felipebelluco  how did you moved the dialog after catching the event because I used that same way but when I moved the dialog it's stopped working

[2021-01-03 19:35] MosabAbuzaid commented on #348
Hi
can anyone tell me what is the correct way to move the dialog because all of its event listeners are based on dialog appended  directly at the root of the body and when I moved it all events stop working like close and navigate between tabes

[2021-01-04 15:00] travist commented on #695
You cannot use ```this``` in custom execution code. Try to use ```instance``` instead, like ```instance.getGenderValues()```

[2021-01-04 15:02] travist commented on #691
You just need to import the flatpickr.css file into your SASS file of your application.

[2021-01-04 16:41] learner291 commented on #695
I have tried the below code but still receiving the error, please see below the code and the error.

[code]
I have also tried below code but to no avail.

[code]

![image](https://user-images.githubusercontent.com/40409548/103557660-6d983d80-4eab-11eb-92f4-a148773bd69c.png)

[2021-01-04 17:34] wag110894 commented on #686
Hello @mayankhpr,

Thanks for reaching out!

We do offer Support Packages that are for training, support or development services. The hours can be used in one-hour increments at your convenience over a 90 day period.  We will assign one of our senior developers to work directly with you in online sessions.

Please let me know if you would like to view our pricing document.

Thank you,

William Gay

[2021-01-04 17:35] wag110894 commented on #690
Hello @fhasni,

Thanks for reaching out!

We do offer Support Packages that are for training, support or development services. The hours can be used in one-hour increments at your convenience over a 90 day period. We will assign one of our senior developers to work directly with you in online sessions.

Please let me know if you would like to view our pricing document.

Thank you,

William Gay

[2021-01-04 18:28] mohammadaaqib opened #697 "[Question] Disable or hide action button of field-set"
i want to disable or remove these action buttons  for some user . Can i achive this ? if yes than How ?

![remove button](https://user-images.githubusercontent.com/14867369/103566643-28443200-4ee4-11eb-9cdc-14518d8f6b6b.png)

[2021-01-04 18:32] learner291 commented on #695
@travist I have managed to call the method using ngZone, however, I would appreciate if you could tell me if there is easier way as in javascript version I only needed to use `values = this.getGenderValues()`

I have added the below code in the constructor.

[code]
I then changed the schema to below.

[code]

It is now calling the method. However, I am getting the data from the server so getGender

[2021-01-04 21:42] travist commented on #695
You could add a global method to the evalOptions like so.

[code]

Then, in your component, you would have the following.

[code]

[2021-01-05 13:19] learner291 commented on #695
I am afraid still no luck after trying your suggestion. Please see below my code.

[code]

**My component**

[code]

I get the below error.

![image](https://user-images.githubusercontent.com/40409548/103650233-9bd35700-4f57-11eb-9795-ec0611b8aff3.png)

I then added the below code in the constructor of my component

[code]

AND changed the json schema to below, and error disappears but the drop do

[2021-01-05 21:49] travist commented on #695
This would probably require some developer support if you want the Form.io team to dive in and investigate why it isn't registering correctly. Maybe someone from the community could help out?

[2021-01-06 18:08] learner291 commented on #695
What would be the cost and would that only be paid if developer is able to fix it?

[2021-01-07 09:21] ThakkarHardik commented on #507
@travist @Alena-Levina any update on this ?

[2021-01-07 09:25] dmenne commented on #507
I gave up using formio. Not suitable for serious development because the authors simply don't care.

[2021-01-08 14:54] travist commented on #695
Please contact support@form.io and we will discuss this offline.

[2021-01-08 15:03] travist commented on #507
@ThakkarHardik can you confirm that this is still an issue with the @formio/angular v5 release with latest formio.js renderer? If so, then our ticket we have for this is still valid. It is in our backlog, but there have been other items deemed as higher priority. If this is a huge blocker for your implementation, then it may be necessary to expedite this through the Form.io Developer support funct

[2021-01-08 20:19] wag110894 commented on #697
Hello @mohammadaaqib, you can accomplish this by editing the form builder.

[2021-01-08 20:50] wag110894 commented on #687
Hello @mayankhpr,

Sorry for the delayed response, we are having issues getting the json above to work. Could you provide an Embed URL from form.io or a JSfiddle?

[2021-01-08 22:07] penrodlol commented on #689
@wag110894 Ended up being a mistake on our side. Apologies.

[2021-01-08 22:07] #689 closed

[2021-01-11 18:56] mohammadaaqib commented on #697
hi, @wag110894 thank you for your reply.
any example or anything which helps me in this regard

[2021-01-12 15:39] travist commented on #697
You need to override the template https://github.com/formio/formio.js/blob/master/src/templates/bootstrap/builderComponent/form.ejs using the documentation found @ https://github.com/formio/formio.js/wiki/Templates-API#overriding-templates

[2021-01-15 22:33] tvaidyan opened #699 "How to populate a dropdown control from own backend data store at runtime?"
I'm embedding a form.io form in my Angular application.  Within this form, there is a dropdown control.  I want to programmatically add items into this dropdown control when the form is rendered from within my angular component.  How can I achieve this?  To be clear, I can't determine the values that will be in this dropdown, ahead of time (during form design time).  It can only be fetched from an

[2021-01-17 20:58] mehdi47 opened #700 "How to Call Formio Validation Function on Custom COmponent"
Hi,

I'm currently using angular-formio in a project, i created a custom phone component using ngx-intl-tel-input, when i click on the submit button, the custom component phone validation doesn't work, so my question is this : how can i call the formio validation on my custom component so i can cancel submission if there are any errors ?

Thank you.

[2021-01-18 09:36] pathompongthapuech opened #701 "[BUG] Validation on blur not working on day component."
## Environment
- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: 4.11.1
- Frontend framework: Angular 9
- Browser: Chrome
- Browser version: 87

## Steps to Reproduce
1. Add a day field into the form builder.
2. Set validation on blur.
3. Make sure to check Require Day or Month or Year.

## Expected behavior
Validation error message must be displayed when t

[2021-01-18 14:29] wag110894 commented on #701
Hello @pathompongthapuech,

In order for the validation blur to fire, you need to insert data into the Day component. You will also need to add a min year and max year (ex. Need to have the year in-between 2000 and 2021). You will fill out the component and trigger the min or max validation. You will then tab into a new component and begin typing, then the validation will trigger saying that the D

[2021-01-18 14:42] travist commented on #699
This can be done by creating an API endpoint for your own backend data, and then configure the Select dropdown to use the URL based data source, and then point that to the API endpoint connected to your own dataset.

[2021-01-19 04:40] #701 closed

[2021-01-19 14:21] fhasni commented on #690
How can I reach you to get this support package?

[2021-01-19 14:26] wag110894 commented on #690
Hello @fhasni,

You can contact support@form.io and say that you are interested in a support package.

[2021-01-19 14:59] tvaidyan commented on #699
Thank you @travist !  But, can you please weigh-in on a couple of the details of my use-case?

1. The values that I need to pull from my own database backend is depended on something else on the loaded form.  For example, say I have a dropdown value of "Car Makes".  If the user picks "Toyota" from this list.  I want to call my backend API with a parameter of "Toyota" and have it return all the "Ca

[2021-01-20 09:01] arjel commented on #505
Hello, sorry to bother you guys ... any update on Ivy support yet?
Thanks!

[2021-01-20 15:43] sanjaypraja opened #702 "[BUG] Columns component preview is not correct"
On demo https://formio.github.io/angular-demo/#/forms/builder
I have used columns component preview modal **Column Properties** section design is not perfect. Can we  fix it to change left div class properties col-6 to col-12? or if you have any other suggestion.
![Screenshot from 2021-01-20 20-41-20](https://user-images.githubusercontent.com/2256488/105198332-9125de00-5b63-11eb-9211-9253eeb43ecb.

[2021-01-21 09:59] naji-makhoul opened #703 "[Question] how to change wizard style"
how i can change wizard style from tabs to dots like this sample here : https://formio.github.io/formio-wizard/

[2021-01-21 22:33] travist commented on #702
I believe this is just an issue where the table is overflowing the columns. The values of the columns seem correct "col-6". So this is probably a minor styling issue with the custom properties. We would need a community contributed fix if you want to see resolution to this one.

[2021-01-22 12:00] dpigera-rarepetro commented on #673
Hello,
I'm running into this exact issue. Can you please explain how/where you used angular-formio for solving the issue above?

[2021-01-22 19:15] wag110894 commented on #700
Hello @mehdi47,

Thanks for reaching out!

We do offer Support Packages that are for training, support, or development services. The hours can be used in one-hour increments at your convenience over a 90 day period.  We will assign one of our senior developers to work directly with you in online sessions.  Please contact support@form.io if you are interested.

Thank you!

[2021-01-25 12:21] nilsleistner opened #704 "Compatibility to latest Angular version"
Hi,
trying to install formio/angular throws several warnings in the console, because of missing required dependencies. I am using the latest versions of Angular and Ionic (Angular 10 and Ionic 5) which are at least one version newer than your requirements.

Required versions:
<img width="1570" alt="image" src="https://user-images.githubusercontent.com/38067181/105703432-82497d80-5f0d-11eb-9092-7a3

[2021-01-25 14:57] travist commented on #704
Please use ```@formio/angular``` instead of ```angular-formio``` package.

[2021-01-25 16:26] nilsleistner commented on #704
Thanks a lot. But that doesn't solve my issues. It is still not getting rendered as expected (tested in an ionic and an angular app). But because this was just for testing stuff the angular integration is no longer needed (for now).

[2021-01-25 16:26] #704 closed

[2021-01-25 16:35] travist commented on #505
This maybe fixed with our latest upgrade @ ```@formio/angular``` repo. Have you tried that version @arjel?

[2021-01-25 16:40] arjel commented on #505
@travist I tried on v4.11.0 and still had problems. I can try to update/reinstall and see if it's ok. Thank you!

[2021-01-26 09:29] StefanRupertsberger opened #705 "[Question] Select Component - Disable specific dataSrc"
Is it possible to disable a specific `dataSrc` for the select component using the builder options?

For example I want to disable the Option `IndexedDB`. How could I achieve that?

[2021-01-26 15:13] travist commented on #705
Yes, you can override the "editForm" for the select and then modify that select dropdown to not include it. Something like this maybe?...

[code]

[2021-01-27 06:34] StefanRupertsberger commented on #705
That looks to be the thing I wanted.

I have two problems with it...
`error TS2339: Property 'Components' does not exist on type 'typeof Formio'.`

 It seems to work because
`var dataSrc = Formio.getComponent(editForm, 'dataSrc');`
 throws an error that `Formio.getComponent is not a function`.

[2021-01-27 15:28] travist commented on #705
This means that Formio is not defined. How are you embedding the renderer in your application?

[2021-01-27 17:07] #638 closed

[2021-01-28 05:39] StefanRupertsberger commented on #705
I am just using the tags (`<form-builder></form-builder>`) in my HTML and providing the options through binding.

[2021-01-28 07:43] ujjwal8055 opened #708 "There is any way to implement Highchart.js inside the formio"
We have MCQ type Question Answer in that we are giving a graph to analyze and answer the Question.

[2021-01-28 21:47] travist commented on #705
You need to import it in your src like so.

[code]

[2021-01-28 21:48] travist commented on #708
Using our API's you can feed data into Highchart.js

[2021-01-29 06:24] StefanRupertsberger commented on #705
Hm ok. I used `import { Formio } from 'angular-formio'` as I installed that package.
Now I see there is that package `@formio/angular`.
Can I just install that one as well without breaking anything? / What is the purpose of that package?

Thanks for the help btw!

[2021-01-29 11:10] ajaykumarsana opened #709 "[BUG] formComponent Draggable side bar gets hidden"
Hi @travist
Hope you're doing good.
As part of micro front end development i'm using formio builder ( which suits our need) through [Single Spa](https://single-spa.js.org/docs/ecosystem-angular/#angular-cli).
**Steps**
1. By using form builder i just drag and dropped **Date/Time** field with default configuration
2. I saved the **JSON schema** from above steps in local storage .
3. Reload form bui

[2021-01-30 13:41] ujjwal8055 commented on #708
Basically what I want, is to integrate any package at run time.
We generating form through `Formio.createForm` way
For Example: In ngx-webcam
`  <webcam (initError)="handleInitError($event)"></webcam>`

I want this <webcam></webcam> at run time.

I have done this

   Formio.createForm(params, {
      components: this.personalDetailsForm
    }).then((form: any) => {
      this.formData = form;

[2021-01-30 13:43] ujjwal8055 commented on #708
Thank You @travist

[2021-01-30 13:43] #708 closed

[2021-02-01 15:36] travist commented on #705
```angular-formio``` - Is for Angular < 10
```@formio/angular``` - Is for Angular >= 10.

They have the same functionality and directory structures and should be interoperable.

[2021-02-01 15:37] travist commented on #709
I am seeing something different when I go to this demo.

https://formio.github.io/angular-demo/#/forms/builder

So, maybe you are doing something custom that is crashing? You may see a javascript crash in your console.

[2021-02-01 20:58] drosophila-melanogaster opened #710 "[Question] Form Builder: disable specific properties on Edit Form for all input types"
Hello,

One year ago a user asked the same thing in a [comment here](https://github.com/formio/angular-demo/issues/11#issuecomment-579718316), but he didn't get a proper response. When using Form Builder, is it possible to disable specific properties on Edit Form for all input types at once?

We have this to disable the API tab:
[code]

Do we have anything like this?
[code]

[2021-02-02 08:10] StefanRupertsberger commented on #705
I am now importing it like this:
`import { Formio } from "angular-formio";`

I am still getting an Error:
`Property 'getComponent' does not exist on type 'typeof Formio'.`
at this line:
`const dataSrc = Formio.getComponent(editForm, "dataSrc");`

Using Angular 7.2.4 with angular-formio 4.11.2

[2021-02-02 12:00] ajaykumarsana commented on #709
@travist ,

Thank you for your reponse.
I took clone and had customised code from https://formio.github.io/angular-demo/#/forms/builder.

[2021-02-02 12:02] ajaykumarsana commented on #709
If any one looking for solution, see below

Date/Time field uses flatpickr which doesn't gets load initially, so download flatpickr.js and load it initially in **script** tag

[2021-02-02 12:02] #709 closed

[2021-02-02 20:55] drosophila-melanogaster opened #711 "[Question] Form Builder: override default schema values for an input type on Edit Form"
Hello,

When using Form Builder, is it possible to override default schema values for an input type on Edit Form? For example, the `'Text Field'` value for `label` when initializing a `textfield` input on Edit Form?

From `src/components/textfield/TextField.js`:
[code]

[2021-02-03 10:05] Squiff-cmd opened #712 "[Question] How to register a library of custom components."
Hi,
I am currently developing a project with form.io that spreads across two applications.

(Angular app) : Where forms can be built / saved, using the @formio/angular package, specifically its builder.
(MVC app) : Where forms are rendered and completed using the vanilla formio.js package.

After reading the useful documentation/code provided on [how to build a custom component library](https://gi

[2021-02-03 14:50] travist commented on #710
We do not, but it could be added by changing this line

https://github.com/formio/formio.js/blob/master/src/WebformBuilder.js#L1264

Should be a pretty simple fix and submit a pull request and we will review it on our end.

[2021-02-03 14:58] travist commented on #705
This may be a typescript configuration that is complaining about importing a library that does not have 100% type definition coverage. There may be a configuration where you can make it more lenient, but I am not sure what that it.

[2021-02-03 15:04] travist commented on #711
You can override this by doing the following.

[code]