[2021-02-03 15:04] #711 closed

[2021-02-03 15:07] travist commented on #712
You can do it in angular as follows.

[code]

[2021-02-03 15:07] #712 closed

[2021-02-04 15:20] drosophila-melanogaster commented on #711
Thanks for the response; however, now I'm left with another problem.

If I have the following sequence:

[code]

The labels get properly overriden, but then the fields that extend the `TextFieldComponent` all default to the `textfield` type:

![image](https://user-images.githubusercontent.com/78229449/106912481-d14b9b80-66e1-11eb-9812-34e5b6cd10b1.png)

Also, the `form.components` object outputs t

[2021-02-05 06:09] StefanRupertsberger commented on #705
I tried to use `Formio` like this to avoid the compilation error:
[code]

Now I get the same error during runtime. so that function does not exist?.
I have now written a workaround that searches the editForm recursively for a key.

[2021-02-05 08:12] Anatoliy-Kas opened #713 "How data can be changed when the data schema changes"
How can I change the data when the data schema changes. For example, in the schema, the XXX field is moved to the container. I want the old data to remain valid when changing the schema.
Can I do it ?

[2021-02-08 13:13] DmitryNistratov commented on #711
Hello @drosophila-melanogaster
Try the following way:
`const textfieldSchema = Components.components.textfield.schema;
Components.components.textfield.schema = (...extend) => {
  return textfieldSchema({label: '_textfield'}, ...extend);
};

const textareaSchema = Components.components.textarea.schema;
Components.components.textarea.schema = (...extend) => {
  return textareaSchema({label: '_textar

[2021-02-08 13:41] DmitryNistratov commented on #713
As a solution, you can use Advanced Logic:
[code]
![image](https://user-images.githubusercontent.com/68227834/107227255-3bd74100-6a2c-11eb-96d5-f3b2de170f45.png)

[2021-02-08 17:46] davideginna opened #714 "[BUG] Render mode html date, select box, checkbox and date/time"
## Environment
- Hosting type
  - [x] Form.io
  - [x] Local deployment
    - Version:  4.11.4
- Formio.js version:  4.11.4
- Frontend framework: Angular 9
- Browser: Chrome
- Browser version:88.0.4324.150 (Official Build) (64-bit)

in render mode
for select boxes they didn't show label  boxes checked.
for checkbox if i checked, show only value false.
for date/time a render prettier?
day, month, ye

[2021-02-08 19:03] drosophila-melanogaster commented on #711
Hello, @DmitryNistratov. Thanks for the response; this seems to address the issue, despite my IDE complaining about the rest parameter.

[2021-02-09 21:12] drosophila-melanogaster commented on #705
I'm trying to do a similar thing for the `Edit Form > Button > Display > Action` dropdown. I've tried @travist's [suggestion](https://github.com/formio/angular/issues/705#issuecomment-767609815) but had the same problem with `getComponent()` as @StefanRupertsberger; ended up writing a workaround as well.

Now I have an updated `Action` dropdown, but none of the initial configuration provided via `

[2021-02-10 01:33] paulbors commented on #533
The following stack is working okay with custom validators much more complicated than your example:
    "@angular/core": "^11.0.3",
    "@formio/angular": "^5.0.0",
    "@formio/angular-material": "^2.0.0",
    "formiojs": "^4.12.4",

Upgrade and try again :)

[2021-02-10 07:50] abhishek0196 commented on #538
Any updates on this issue @hbaldwinRPT , @merobal  even I'm trying something similar, I am trying to have a custom  select which accepts data as an input to the component, but I'm not even sure how to populate the data, I was following this [issue](https://github.com/formio/angular/issues/478), but unfortunately it didn't help, looking for some help,@merobal.

[2021-02-10 16:50] hbaldwinRPT commented on #538
I have not had any luck and was unfortunately made to use another solution instead of custom components for now. I wound up wrapping the formio builder/renderer in an object and doing our own fields for things that needed dynamic value options. so far that approach is working well. I Will definitely still be changing it once I can figure out a way to get custom components working or my knowledge m

[2021-02-11 08:13] flinden68 commented on #194
Currently I have the same problem with Angular 11. But I don't think this is causing the issue.
When I add a url to a form on form.io it renders correctly
When I change to a local url, like http://localhost:3100/formname it breaks with the error as shown above

[2021-02-11 12:44] praveen5959 opened #716 "Custom CSS"
I want to change the look and feel of the forms-builder. I know Templating is available to use Bootstrap, semantic or bulma CSS. But I want to use my own custom theme to change the look and feel of forms-builder.

Is it possible?

[2021-02-11 15:02] travist commented on #548
Just change the display of the form to "form" and it will show a wizard as a flat form.

[code]

[2021-02-11 15:21] travist commented on #705
Any time you see that your changes are ignored by angular, the most common use case is that you are making the change on a different instance of ```Formio``` than what angular uses. For example, if you are doing this..

[code]

instead of this.

[code]

[2021-02-11 15:37] drosophila-melanogaster commented on #705
I see; thanks for the response.

In your example, you use `Formio` to access `Components` and `getComponent()`. However, `{ Formio } from '@formio/angular'` does not seem to contain these aforementioned objects here. Instead, I have to do this:

[code]

And that's what makes the previously made configurations go default. Would there be any other way to do this?

[2021-02-12 06:04] AA299 opened #717 "validate formio json"
how to validate json in formio is there anything to  check form json is valid or not

[2021-02-12 11:59] abhishek0196 commented on #247
Data validation doesn't seems to works for a custom component.

[2021-02-12 15:07] wag110894 commented on #247
I am not seeing any issue while using angular-formio 5.0.0 and formio.js 4.12.4. Can you provide a JSfiddle of the issue?

[2021-02-12 19:46] wag110894 commented on #717
Hello @AA299,

Thank you for your interest in Form.io!

In the future, please submit your questions to Gitter( located here: https://gitter.im/formio/formio) for our community support.  We do offer Support Packages that are for training, support or development services. The hours can be used in one-hour increments at your convenience over a 90 day period.  We will assign one of our senior develope

[2021-02-12 19:46] #717 closed

[2021-02-12 19:47] wag110894 commented on #716
Hello @praveen5959,

Thank you for your interest in Form.io!

In the future, please submit your questions to Gitter( located here: https://gitter.im/formio/formio) for our community support.  We do offer Support Packages that are for training, support or development services. The hours can be used in one-hour increments at your convenience over a 90 day period.  We will assign one of our senior de

[2021-02-12 19:47] #716 closed

[2021-02-15 05:51] sandeepaem commented on #553
@ashusaini It is interesting, I couldn't figure out how you were able to access the variables.

I have used 4.7.0/4.9.0 and even the latest 5 version too, but nothing is returning Custom Fields from Edit form. Only @input() placeholder is returning the value as expected, not even Key of the Component.

Kindly provide your expertise, Thanks

[2021-02-15 06:29] sandeepaem commented on #553
Hi, Thanks, I got it, Form.io Developers are attaching the fieldOptions as @Input fields, just that they are not available at NgOnInit.

Interesting if somehow make it work on NgOnIt. Thanks.

 if (isArray(fieldOptions) && fieldOptions.length > 0) {
                        for (var key in fieldOptions) {
                            if (fieldOptions.hasOwnProperty(key)) {

[2021-02-15 13:43] StefanRupertsberger opened #719 "[BUG] Invalid attempt to spread non-iterable instance when populating tree component"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version:

`angular-formio@v4.11.4`

- Frontend framework:

`Angular v7.2.4`

- Browser:

Chrome, Firefox, Edge

- Browser version: 88.0.4324.150

## Steps to Reproduce
1. Create Tree Component
2. Drag another component into tree
3. Get error

## Expected beh

[2021-02-15 13:53] StefanRupertsberger commented on #719
Same thing happens with angular-formio@v4.11.2

[2021-02-16 07:49] abhishek0196 opened #720 "Default value for custom class"
Hello form io community I am looking for a solution which helps me to set the default value for the custom class.
I wanted to hard code the value for this custom class for each type of controls, so that I can hide it from the user, while they are  building the form.
Thanks.

[2021-02-16 09:40] abhishek0196 opened #721 "[How to have a custom submit button in form - renderer ?]"
I'm looking for having a custom submit button in the form render, with the ability to disable it if the form is invalid.
I have used the change event but it emits twice, on the initial load.
`<formio #f [form]="formIOJSON" (change)="onChange($event)" [submission]="formSubmittedData"
        style="width:80%; align-items:center;">
    </formio>`
In the attached screenshot, two console are logged, w

[2021-02-17 01:53] SGhantous86 commented on #546
I'm currently facing the same issue as well. I have all of my custom elements declared in one module that gets imported by multiple lazy loaded modules. The first time I go to each lazy loaded module the renderer works fine, but when I go back to a lazy loaded module for a second time it no longer works.

I have tried registering the custom elements in each lazy loaded module with a different sele

[2021-02-17 13:44] wag110894 commented on #546
Hello @SGhantous86

Thank you for your interest in Form.io!

In the future, please submit your questions to Gitter( located here: https://gitter.im/formio/formio) for our community support.  We do offer Support Packages that are for training, support or development services. The hours can be used in one-hour increments at your convenience over a 90 day period.  We will assign one of our senior dev

[2021-02-17 15:27] travist commented on #705
Components and "FormioUtils" should be part of the "Formio" class.

[code]

Can you please confirm if this gives you anything?

[2021-02-17 16:09] drosophila-melanogaster commented on #705
That gives me the same error @StefanRupertsberger got [here](https://github.com/formio/angular/issues/705#issuecomment-771450966); looks like TypeScript just putting me off. But if I declare a `Formio as any` I can then replace `Components` and `FormioUtils` for `Formio.Components` and `Formio.Utils`, but I still get the same results.

[2021-02-17 16:44] SGhantous86 commented on #546
@wag110894
Thank you for your reply. I had contacted FormIO support last week with my question and was told this is not something they could help with because I was creating custom elements from Angular components.

I will resubmit my question on gitter to see if the community can provide any support.

[2021-02-19 10:55] buseodaci opened #722 "[Question] How to use logical operators in Form Build while using Js in Logic ?"
Hi,
Im using Formio in my project and im calculating BMI succesfully . I also have second component which tell this BMI value is  thin or fat etc. In the Logic i create a trigger like this.

![image](https://user-images.githubusercontent.com/25960852/108495112-6db49700-72b9-11eb-8f05-20e70673b140.png)

But after  save when i want to use it looks like in the builder.

![image](https://user-images.g

[2021-02-19 14:40] wag110894 commented on #720
Hello @abhishek0196

Thank you for your interest in Form.io!

In the future, please submit your questions to Gitter( located here: https://gitter.im/formio/formio) for our community support.  We do offer Support Packages that are for training, support or development services. The hours can be used in one-hour increments at your convenience over a 90 day period.  We will assign one of our senior de

[2021-02-19 14:41] wag110894 commented on #721
Hello @abhishek0196,

Thank you for your interest in Form.io!

In the future, please submit your questions to Gitter( located here: https://gitter.im/formio/formio) for our community support.  We do offer Support Packages that are for training, support or development services. The hours can be used in one-hour increments at your convenience over a 90 day period.  We will assign one of our senior d

[2021-02-19 15:10] dev-thinks opened #723 "[Question] Customizing or translating "EditGrid header template"
Hello,

Is there a way to translating the header template content (component.label) in edit grid.

`<div class="row">
      {% util.eachComponent(components, function(component) { %}
        {% if (!component.hasOwnProperty('tableView') || component.tableView) { %}
          <div class="col-sm-2">{{ component.label }}</div>
        {% } %}
      {% }) %}
    </div>`

This is the default header tem

[2021-02-19 16:17] buseodaci commented on #722
4.8.0

[2021-02-19 16:47] wag110894 commented on #719
Hello @StefanRupertsberger,

We are not experiencing any issues on our side using Formiojs: 4.13.0-rc.4. Can you test using the Angular-formio equivalent, which is v4.12.0-rc.3?

[2021-02-19 20:01] wag110894 commented on #722
Hello @buseodaci, can you try testing using 5.0.0 and see if the issue still occurs?

[2021-02-19 22:00] travist commented on #714
This is the expected output for HTML mode.

[2021-02-19 22:00] #714 closed

[2021-02-22 05:41] buseodaci commented on #722
@wag110894 Still same.

[2021-02-22 06:24] StefanRupertsberger commented on #719
Tried it and that version does not work at all... I can't even add a nomal textfield:

[code]

[2021-02-22 15:34] travist commented on #719
There has been some recent changes to the Tree component pulled into the 4.13.0-rc.11 version. Can you try that version and see if it is any better?

[2021-02-23 05:36] StefanRupertsberger commented on #719
There is no such version for the package `angular-formio`. The newest one is `4.12.0-rc.3` and this one does not work.

[2021-02-23 16:01] base64000 opened #724 "[Question] Programmatically updating form component states (visible, disabled etc.) without using refresh event emitter"
We are programmatically changing visibility and other state for form components based on results received from a third party service we call.

The only way we have found to get the changes to reflect in the form is to use the refresh event emitter to emit a complete new form json, e.g.

        this.refreshForm.emit({
          form: data.form,
          submission: data.submissions
        });

W

[2021-02-23 16:51] mehdi47 commented on #427
Hi,

i'm also trying to work on the same thing for my accordion custom component, have you had any success? i can't extend the tabsCOmponents in my .ts file too.

[2021-02-23 16:55] mehdi47 opened #725 "[Custom Components] Custom Accordion Component Drop Zone"
Hi,

In my angular application, i added an accordion component, to which i'm trying to make it behave like a table component, where you can drag and drop other components inside, and as a result have a nested component.

i've tried working with ngx-dnd and make the accordion dropable but i can't drag & drop formio components inside.

So my issue, is this : how can i make a custom component ( wheth

[2021-02-23 22:08] travist commented on #719
Ok, we will need to upgrade that version.

[2021-02-23 22:53] pkarakal opened #726 "[Custom Components] - Render custom editor in formio form"
I have created a custom editor based on CKEditor 5, and I am trying to use it as a custom element in a form.
I have created the class that implements the FormioCustomComponent interface and have added the logic in my component. The problem is that the component isn't rendered in the form. The component is in a library packaged with ng-packagr and then imported in an angular project. I am registeri

[2021-02-25 06:46] StefanRupertsberger commented on #719
Ok, would be great if that fixes it.

[2021-02-26 05:38] #722 closed

[2021-02-26 16:04] wag110894 commented on #725
Hello  @mehdi47
Thank you for your interest in Form.io!
In the future, please submit your questions to Gitter( located here: https://gitter.im/formio/formio) for our community support.  We do offer Support Packages that are for training, support or development services. The hours can be used in one-hour increments at your convenience over a 90 day period.  We will assign one of our senior develope

[2021-02-26 16:05] wag110894 commented on #726
Hello @pkarakal

Thank you for your interest in Form.io!

In the future, please submit your questions to Gitter( located here: https://gitter.im/formio/formio) for our community support. We do offer Support Packages that are for training, support or development services. The hours can be used in one-hour increments at your convenience over a 90 day period. We will assign one of our senior develope

[2021-02-26 16:24] dev-thinks commented on #691
looks like implicit npm dependency on "flatpickr" has been removed. we need to install "flatpickr" npm package explicity to make it work with latest versions.

[2021-03-02 03:50] ghost opened #729 "[Question] refresh data source url in Select Component"
Hi,
Is there a way to refresh data source in Select Component when "Data Source Type" = URL?

The *select component* shows a list of users that are getting from **another app**.
Then at **another app**, admin adds some users.

So how can the select component show the newly added users without reloading the page?

Actually, I have to reload the page to see the new values. However

Thanks for your h

[2021-03-02 12:36] ajaykumarsana opened #730 "[Question] Do we have english text strings of form io as .js file or .json file"
Hi @travist ,

Hope you're doing good.

I wanted to change english text of form io builder to other language, so i'm using **options** attribute to pass **i18n** json object like below.
`
public formOptions = {
    i18n: {
      jp: {
        'Label': '1',
        'Label Position': '1',
        'Placeholder': '1',
        'Description': '1',
        'Text Field': '1',
        'Basic': '1'
      }

[2021-03-03 14:55] travist commented on #729
There should be a property called "Refresh Options On" that allows you to refresh the options when another field changes. This is used to perform conditional selects (where the results of one select dropdown are dependent on the value selected of another dropdown).

[2021-03-03 14:59] travist commented on #730
For now, this is all we have, but I do not believe it is complete. We need to have an effort to make it completed.

https://github.com/formio/formio.js/blob/master/src/i18n.js

[2021-03-03 21:06] mohamedmahmoudf97 opened #731 "[Question] changing input value programmatically"
formComponents[0] = {
      "label": "Agent Name ",
      "tableView": true,
      "key": "agentName",
      "type": "textfield",
      "input": true,
      "defaultValue":"moahmed mahdmoj"
  };

      this.triggerRefresh.emit({
        form:{components:formComponents}
      });

[2021-03-04 02:29] thanhvietnguyen255 commented on #729
Thanks for your answer.

As I mentioned above. I have 2 applications (A - use formio) and (B).
The **select** calls API of application (B) to get a list of users.

At the application (A), I open the **select**, it shows 10 users.
Then at the application (B), I add 2 more users. Therefore, at the application (A) when I open the **select** again then it should show 12 users instead of 10 users.

**N

[2021-03-04 11:31] MeghanaPrabhu opened #732 "[Question] Want to reset or clear value of selectbox when dropdown ( select) component value change. How do i configure same while building form. Redraw not working. Only Clear on hidden is working. Please share your inputs"

[2021-03-04 14:40] travist commented on #731
You should use the Form SDK to do this.

[code]

[2021-03-04 18:51] upfounders opened #733 "[Question] How to display youtube video"
How to display youtube in the form as instruction, I tried to add iframe code block through Html Element,
<img width="642" alt="Screen Shot 2021-03-04 at 10 50 05 AM" src="https://user-images.githubusercontent.com/59995322/110014263-6f2d8880-7cd7-11eb-8e1e-77374efb0085.png">

but it doesn't display anything

[2021-03-04 23:49] mohamedmahmoudf97 commented on #731
thank you but how can i use getComponent method in angular 8

[2021-03-05 10:36] rsryanstephen commented on #532
I don't think that this is related to `angular-formio`.
I just ran into the same problem where `Angular Language Services` extension on vscode threw the same error while trying to compile an Angular project, except for `aws-amplify-angular`:

``` Error on worker #4: Error: Invariant violated: No format-path or format for <project path>/node_modules/aws-amplify-angular : main (formatPath: aws-ampli

[2021-03-05 10:48] rsryanstephen commented on #532
Another guy experienced the same problem here for another 3rd party library:
https://tech.wayne-chu.com/archives/24091

[2021-03-05 11:45] kamaloush opened #734 "[BUG] ERROR TypeError: Cannot set property 'submission' of null"
## Environment
- Hosting type
  - [x] Local deployment
    - Version: 5.0.2
- Formio.js version: 4.12.7

## Steps to Reproduce
1. Install @formio/angular
2. Add FormioModule
3. Add the form from the readme
[code]
## Expected behavior
Form displayed
## Observed behavior
Spinner and error in devtools
![image](https://user-images.githubusercontent.com/26444823/110111400-8e4c1900-7db0-11eb-820f-efd555

[2021-03-05 14:25] wag110894 commented on #732
Hello @MeghanaPrabhu,

Can you provide your form so I can take a look at your configurations?

[2021-03-07 12:52] weilies opened #735 "Form responses"
I am into page https://formio.github.io/angular-demo/#/data
How can we retrieve the responses captured? should we always get them (shared) in formio website?

Can we only keep the responses within our server and not share with formio (some are sensitive data for sure)
I tried to dig the doc, but no luck to learn that.

I also did a search https://github.com/formio/angular/search?q=FormioGridModule

[2021-03-08 01:42] #735 closed

[2021-03-08 01:48] weilies opened #736 "Failed to load Form Builder"
Dear gurus,

I am following doc below
https://github.com/formio/angular/wiki/Form-Builder

And here is my project https://stackblitz.com/edit/angular-formio-jmwhcc?file=src/app/app.component.ts
It's able to render forms, but not the builder

here the error
[code]

[2021-03-08 04:03] weilies opened #737 "NPM install error in dependency tree"
I am getting error
[code]
Then i tried add --legacy-peer-deps, it fixed the issue. But after that, the audit fix get bunch of error again...

eilies_chok@cloudshell:~/apps/my-app (fx-vps-225216)$ npm audit fix
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: my-app@0.0.0
npm ERR! Found: @angular/common@11.2.4
npm ERR! node_modules/@angul

[2021-03-08 14:48] travist commented on #733
iframes are not supported. You will need to add an exception to the "domsanitize" to allow irames to be rendered.

This thread talks about how to do that. https://github.com/formio/formio.js/issues/2273

[2021-03-08 14:48] #733 closed

[2021-03-08 15:29] wag110894 commented on #734
Hello @kamaloush,

Thank you for reaching out! We will get one of our developers to take a look at this issue. For reference, the ticket number is FIO-2481.

[2021-03-08 15:46] upfounders commented on #733
this is very helpful @travist travist! I am not able to add youtube video from the Rich text editor in the Content?  is it a known issue?

[2021-03-09 15:06] ccontour commented on #733
I am able to insert videos into Content components, what is happening when you try? It's possible CORS is blocking the player for you

[2021-03-09 15:13] upfounders commented on #733
Possible, when I insert the youtube video, it is showing up in the editor, but when I save it, it shows blank in the form.

<img width="871" alt="Screen Shot 2021-03-09 at 7 11 08 AM" src="https://user-images.githubusercontent.com/59995322/110492227-d87e1480-80a6-11eb-8415-44429d6aee3d.png">

[2021-03-09 15:49] rumeshwick commented on #734
Any luck on this ? i'm also getting the same error

[2021-03-09 21:37] ccontour commented on #733
Can you reload that page, and include a screenshot of the `Network` tab with it open from the start of the page load? Red lines are the ones that are failing

[2021-03-09 22:55] upfounders commented on #733
you are right, I got the CORS issue, how should I fix it? thanks!
<img width="1433" alt="Screen Shot 2021-03-09 at 2 54 20 PM" src="https://user-images.githubusercontent.com/59995322/110549798-7265b180-80e7-11eb-84d0-b9c9e1a7e092.png">

[2021-03-10 16:27] TimurAztec opened #738 "How to remove/add group or field from form builder?"
How to remove/add group or field from form builder?

[2021-03-10 21:34] cuneytdalan commented on #734
I had the same issue when installed the package with npm but after added the @formio/angular in my project as a library under project without building its working properly. Also i can't give specific path inside tsconfig for @formio/angular. There may also be a problem with paths.

[2021-03-12 04:29] cbc872 commented on #734
Any idea when this will be fixed? It is a blocker for me

[2021-03-12 12:18] cuneytdalan commented on #734
@cbc872  It worked on my project with these:

"@angular/cli": "^11.0.2"
"@formio/angular": "^5.0.2"
"formiojs": "^4.12.7"

[2021-03-12 15:53] fillumina commented on #734
Unfortunately it doesn't work for me too with angular 10.0.0 and because I'm using JHipster I'm stuck on that.

[2021-03-12 16:14] fillumina commented on #734
I have the same problem with angular 10.0.0, but it is working using
"@formio/angular": "5.0.3-rc.1"

[2021-03-13 20:16] kamaloush commented on #734
Effectivly, it works with version 5.0.3-rc.1.
May be patched in latest version. So the release of 5.0.3 will fix the issue.

[2021-03-14 23:09] benwinding commented on #736
What fixed it for me was importing both angular modules.

[code]

Then the `form-builder` was recognised.

[2021-03-15 11:22] weilies commented on #721
u mind share with us the rate? i am looking for a custom submit button too :) instead of submit the data to form.io, my use case need me only submit to my own cloud. we probably can share the cost with the community to get the custom submit function 👍

[2021-03-15 13:44] Kadhiresan-K opened #739 "Concat is not working in Angular Form | JavaScript/JSON Logic [Question]"
Hi All,

I want to Concat two different user inputs text/number fields and display them in the third text box which is in read-only format. please check the attached image below,

![Screenshot 2021-03-15 at 7 01 52 PM](https://user-images.githubusercontent.com/70190306/111162059-c7129c00-85c1-11eb-9b69-1f851c6b41d7.png)
![Screenshot 2021-03-15 at 7 09 00 PM](https://user-images.githubusercontent.c

[2021-03-15 14:22] travist commented on #739
This may be a problem with "refresh" not updating. Try setting the "Refresh On" configuration so that this calculated value will refresh when the value of number changes.

[2021-03-15 14:29] Kadhiresan-K commented on #739
Hi @travist

thanks for the input,

I am not able to find the "Refresh On" configuration But I have set the "Redraw On" as _Any changes_ still no luck.

![Screenshot 2021-03-15 at 7 55 08 PM](https://user-images.githubusercontent.com/70190306/111169129-b285d200-85c8-11eb-83b1-bae4fc5cb4e5.png)

please let me know, is there is any other config that can help us.

[2021-03-15 15:54] cbc872 opened #740 "Using Angular 11 to create a formio-wizard"
Hi there, I am using Angular 11 and new to Formio.  I would like to create a "formio-wizard". I have only found one example using AngularJS (https://formio.github.io/formio-wizard) . Are there any other examples or documentation to show you how to do this? Thanks!

If I set the form type to wizard, it displays the wizard tabs - how do I change them into steps (with bubbles) like the example?

[2021-03-16 20:44] travist commented on #740
We have a ticket to convert our latest renderer (which this library includes) to have several wizard headers types and we will bring back this "bubble" wizard header. This is still on our to-do list, though so it will come soon.

[2021-03-16 20:44] #740 closed

[2021-03-17 14:38] travist commented on #733
CORS is a common thing that needs to be enabled within your server. Try this.

https://expressjs.com/en/resources/middleware/cors.html

[2021-03-17 15:31] ALLAOUI-DSI opened #742 "[Question] How to edit a draft submission?"
Hi there,
I am trying to allow users of my application to edit their drafts after submission. I understand how to save a draft and how to fetch the data afterwards, but I couldn't figure out how render the form with the draft data. Doing it manually doesn't seem like a good idea. Also user don't have access to the form builder. So how can this be done in Angular?
Thank you.

[2021-03-17 18:47] wag110894 commented on #738
Hello @TimurAztec,

You can accomplish this by customizing your builder. Here is an example.
https://formio.github.io/formio.js/app/examples/custombuilder.html

[2021-03-18 12:24] ALLAOUI-DSI commented on #742
I found the solution : https://stackoverflow.com/a/60670906

[2021-03-18 12:24] #742 closed

[2021-03-18 22:10] TimurAztec opened #743 "How to implement attributes input from HTML component in my custom component?"
How to implement attributes input from HTML component in my custom component?
I want to make so when people enter attributes into edit form they would apply on input
And how to apply CSS classes on input via edit form?

[2021-03-19 15:45] mukeshmjn commented on #737
Assign this to me . When you are doing npm install then you getting this error right?

[2021-03-19 16:18] TimurAztec opened #744 "How to set default value for custom option?"

[2021-03-19 19:03] learner291 commented on #695
I was able to resolve this issue by using below steps. I don't know if this is the correct way or not but it is now populating data.

Declare following in your constructor.

[code]

Your custom data source in schema should be as per below.

[code]

Your getGenderValues() function should be as per below.

Please note that you need to declare your variable ` genderValues = [];` as global. It will wo

[2021-03-19 20:18] learner291 opened #745 "Select component shows Id instead of Text in Custom URL"
I have a select component in my wizard. It's data source is custom, which is a function that gets data from a web service. I know I can use url but I needed to use custom function for some other reason. I was able to add options in the select box, however the issue is that when my model contains a value for the select component, it displays id instead of a text.

I declare my component as per belo

[2021-03-19 21:12] kulandairaj opened #746 "[Custom Components] How to create custom component with data source api url"

[2021-03-19 21:18] kulandairaj commented on #540
@hbaldwinRPT  did you get any idea on this?

[2021-03-22 08:26] thanhvietnguyen255 commented on #729
Could you please give me any solutions to solve the issue?

[2021-03-22 08:46] thanhvietnguyen255 commented on #291
Hi @pselis,
Has the issue been fixed yet? Could you please give me your solution?

[2021-03-22 20:49] travist commented on #744
Not sure what you mean by this request. Would you please elaborate on what you are looking to achieve?

[2021-03-23 14:04] michealharrington opened #747 "[BUG] Failed to load formio.component.html in Jest test"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: 5.0.2
- Formio.js version: 4.12.7
- Frontend framework: Angular 11.2.4
- Browser:
- Browser version:

## Steps to Reproduce
1. import { FormioModule } from '@formio/angular';
2. expect(component).toBeTruthy();
3. Test fails

## Expected behavior
Test passes
## Observed

[2021-03-23 14:21] michealharrington commented on #747
Update:
Adding `CommonModule` to the imports, change the error to:
`Uncaught (in promise): Failed to load formio.alerts.component.html`

[2021-03-23 18:56] TimurAztec opened #748 "Single class custom components dont work."
I`ve downloaded this demo https://github.com/formio/angular-demo/blob/master/src/app/components/CheckMatrix.js and imported CheckMatrix.js component. As result it gives unsolvable error.

 Error: ./src/app/components/CheckMatrix.js
Module build failed (from ./node_modules/babel-loader/lib/index.js):
SyntaxError: C:\Projects\Programming\Work\formio\angular-demo\src\app\components\CheckMatrix.js: Su

[2021-03-23 18:59] TimurAztec commented on #744
I have custom option named "classes". I`ve added it to my custom component edit form like this `{ key: 'customOptions.classes', [rest of the field definition] }`.
How do I pass default value for it, so when I add my component inside builder it would have this value in "classes" field.

[2021-03-23 19:00] #738 closed

[2021-03-24 08:24] TimurAztec opened #749 "How to extend basic edit form for my custom component?"
I want to have my own custom edit form for my component as it show in example here
https://github.com/formio/angular/wiki/Custom-Components-with-Angular-Elements
with minimalEditForm(), but I want to change only few fields different from basic edit form.

[2021-03-24 15:53] learner291 commented on #45
Did you able to find a solution for this issue? We are having the same issue onChange event is not triggering for select component.

[2021-03-24 16:16] learner291 commented on #745
Can someone help please?

[2021-03-25 05:43] Kadhiresan-K commented on #739
Hi @travist

It's working.

We are able to get the result using **Calculated Value** option.a

[2021-03-25 05:44] #739 closed

[2021-03-25 13:42] ccontour commented on #744
In the data tab for components, there is a default value near the top, and a Custom Default Value hidden inside an accordion on the same screen. You can use the Custom Default Value to set default values on your inputs using javascript code

[2021-03-25 13:52] StefanRupertsberger commented on #719
Are there any updates on this problem?

[2021-03-25 18:06] tvaidyan opened #750 "How to Package Angular Elements based Custom Component for Use in form.io Portal [Custom Components]"
I followed the guide in the Wiki to create an Angular Elements based custom component.  On my local dev machine, I can create a new Angular project using the Angular CLI, add the necessary formio NPM packages, create the custom component and register it in my AppModule, define a new form.io form in another angular component as a JSON structure and have the dynamic form render my custom component.

[2021-03-26 11:47] ponich opened #751 "[Question] Where can I find all options of FormioOptions interface?"
Now we have the interface `FormioOptions`

[code]

But on [Custom Form Builder documentation](https://formio.github.io/formio.js/app/examples/custombuilder.html) we can see extra options for form. As result `FormioOptions` doesn't have all properties.

[2021-03-27 20:21] moda20 opened #752 "[BUG] Can't see youtube videos that get added via the Ckeditor content embed functionality"
## Environment
I am trying to add youtube videos to my form using the custom component and via the embed functionality of the ckEditor it is using.
The issue is that the video, when I the editor, show up correctly with the preview picture but when saving it, the video doesn't show up on the rendered version of the form.
I am doing this on the  demo page of formio for angular : https://formio.githu

[2021-03-30 20:55] ccontour commented on #751
There isn't a formal definition beyond that. However, this may help you find an answer

https://github.com/formio/formio.js/blob/master/src/Form.js#L10
https://github.com/formio/formio.js/blob/master/src/Element.js#L19

[2021-03-30 20:55] #751 closed

[2021-03-31 13:48] moda20 opened #753 "[BUG] wron CSS in when trying to add form elements"
I am having a problem with the text on some panels not having the correct color ( white on white )
here is a screenshot of the issue, I can't override the CSS directly from my component `.scss` file as that is not taken into consideration by the `formBuilder` component.

![Screenshot 2021-03-31 at 14 37 46](https://user-images.githubusercontent.com/23613485/113154318-d20b3480-922f-11eb-88fa-e7f1e6

[2021-03-31 22:07] hbaldwinRPT commented on #531
I was not. I went with a reactive form as a wrapper to the standard formio
compnonet to add my own stuff externally.

On Wed, Mar 31, 2021, 3:06 PM kulandairaj ***@***.***> wrote:

[2021-03-31 22:10] kulandairaj commented on #531
@hbaldwinRPT Thanks 👍

[2021-04-01 16:10] wag110894 commented on #719
Hello @StefanRupertsberger,

We have this item is currently assigned to a developer. We will let you know once this has been resolved.

[2021-04-02 14:32] tvaidyan commented on #675
@wag110894 - I sent you a message (on LinkedIn) with my contact info.  I wanted to get more information on your training services.  Would you please get back to me with details when you get a chance?  Thanks!

[2021-04-05 14:23] travist commented on #745
This is probably because the custom value is expected to be synchronous and you are making an API call to make it synchronous. It may be the case that on initial load (when it works) it actually does a redraw with the values. You may be able to get this to work by performing a trigger update once the API call is finished like this ```this.triggerUpdate()```

[2021-04-06 14:31] ccontour commented on #748
I don't see anything in the demo file that looks relevant to the error. It reads like there is a stray `@` symbol around, and the interpreter is trying to deal with something as if it were a typescript annotation.

You you working with unmodified files on your local system?
Can you provide steps to reproduce?

[2021-04-07 11:24] mikekotikov commented on #749
@TimurAztec the default edit form for custom components is the Text Field component one.
There are two ways for you to change it:
1) Go to [formio.js repo](https://github.com/formio/formio.js) and navigate to src/components/textfield.
You'll see `editForm` folder with files that have sets of components used in edit form and `TextField.form.js` file that combines them. You may take them, modify for

[2021-04-07 13:48] AlexeyDavyd commented on #753
@moda20 Could you please provide consistent steps to reproduce?

[2021-04-07 17:30] blackbaud-RickSchnitzler opened #755 "[Question] replace ng-show in Item Template with *ngIf not working"
We have gone from "ng-formio": "2.19.6" and "ng-formio-builder": "2.19.4" to "angular-formio": "4.9.6"and "formiojs": "4.11.3" for our Angular9 SPA.
The Item Template for ChoicesJS looks like this.
[code]
We've tried replacing ng-show with *ngIf and with [hidden] with no success. We have also tried changing Widget Type to HTML 5 and other properties. Tried scss solutions also to no avail.
Inspecti

[2021-04-09 05:54] ajaykumarsana opened #756 "[Question] radio button API support for data"
Hi @travist ,

Hope you're doing god.
I wanted to display **radio button** items which comes from **api** response, as of now we can enter options manually.
Can you please help?
<img width="1195" alt="radio" src="https://user-images.githubusercontent.com/1854019/114134884-17adb880-9926-11eb-96ac-91204e7e9aac.png">

[2021-04-10 06:59] ramesh401991 commented on #481
Any update on the enhancement for this request?? I'm looking for the same feature in datagrid.

[2021-04-12 13:49] AlexeyDavyd commented on #756
@ajaykumarsana
You can take a look at the example form: https://devtest.form.io/radiofromapi

Was able to achieve that using datasource component to get the data form endpoint. And calculated value on radio component to replace the values.

[2021-04-14 14:03] david-bulte opened #757 "[Question] What's the difference between the @formio/angular and angular-formio packages"
Here it says that I have to install @formio/angular: https://github.com/formio/angular

But here it says to install angular-formio: https://github.com/formio/angular/wiki

(note: I need to use custom components with angular elements)

[2021-04-14 15:02] sharmav007 opened #758 "[BUG] : unable to resolve dependency tree"
The npm install of formio angular failing for new app with dependency errors.

1. Create a new angular app and tried npm install --save @formio/angular formiojs

Observed behavior - npm install failing with below error.

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: Formio-demo-app@0.0.0
npm ERR! Found: @angular/core@11.0.9
npm ERR! n

[2021-04-14 17:04] sharmav007 commented on #758
I had Nodev15.13.0 and CLI v11.2.8 installed, downgraded to below to get it working.

Angular CLI: 11.0.7
Node: 14.16.1
OS: win32 x64
Angular: 11.0.9

[2021-04-14 17:04] #758 closed

[2021-04-15 10:55] StefanRupertsberger opened #759 "[Custom Components] Need to reload to show custom components"
I created two custom components using the guide in the wiki.
My problem is that the components do not render when first dropping them into the builder. After a reload of the page it works as expected.
There are no error thrown or anything like that.

[2021-04-15 12:26] ajaykumarsana commented on #756
Hi @AlexeyDavyd
Thanks for the response,
I want to load **form builder** with pre populated radio button values.
https://devtest.form.io/radiofromapi seems working in **form renderer**  but it's not populating radio button with dynamic values in **form builder**.

[2021-04-16 10:41] AlexeyDavyd commented on #757
That's basically the same library. We have just changed namespace. But haven't changed wiki info yet. Fell free to go with @formio/angular.

[2021-04-17 13:11] HarsheetKakar opened #760 "Would the project like some testing? [Question]"
Learning angular testing so would like to contribute in the project if there is a requirement for it.

[2021-04-20 03:31] nagashreebg opened #761 "X button issue in nested form"
We have a nested form. This nested form has a select component.

There are couple of issues with this.

1. The x button on the inner form does not work when we click on it. However, if we click a little bit outside of the active window, a showModalDialog is shown asking if we want to clear the changes. This is the first issue.

2. The second issue is that when the 'Yes, Delete it' option is chosen

[2021-04-21 09:02] #757 closed

[2021-04-22 13:05] abhishek0196 commented on #538
Is it possible @hbaldwinRPT  to share  your code? as I am failing to find a working solution, may be your solution can help me out. Thanks.

[2021-04-22 20:09] sir-wally commented on #737
getting the same error via npm install node v15.13.0

[2021-04-23 00:14] weilies commented on #737
Sorry for late reply. Yes @mukeshmjn end up I have to completely stop using this feature. Let me know if it's fixed so I can proceed. Thanks

[2021-04-23 01:19] sir-wally commented on #737
@weilies can you assign it to him? might help it getting it fixed. I ended up having to downgrade angularcli and adding --legacy-peer-deps to get it working

[2021-04-23 01:59] weilies commented on #737
@sir-wally how to assign to someone? Probably the owner of this repo can help. I have changed the direction and wont use it for the moment.

[2021-04-23 01:59] mukeshmjn commented on #737
Yes @weilies assign it to him

[2021-04-23 02:03] weilies commented on #737
@mukeshmjn  i can only perform the "@" mention, not sure how to assign. sorry bout that

[2021-04-23 02:11] mukeshmjn commented on #737
@weilies there must be an assign button

[2021-04-23 02:22] weilies commented on #737
![image](https://user-images.githubusercontent.com/484828/115808883-b43f8280-a41d-11eb-8850-2056aead2149.png)
yes, bu it's a LABEL, not an editable field :(

[2021-04-23 02:24] mukeshmjn commented on #737
I guess only the owner Of repo can do this..

[2021-04-23 02:38] weilies commented on #737
i will jz leave it there then :)

[2021-04-23 15:43] sir-wally commented on #737
@mukeshmjn what version of angular does form.io officially support? I can't seem to find any documentation on that

[2021-04-23 15:44] mukeshmjn commented on #737
I think they support all versions?

[2021-04-27 07:42] b09h opened #763 "can we move the left side component fields options to right side by passing options"
![image](https://user-images.githubusercontent.com/60179972/116204147-14099680-a75a-11eb-833d-398ef8d2d108.png)

[2021-04-28 14:15] edwinanciani commented on #763
Hi @BhanuPrakashReddyT yes you can move it just changing the Builder Template . https://github.com/formio/formio.js/blob/master/src/templates/bootstrap/builder/form.ejs

[2021-04-28 14:17] edwinanciani commented on #746
What do you mean by data source api?

[2021-04-29 04:21] kulandairaj commented on #746
I want to get data from api for my custom checklist box component

[2021-04-29 19:51] mohammadaaqib opened #765 "Multiple input for one question [Question]"
Hi community,
 I want to achieve multiple input fields for one Question like , image attached multiple input fields for age . How can I do this using formio
![githup](https://user-images.githubusercontent.com/14867369/116609708-23e9cc00-a94e-11eb-8ee5-a212821fd0ea.PNG)

[2021-04-29 20:08] wag110894 commented on #765
Hello @mohammadaaqib,

You can accomplish this by using our Survey component.
Here is an example of it: https://latest.test-form.io/authoring-nptsnlcagzomhcx/manage/view/#/form/fjs765?header=1&reset=1

Here is the JSON of an example:
[code]

I hope that this helps.

[2021-04-30 10:57] learner291 commented on #745
Is `trigerUpdate()` function built-in to formio? If yes, what is the scope of `this` and if no, what code should `triggerUpdate()` contain?

[2021-05-01 09:27] jromerob commented on #532
Same problem for me, but i'm not using SSR.

i have this dependencies

` "@angular/animations": "~10.1.2",
    "@angular/common": "~10.1.2",
    "@angular/compiler": "~10.1.2",
    "@angular/core": "^10.2.4",
    "@angular/elements": "^11.2.0",
    "@angular/forms": "~10.1.2",
    "@angular/platform-browser": "~10.1.2",
    "@angular/platform-browser-dynamic": "~10.1.2",
    "@angular/router": "~1

[2021-05-02 04:58] sr-msilva commented on #554
I am assuming that the logic of the formio works as if everything were Component. So I followed this concept and it worked here as follows:

<pre>
 Formio.builder(document.getElementById('builder'), {},{
            //attachMode:'full',
            editForm: {
                textfield:[
                    {
                        key: 'display', //Add in existing tab
                        com

[2021-05-03 08:28] buseodaci opened #766 "[Custom Components]"
Hi,
I created a custom component and using this component i can save the data. But when i want to see data with form its not working.
You can see this is my form.
![image](https://user-images.githubusercontent.com/25960852/116855211-afd74e80-ac01-11eb-806d-883129188d67.png)
 Normally i have data like this` {rate:10}` . For giving this data to form im using submission which like this `{data: { rate

[2021-05-04 00:29] sujithakamineni opened #767 "[Custom Components]"

[2021-05-04 00:37] #767 closed

[2021-05-04 00:39] sujithakamineni opened #768 "Custom Form Builder[Question]"
Hi,

When using custom form builder and passing custom fields to be displayed in basic components through properties in **options** in the below example. Can we pass json schema to form builder for loading custom fields on the left side. Please suggest any better approaches.

<img width="1010" alt="Screen Shot 2021-05-03 at 5 36 52 PM" src="https://user-images.githubusercontent.com/69477326/116949

[2021-05-04 19:51] sharmav007 opened #769 "[Question] - multi-language form FormioOptions"
For a multi-language form how we can store FormioOptions related to form. The create form api only accept form object, how and where options related to the form can be saved and retrieved.

[2021-05-05 14:44] jyoti0291 opened #770 "deleteComponent event not firing when remove components inside a panel"
Hi Team,

<img width="799" alt="Screenshot 2021-05-05 at 8 12 44 PM" src="https://user-images.githubusercontent.com/22149791/117159873-46606700-adde-11eb-98ce-00f5fafc58ad.png">

My form has a panel which contains multiple components. I detect the changes in form through above onChange method which triggers on every update and delete of components except when I remove a component which lies inside

[2021-05-07 05:09] keke086 opened #772 "[Custom Components] How to use custom angular components in different modules?"
Hi, I just register a custom component 'RatingComponent' successfully in the forked project '**formio/angular-demo**' according to the guide (https://github.com/formio/angular-formio/wiki/Custom-Components-with-Angular-Elements).

- If I call registerCustomComponent(injector) in AppModule, the 'RatingComponent' works well in the 'DataComponent' but not

in the 'CustomBuilderComponent';
`export cla

[2021-05-17 09:14] mohammadaaqib opened #774 "Hide cancel button [Question]"
hi i wana hide cancel button in wizards in angular
`  options = {buttonSettings: {showCancel: false}`
is not working
 I am creating form this way
 `<formio [form]="formConfig"   [options]="options" (submit)="onSubmit($event)"></formio>`

[2021-05-17 12:24] rengarajan098015 opened #775 "how to remove all edit form popup preview panel"
Hi,

how to remove all edit form popup **preview panel**
after that buttons align left.
[https://formio.github.io/angular-demo/#/forms/builder](url)
Working based on above sample.

![image](https://user-images.githubusercontent.com/77962234/118486256-07fc6d80-b737-11eb-87a2-e42738fc320c.png)

` <form-builder [form]="form" [options]="optionsdata" (change)="onChange($event)"></form-builder>
`

`opti

[2021-05-17 12:32] rengarajan098015 opened #776 "select component edit window default value not hide"
Hi,

let me know how to remove select component edit window **default value, custom default value, calculated value.**

![image](https://user-images.githubusercontent.com/77962234/118488609-88bc6900-b739-11eb-8de0-795cf5a20b42.png)

[2021-05-17 12:50] rengarajan098015 opened #777 "Select component additional column for user input"
HI,

Normal Select control edit form window
![image](https://user-images.githubusercontent.com/77962234/118490249-5ca1e780-b73b-11eb-9aa3-3e73960b5557.png)

want to to get additional column for user input,  3 column select dropdown  or check box true/false values.
our expected outputs looks like

![image](https://user-images.githubusercontent.com/77962234/118491099-447e9800-b73c-11eb-9ecb-fa31bcd6

[2021-05-18 10:30] learner291 commented on #745
@travist I couldn't find `triggerUpdate()` method, but was able to find `triggerChange()`. I call this function in `ready` event handler but it is still not displaying the text. I have added below code.

[code]

[2021-05-19 05:50] PranapSivadasan opened #778 "FormBuilder/FormRenderer validation is not showing the error message when field value is set by code"
## Environment

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version: Latest version (Even in online [demo builder](https://formio.github.io/angular-demo/#/forms/builder))
- Browser: Firefox
- Browser version: 88.0.1

## Steps to Reproduce
1.  We have a simple form where the field value of a text component is set by javascript code in its Custom Default Value / Calculated Value.
2

[2021-05-20 15:55] talha48 commented on #422
@pankilkhatri

did you manage it ? if yes can you please share the idea ?

[2021-05-21 05:11] pankilkhatri commented on #422
@talha48

For that, you have to add the hidden submit button on formio component and then you can trigger from outside

`var submitButtonJson = {
              "label": "Submit",
              "showValidations": false,
              "customClass": "hidden",
              "hidden": false,
              "tableView": false,
              "key": "submit",
              "attributes": {

[2021-05-25 07:27] #355 closed

[2021-05-27 16:41] ddurham2 opened #780 "[Question] Possibilities for customizing headers and/or cookies"
I'm in a situation, using the opensource edition, where there is a reverse proxy between the frontend and formio backend.  And this reverse proxy has some additional authorization to do.

When using, e.g., a `<formio>` element, I need some way for it to either:
1. send the 'Authorization' header with my supplied value
2. or some other custom header with said value
3. or have cookies sent by having

[2021-06-02 06:58] RyanHow commented on #505
Hey guys. Just found this issue. Just reporting that it is a major showstopper for us and a decision-maker or breaker when considering this library.

(Just mentioning because if I was maintaining then I'd like to know why people are using/non using my library)

[2021-06-02 14:48] MaksimFalei commented on #750
Hello @tvaidyan
You can do it by specifying a static get method inside your custom component 'builderInfo'.
Simple example:
``
static get builderInfo() {
    return {
      title: 'Your cstom component title',
      icon: 'fa fa-puzzle-piece',
      group: 'advanced',
      weight: -10,
      schema: YourCustomComponent.schema(),
    };
  }
``

Hopefully, it will help you.
Best regards

[2021-06-03 09:33] potandpornstarsdev opened #781 "[Question] How to Enable Formio-grid Column Filtering & Sorting"
Hi Everyone,

We are trying to use the formio-grid with the enableFiltering: true option set in the component but it has not effect.

Looking at the @angular/formio grid package I do not see the gridOptions property on the interface.

What is the proper way to enable filtering across all the columns? Here is the element configuration we are using. with Angular 11.

<formio-grid
src="{{ config.appU

[2021-06-03 10:48] potandpornstarsdev opened #782 "[Question] Stackblitz support for @formio/angular package- what are the requirements to get it working with Trubo compiler and Ivy?"
Does anyone know what it would take to get the current @formio/angular client lib to work with Stackblitz. Currently it won't spin up but i can not find any errors to debug with. If anyone has got it to work please let me know!

[2021-06-03 15:09] brandlighting commented on #781
we are trying to get column filtering and sorting enabled as well to no avail. Has anyone been able to pass the gridOptions to the ui-grid within the component class? The formio-grid docs are for angularjs and it appears to be a different implementation as the @formio/angular library. Any help would be great!

[2021-06-08 05:46] StefanRupertsberger commented on #546
Hi @SGhantous86

Have you found the problem, because I am facing a similar problem.

[2021-06-08 08:51] kamaloush commented on #734
Issue is patched since version 5.0.3

[2021-06-08 08:51] #734 closed

[2021-06-09 11:11] nageshyaho commented on #291
Hi @ghost!,
You can pass random key in your url (dont use it in query just pass it), it will give you new result.

[2021-06-14 12:13] MiguiTE commented on #542
Hello @wag110894 any update on this?

[2021-06-20 19:44] sandeepspace commented on #130
Hi @sachitsac, this issue can be done by forming a custom id on <formio> tag & change event where you want to display form builder fields.
I was also facing the same issue and with extra e014 text which was appended into submit button text.
like--  [**Submit e014 (If Form is invalid)**](url)
Step 1: <formio id="formio" [form]="formBuilderData" (submit)="fbSubmit($event)" (change)="isFbChanges($eve

[2021-06-23 16:17] wag110894 commented on #778
Hello @PranapSivadasan,

Apologies on the delay. We are not able to replicate this using the latest version using our sand box.
https://formio.github.io/formio.js/app/sandbox
We used your code above and have saved the form as 60d35e4849fe3227df6356d6.
Enter the number above to Load Form on the site above to replicate our view.

[2021-06-29 07:35] PranapSivadasan commented on #778
@wag110894

# REQUESTING TO REOPEN THE ISSUE

The same issue is shown in the sandbox that you have hosted under the ID - 60d35e4849fe3227df6356d6.

## Expected Behavior:
 - When the text field contains a value that is set by select component, which violates the validation an **error message must be shown** every time.

## Observed Behavior:
 - When the value that violates the validation is set by

[2021-06-29 15:58] jftsaraiva opened #784 "[Question] - Remove item on file component"
In `File` component what's the best practice to delete a file that was uploaded to storage (URL):

![image](https://user-images.githubusercontent.com/2278476/123827642-b419a280-d8f8-11eb-82ee-8270c74581ff.png)

this removes it only on UI, but keeps the file in storage.

How to configure endpoint for `DELETE` verb?

If we use form renderer's `change` event, we can verify if `type` of component is `

[2021-06-29 19:02] hbaldwinRPT opened #785 "[Custom Component] Component html not rendering at all in builder"
No matter what I seem to do, in an ionic angular project, there seems to be no way to get the custom component HTML to render in the builder or renderer. I have done everything short of tearing down my project and building it again on top of the custom element demo. There doesn't seem to be any reason why this is happening, as there are no errors or conflicts arising, and using the same packages i

[2021-07-01 19:44] #785 closed

[2021-07-01 19:46] hbaldwinRPT commented on #759
I'm having this same issue, and just beginning to look into it. do you happen to be using another framework? For example my project is using ionic/capacitor on top of angular. Have you been able to make any progress in this?

[2021-07-02 07:54] sudurrani opened #786 "[Help] File Upload Error"
I have added File upload component with below schema
![image](https://user-images.githubusercontent.com/14028940/124240135-e2cf8d00-db33-11eb-9729-30cb4082720f.png)

Can not read property '0' of null - error is raised and page does not  load
![image](https://user-images.githubusercontent.com/14028940/124240832-959feb00-db34-11eb-9778-08727e507ec2.png)

[2021-07-05 04:23] StefanRupertsberger commented on #759
No just angular. I observed that some people have similar problem when using lazy loaded modules.

[2021-07-07 15:31] dsovago commented on #446
@travist The question is about creating custom component with Angular component, not JS file component, like at this link:
https://github.com/formio/angular/wiki/Custom-Components-with-Angular-Elements
I'm interested in this question too, because I want to create an Angular component inherited from NestedComponent, but this way doesn't work for me, it says "Module not found: Error: Can't resolve '

[2021-07-08 20:00] Majidmehrab opened #787 "[Custom Components]"
Hi, how can I add a component to a builder form?

https://github.com/formio/angular-formio/wiki/Custom-Components-with-Angular-Elements

I think this link is incomplete if you can help

thanks of team

[2021-07-12 17:55] BignallCyber opened #788 "[Custom Components] Multiple component schema info showing more than one component rather than allowing an array of values to be captured."
Hello ,
The "multiple":true is acting like I wanted multiple of that component in one space rather than If this component should allow an array of values to be captured.

Wanting to make a custom multiple select component , When I add in the  "multiple":true into the object for the component it gets rendered out as :
![image](https://user-images.githubusercontent.com/87323935/125331693-ed490e00-e3

[2021-07-14 09:43] fzucaro opened #789 "[Question]"
In initialize data form, if object contains some attribute that are not present in the form, the data is maintained in submission input or deleted ?

[2021-07-15 13:05] therabreal opened #790 "[Question] rendering performance - optimal way to set/change/update only server changed parts of submission"
Hi,

We are dealing with large forms many components.
Currently we set the submission for the complete form after each change/server interaction.
This is starting to cause rendering performance issues for us.

Is there a way to update only part of the submission?
So if the server only returns changed data - I would effectively like to merge this data with what is already in the form.

I could merg

[2021-07-18 06:17] navateja424 opened #791 "How to display dataSource[0].data on the Form"
Fantastic lib, Appreciate @travist on this Forms.

I have a form when you select the name of the employee from the dropdown it should pull the data of the employee if Active or not from the Employee resource and display in the form. I have used the DataSource for it and fetched the data calling the API. I was able to write the retrieved data to the console but I am not sure how to display the same

[2021-07-20 01:23] stevenbowler commented on #456
StaticInjectorError(AppModule)[IndexComponent -> FormManagerService]:
![image](https://user-images.githubusercontent.com/56875138/126247931-bab6b7d2-9181-47d1-8630-9c47b5819364.png)
Have followed the recommendations above, still getting the same error.    Any further recommendations will be appreciated.  Cheers.

[2021-07-20 23:47] binury commented on #456
I think your problem is related but _not_ this issue's specific focus.  https://stackoverflow.com/search?q=angular+no+provider+for

But, at a glance, your [form module](https://dev.azure.com/stevenbowler1/angularFormIO/_git/sbFormIO?path=%2FsbFormIO%2FClientApp%2Fsrc%2Fapp%2Fform%2Fform.module.ts&version=GBdev) is not using your [config.ts](https://dev.azure.com/stevenbowler1/angularFormIO/_git/sb

[2021-07-27 07:15] Mkaith opened #792 "Adding a data grid within a existing form"
Hi,
My use case is that i have a parent form and a contacts form. When i press addcontact button a pop up is opened and contact form is rendered within it. Once i have filled that form is there any way to dynamically show that info above the addcontact button in the form of grid.

Also if i perform some actions through custom events then my form is again rendered and i need to fill that all again.

[2021-07-30 21:31] drosophila-melanogaster commented on #617
Hello, @StefanRupertsberger. Did you manage to find a solution for using MinIO as your File component storage provider? Thanks in advance.

[2021-08-03 09:11] dnmosca opened #793 "[Question] angular/formio render options errors"
Hi,
a simple question:
under what conditions formio render options errors is triggered ?

<formio [form]='myForm' [options]="options"  ... > </formio>

options = {
        alerts: {'submitMessage': ''},
        errors: {'message': ''},
        i18n: {language: 'it',
        ...
}

Thanks in advance

[2021-08-06 08:20] Mkaith opened #795 "Help Required in custom component"
Hi all,
I was trying to make a custom component to select weekdays. But i am unable to find what to be send in valuechange and value of custom component. Attaching the custom component.
[custom-check-box.zip](https://github.com/formio/angular/files/6944226/custom-check-box.zip)

[2021-08-06 11:17] Mkaith commented on #478
any github repo for this pls

[2021-08-06 11:50] jjfellers commented on #478
Did you try converting the array to a string (JSON.stringify), then on the other side, JSON.parse?

[2021-08-06 12:10] Mkaith commented on #478
@jjfellers  Yes i have tried with that.Let me explain what i am trying to do. I have been making a custom component of weedays picker with a custom entry of daily which will select all the days. For that i have used below code

TS file:-
import { Component, EventEmitter, Input, OnInit, Output } from '@angular/core';
import { FormioCustomComponent, FormioEvent } from 'angular-formio';

@Component({

[2021-08-06 12:14] Mkaith commented on #478
html file:-
<div id="nav">
<ul class="horizontal" id="nav">
    <li
      *ngFor="let schedule of schedules"
      (click)="setScheduleAsActive(schedule)">
      <a [class.active]="check(schedule.value)">
        {{ schedule.label }}
      </a>
    </li>
  </ul>
</div>

[2021-08-06 12:15] Mkaith commented on #478
[custom-check-box (2).zip](https://github.com/formio/angular/files/6945412/custom-check-box.2.zip)
Attaching component for reference.

[2021-08-06 12:19] Mkaith commented on #478
![Capture](https://user-images.githubusercontent.com/47468681/128509274-be33158f-2e87-4478-bbca-dff91bd43b53.PNG)
trying to create something like this

[2021-08-06 19:14] jjfellers commented on #478
Here is a sample of a custom component I did that ends with an array. Hopefully it helps you in some way:
`export class SelectResponsibilitiesComponent implements FormioCustomComponent<string>{
  constructor(
    private CIM: CimService
    ){ }
  disabled: boolean;
  formioEvent?: EventEmitter<FormioEvent>;
  private _value: string;
  Resps:any[];
  Tree:any;
  selectedRespsonsibilities:any[];

[2021-08-07 04:37] Mkaith commented on #478
@jjfellers Thanks it did work but while submitting i am getting empty string.
![Capture121](https://user-images.githubusercontent.com/47468681/128588025-e5dcd8d9-3f24-4edf-8878-40077c165d90.PNG)

My TS Code is:-

import { Component, EventEmitter, Input, OnInit, Output } from '@angular/core';
import { FormioCustomComponent, FormioEvent } from 'angular-formio';

@Component({
  selector: 'app-custom-

[2021-08-07 04:58] Mkaith commented on #478
@jjfellers can you pls share the regestering component as well

import { Injector } from '@angular/core';
import { Components, FormioCustomComponentInfo, registerCustomFormioComponent } from 'angular-formio';
import { CustomCheckBoxComponent } from './custom-check-box.component';

const COMPONENT_OPTIONS: FormioCustomComponentInfo = {
    type: 'customcheckboxes', // custom type. Formio will ident

[2021-08-07 05:32] Mkaith commented on #478
@jjfellers I have successfully captured the value and the array is stored in db but when i try to get the submission, my appropriate selection is not selected. For Ex:-
While Submitting :-

![submit](https://user-images.githubusercontent.com/47468681/128589250-eaa40ed2-1e39-40c7-adcd-474baca8239e.PNG)

![submit2](https://user-images.githubusercontent.com/47468681/128589254-29b1e95b-8105-47a6-91d4-

[2021-08-07 10:41] jjfellers commented on #478
I am afraid I can't help too much here. I never use Form.IO to display the data submitted in my use cases. I would guess you have to take the values and set them as the default values on the form on load - but just a guess and there may be a method available to do so.

[2021-08-07 11:09] Mkaith opened #796 "[Custom Components] Form Rendering issues"
Hi team,
I have successfully captured the value and the array is stored in db but when i try to get the submission, my appropriate selection is not selected. For Ex:-
While Submitting :-
![image](https://user-images.githubusercontent.com/47468681/128598174-e1225be5-41ac-4968-8a2d-04220c4a0792.png)

![image](https://user-images.githubusercontent.com/47468681/128598182-cab32e96-072e-4da7-af37-148ce5

[2021-08-07 11:10] #795 closed

[2021-08-07 11:12] Mkaith commented on #478
@jjfellers Thanks a lot for your help

[2021-08-09 13:29] wag110894 commented on #796
Hello @Mkaith, can you provide your form json?

[2021-08-10 05:42] Mkaith commented on #796
Here is the Json of form @wag110894
{
    "components": [
        {
            "label": "Weekdays",
            "optionsLabelPosition": "right",
            "inline": false,
            "tableView": false,
            "validate": {
                "onlyAvailableItems": false
            },
            "key": "dfgh",
            "type": "weekdaypicker",
            "input": true
        },

[2021-08-10 14:12] wag110894 commented on #796
Have you taken a look at https://formio.github.io/formio.js/app/examples/customcomponent.html or https://github.com/formio/angular/wiki/Custom-Components-with-Angular-Elements?

[2021-08-10 14:44] Mkaith commented on #796
@wag110894 I have read both these documentations and came to such conclusion.

I have thought of a other way round to make a table and drag check box components to each column to represent weekdays. But I still need help on submission flow I.e. to render the submitted form.

[2021-08-11 20:55] Radamanthys0 opened #798 "[Custom Components] Button Custom Events"
Hi team,
I had followed suceffuly the  tutorial https://github.com/formio/angular/wiki/Custom-Components-with-Angular-Elements
and created an Angular custom component for formio. But I came with some adversity.

I'd like to know if it is possible to listen to a formio  button custom event within this Custom Component I've created

For an exaple, if I create this button with this event custom test:

[2021-08-12 22:29] SGhantous opened #799 "Multiple FormioComponent instances retained in memory [Question]"
My company uses Formio to render forms, and recently one of our clients noticed some odd behavior with our application. I did some investigation to determine what the issue could be, and while doing so noticed that whenever we open a dialog that contains the FormioComponent a new instance of the component is created, but when the dialog is closed it does not get destroyed.

I created as bare bones

[2021-08-16 06:33] StefanRupertsberger commented on #617
Hi @drosophila-melanogaster, no sorry I didn't...

[2021-08-17 10:34] Samanoova opened #800 "[Question] How to edit the dialog HTML ?"
Hi
Is there any way to edit the dialog HTML that generates when I dropped an input into a form builder?

![Capture](https://user-images.githubusercontent.com/38281155/129710442-8547f547-94b0-47ea-8712-bffdecf13937.JPG)

for example, I want to append an icon to the default value block and wrap them into a new div to feel free when I add my styles to the new block that I want to create.
 and I want

[2021-08-18 07:18] kiranpwr1260 opened #801 "How to keep the data of component when Collapse a "panel component"?"
Whenever I collapse the "panel" the component inside it loses the data and reset.

[2021-08-23 11:25] ManadayM commented on #584
Hi @sterichards,

Could you please let me know how did you manage to post the form data to your endpoint through the Form Render component? I'm unable to spot any documentation around this topic that enables us to set our custom endpoint. I cannot allow any 3rd party service to store our data due to its sensitivity and privacy concerns.

Any guidance or help is highly appreciated.

I also apologiz

[2021-08-23 12:30] sterichards commented on #584
I'm happy to help, it's OK

I am very "rusty" with this project because it got discontinued but I still have the code. Maybe this helps:

Component code - https://pastebin.com/Y3QUuuwL

Template code - https://pastebin.com/1TPbuQrN

If that doesn't help I can give you access to the repo so you can look through the code yourself

[2021-08-23 13:27] ManadayM commented on #584
So kind of you. That was very quick @sterichards! Thanks much for your time and efforts.

I think I could've better narrated my question in the first place.

I've achieved all items from the following Todo list except the last one. That's where I seek help.

- [x] Form Builder component integration to design the form
- [x] Saving generated JSON form schema to my (mock) backend API
- [x] Fetching a

[2021-08-23 19:54] sterichards commented on #584
@ManadayM  - https://github.com/sterichards/fillform-web-app

Hope you find what you need

[2021-08-24 05:11] ManadayM commented on #584
Thank you so much, @sterichards! I'm going through your implementation now. 🤞🏼

[2021-08-25 16:37] shalin2000 opened #802 "How to ignore the labelPosition while having a default value of left-left for custom component using editForm [Question]"
Hey everyone, I am having trouble trying to achieve ignoring label position dropdown so that it doesn't show in the modal of the component but I want it to apply the "left-left" value from the dropdown to the components label. Is there a way of achieving that?

[code]

So with the code above, I am able to hide the label position dropdown from the modal but how can I hide the dropdown but also have

[2021-08-31 11:11] lHilovsky opened #803 "[BUG] The number component's preview panel does not show correct default value when user delete it"
## Environment
- Formio.js version: 4.13.5
- Frontend framework: Angular
- Browser: Chrome

# First issue
## Steps to Reproduce
1. Write some number into default value
2. Delete digits one by one

## Expected behavior
Default value should be empty
## Observed behavior
First digit is still shown in preview panel
## Example

https://user-images.githubusercontent.com/56341727/131491296-30e65888-7c01-

[2021-09-01 21:49] bfoese opened #805 "Translations provided for form builder affect the rendered form [BUG]"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x ] Local deployment
    - Version:
- Formio.js version: 4.13.5
- Frontend framework: Angular
- Formio Angular version: 5.1.1

## Steps to reproduce

1. Provide initial form builder options (`<form-builder [options]="{}">` which do not contain `language: 'de'` property yet
2. Lazy load current locale and

[2021-09-02 09:36] Chayannath19 opened #806 "Need to have custom error comments while creating form[Question]"
Need to give custom comments like this, how it is coming up " API Key is not unique" While creating the form, is there any way to do it?

![image](https://user-images.githubusercontent.com/89972934/131820785-b7be3501-914d-45d3-b787-37488674261c.png)

[2021-09-07 12:53] swapnil147 opened #807 "[Question] Formio File Component functionality need to override"
Hi,
I am trying to override the formio File Component functionality. Whenever a user tries to remove the uploaded file a confirmation popup should display and if the user confirms the uploaded file should remove. ( looks like right now we don't have this functionality in formio)

![image](https://user-images.githubusercontent.com/4358001/132347519-6ff5705b-2b22-469a-a38d-98bde3345d2a.png)

I have

[2021-09-10 16:38] swapnil147 opened #808 "[BUG] Formio autocomplete option in form builder not working"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Form.io official demo page
- Browser: Chrome
- Browser version: 92.0.4515.159

## Steps to Reproduce
Go to the official demo page https://formio.github.io/angular-demo/#/forms/builder
1. Create Name field with type textfield and autocomplete as off
2. Create Address field with type textfield  and auto

[2021-09-12 10:01] MohamedAmineLaribi opened #809 "[BUG] Unauthorized error in form manager"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [] Local deployment
    - Version:
- Formio.js version:4.12.4
- Frontend framework:Angular
- Browser:Chrome

I can't manage my forms, when I make any action a 401 unauthorized error occurs. I changed permissions but it didn't work.

![image](https://user-images.githubusercontent.com/63079647/132983379-039

[2021-09-12 12:32] #809 closed

[2021-09-15 14:09] rubandangol opened #810 "[BUG] png image not getting displayed"
I have checked "Display as image" in the form builder, but when the form is rendered and I upload a png file, the image isn't displayed. However, if I upload a jpeg file, the image gets displayed as expected. I've selected Url as the storage type.

formiojs: 4.13.3
@formio/angular: 5.1.1

![Screenshot](https://user-images.githubusercontent.com/15991812/133448015-7d54cead-bab0-4331-9f69-8f9f6565289

[2021-09-15 15:37] dalesingh47 opened #811 "[Question] Preventing Component Editor from being closed when clicking on modal background"
This question is in reference to the form editor.

Currently, when a component editor is open, it can be closed by clicking on the "X" in the top right hand corner, or by clicking on the modal background.

Is it possible to prevent the the editor from being closed when the modal background is clicked? This seems to be a big deal for some users.

If not, is it possible to add a feature request for

[2021-09-15 21:54] HaidarZ opened #812 "[BUG] Angular 12 form-builder template error"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Local deployment
    - Version: 5.2.0-rc.1

## Steps to Reproduce
1. Create an angular 12 based project
2. Add formio as a dependency
3. Create a component with form-builder inside it and try to handle the change event
4. Project will not build

## Expected behavior
Successful build, nothing is done only declaring th

[2021-09-17 04:30] rubandangol commented on #313
Just in case you guys aren't aware, this bug still exists.

[2021-09-21 00:40] weilies opened #813 "[Question] Install Error and aborted"
I am getting following error while npm install

[code]

[2021-09-21 00:42] weilies commented on #737
hi all, is this fixed? i am still getting this TODAY... :(

[2021-09-21 16:25] weilies opened #815 "[Question] Crappy UI... missing stylesheet?"
![image](https://user-images.githubusercontent.com/484828/134209196-73e6eb63-3b1e-4789-bbcf-3ad558eb9c56.png)
i managed to install the package via --legacy-peer-deps (which i am not fully know what's that). How come my UI broken? Did i missed out any css import?

how can i get a proper form layout?
https://formio.github.io/angular-demo/#/forms/builder

[2021-09-28 02:56] knackstedt commented on #521
I too have this issue. It looks like a bug to me.
In my case, I'm loading multiple forms as Material tabs, and want to pre-populate the values to make a RESTful configuration UI. The Form has been mutating my `submission` object, and refuses to take the values that I try to prepopulate.

I was able to get it working with the following "hack".

Component.html:
[code]

Component.ts
[code]

In my cas

[2021-10-02 01:22] weilies commented on #815
i manually patch the angular.json and it's now working.

            "styles": [
              "src/styles.css", ...
              "node_modules/bootstrap/dist/css/bootstrap.min.css",
              "node_modules/formiojs/dist/formio.full.min.css"
            ],

[2021-10-02 01:22] #815 closed

[2021-10-06 12:09] Rolf-MP opened #821 "[Question] formio sandbox - allowing MS Teams URI"
Hi,

I am trying to allow href to use the msteams protocol in the formio sandbox through the options json. This does not fly however.

[code]

When I add the below as a string in the options json

[code]

It is not respected (testing the regexp to the msteams URI shows the regexp is fine). I presume because in the sanitize function the regex string is not converted to a regex object in the sanitiz

[2021-10-11 11:54] JPizarro14 opened #822 "[Question] PrimeNG layout"
Hi all!

I'm testing your library with my PrimeNG Angular project but the layout is not as expected.
![image](https://user-images.githubusercontent.com/36504551/136785752-716a4806-6a9a-47ee-a833-9f03d3c4c54e.png)

Is there a way to set the PrimeNG layout with your formio object?

Thank you so much
Best regards

[2021-10-11 14:43] jaspereira19 commented on #772
Same doubt

[2021-10-14 03:13] jyotiyi opened #823 "I want to create custom component same as data source."

[2021-10-15 09:23] abhinit217 opened #824 "How to make two select component dependent using Data Source - Raw JSON"
I am trying to design country and state dependent dropdown using select component Data Source - Raw JSON.

My form json is something like this

{
    "components": [
        {
            "label": "Country",
            "widget": "choicesjs",
            "placeholder": "Select country",
            "tableView": true,
            "dataSrc": "json",
            "data": {
                "values": [

[2021-10-18 06:42] saravanapriyanm commented on #602
Have you found a solution?

[2021-10-19 09:02] 4bs0l3m opened #827 "Angular v5 Stabile Version"
### Discussed in https://github.com/formio/angular/discussions/826

<div type='discussions-op-text'>

<sup>Originally posted by **enesozer** October 19, 2021</sup>
Hello, I working to Angular v5 at now and I want to use this project. Which i can use version of the project?

My package.json

    "@angular/cdk": "^5.2.5",
    "@angular/common": "^5.0.0",
    "@angular/compiler": "^5.0.0",
    "@angu

[2021-10-19 19:24] lfbertucci commented on #517
Hi, sorry for this reply so late, but I'm facing the same problem, trying to change de default labels from editForm.

I managed to change the editForm function from textfield directly in component, but the labels doesn't change. @JRiggenbach can you provides some example?

I appreciate it.
thks

[2021-10-26 08:36] jyotiyi opened #828 "How to get all drag and dropped components in formio file."
Here i am getting all drag and dropped components from localstorage. But i want to get all selected components in formio file edit function. How to get?

formio.ts file
import { Injector } from '@angular/core';
import { Formio, FormioCustomComponentInfo, FormioUtils, registerCustomFormioComponent } from 'angular-formio';
import { Components , Utils  } from 'formiojs';
import { EditTextfieldCompone

[2021-10-27 05:20] jyotiyi opened #829 "How to add a new field in textfield data tab formio Angular?"
After drag textfield component this is how it appears, is it possible to add extra field in data tab? And assign a calculated value to textfield.
![image](https://user-images.githubusercontent.com/92496788/139003996-9fc85db2-3c7e-42d5-8e46-d3d12b4a2829.png)

[2021-11-03 12:18] alexrok21 commented on #560
Hi everyone, I'm stuck at the same point trying to emit events. I need to emit editGridSaveRow, so far this is working `<formio
		[form]='form'
		[submission]='submission'

but when I try this `<formio
		[form]='form'
		[submission]='submission'
		(editGridSaveRow)="test()"

[2021-11-03 12:22] ivoscode commented on #473
Am I correct in understanding if I wish to include a custom component in to a PDF I have to alter PDF builder and not the renderer? I can get my component to work in a  PDF builder but the component is not recognised on PDF rendered form while  filling it out. Same component works fine in a "form" render.
 Any code sample on how to add custom component to pdf would be appreciated for @formio/reac

[2021-11-03 17:46] alexrok21 commented on #96
how do you emit a custom event?

[2021-11-05 11:06] NeilWoodComputing opened #830 "[BUG] multipleOf 0.1 validation is throwing "not a multiple of 0.1" error on certain values (0.3, 0.6, 0.7) & more"
## Environment
Please provide as many details as you can:

number field throwing incorrect errors:
multipleOf 0.1 validation is throwing "not a multiple of 0.1" error on certain values (0.3, 0.6, 0.7) & more

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:  7.15.1
- Frontend framework: Angular
- Browser: Chrome -  84.0.4147.105
- Browser version: -  84.0

[2021-11-05 18:29] smirnov-d opened #831 "[Question] [Custom Components] Value prop as an array"
Hi, there. I try to use a custom component with array of strings, but @input value changed to the string (first element of the array) after form submission. Could you please provide an example how to use a custom component with an array.
[code]

Also, when I try to provide the <formio ... [submission]="{ fieldName: ['string1', 'string2'] } " > the value prop in the component is equal to 'string1'

[2021-11-08 14:05] barkat-uipl commented on #390
![Screenshot (35)](https://user-images.githubusercontent.com/93926484/140755340-82cc0009-4c77-4fdd-867d-36a0b3320247.png)

I am getting this error in

Angular CLI: 9.1.3
Node: 12.14.1
OS: win32 x64
Angular: 9.1.3
 but npm i @angular/elements the issue is not fixed if I install this its showing different error.

[2021-11-08 14:07] barkat-uipl opened #832 "[BUG]"
![Screenshot (35)](https://user-images.githubusercontent.com/93926484/140756146-7c7880ac-8163-450f-8436-69c0b08dc8ad.png)

I am getting this error in

Angular CLI: 9.1.3
Node: 12.14.1
OS: win32 x64
Angular: 9.1.3
but npm i @angular/elements the issue is not fixed if I install this its showing different error.
[code]

[2021-11-15 06:38] Rahuly2k opened #834 "When we click on already uploaded file, it opens new tab on browser"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1.
2.
3.

## Expected behavior

## Observed behavior

## Example
If possible, please provide a screenshot, live example (via [JSFiddle](https://jsfiddle.net/) or similar), an

[2021-11-15 06:49] Rahuly2k commented on #834
I am using angular framework, where I created one template and upload file. But when user logged in to their profile all data pre filled properly with file. but when click on already uploaded file (from user profile) it open new tab with file name.

[2021-11-15 15:57] wag110894 commented on #834
Can you provide a form embed as well as a video?

[2021-11-17 10:19] Marc-Hoch commented on #133
I have the same problem. Does anyone have a solution? When I add the empty config, the form builder no longer works.

[2021-11-17 14:45] binury commented on #133
Create a valid config

[2021-11-17 14:52] Marc-Hoch commented on #133
okay, but I don't use the formio backend service. Do you use the formio service? Or what valid data have you entered?

[2021-11-22 08:52] sidxyz0 opened #836 "[BUG] Form Builder Disappears when password field in dropped at the top most position of the form. Also happens with text field with hidden input option."
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [x] Local deployment
    - Version: 5.1.1
![Screenshot (17)](https://user-images.githubusercontent.com/76954657/142830842-3b40eda0-45af-4fdf-92ec-c1ac345019ed.png)
![Screenshot (18)](https://user-images.githubusercontent.com/76954657/142830895-ca5c78b1-5601-4543-b487-f9f4929932c6.png)

- Formio.js version

[2021-11-22 08:55] #836 closed

[2021-11-29 14:14] Rahuly2k opened #839 "File download"
How do I download uploaded file from same list ?

[2021-12-01 15:18] rivervaladao commented on #788
@BignallCyber did you find the solution?

[2021-12-01 19:38] BignallCyber commented on #788
I found more of a work around
Registering it is mostly the same
![image](https://user-images.githubusercontent.com/87323935/144264370-cc284d81-9abd-4978-981d-3ecda6b6f4dc.png)
The Main change was that Form-io "sees" a single select but when the defaultValue gets to the custommultipleselect, Angular treats it like a multiple select .
It is not the best because it has to return a string so Form-io "

[2021-12-02 10:31] ShankaranarayananB opened #840 "Form Builder change event throwing undefined error"
![image](https://user-images.githubusercontent.com/89534491/144405003-23d420a5-e993-47ec-8438-1d5a334a6c2b.png)

[2021-12-02 13:00] umeshp1212 opened #841 "Can't import the named export 'switchMap' from non EcmaScript module (only default export is available)"
ERROR in ./node_modules/@angular/elements/fesm2015/elements.mjs 328:49-63
Can't import the named export 'ApplicationRef' from non EcmaScript module (only default export is available)

ERROR in ./node_modules/@angular/elements/fesm2015/elements.mjs 323:68-85
Can't import the named export 'ChangeDetectorRef' from non EcmaScript module (only default export is available)

ERROR in ./node_modules/@angu

[2021-12-02 13:04] umeshp1212 commented on #832
Same in my project

[2021-12-03 10:29] #840 closed

[2021-12-04 18:59] shahzadiiui2015 opened #843 "[Custom Components]"
how i can pass value to default value of textarea using as quill editor.  i am using custom component which have hyper links added into textarea editForm. is there any way to do that how i can achieve this. i have attached the image for more detail.
![customTextArea](https://user-images.githubusercontent.com/38350534/144721389-b417b601-22c7-470b-8023-5b772a740984.png)

[2021-12-07 07:01] ROSHANDBIT commented on #532
did anyone find the solution to this?

[2021-12-07 07:20] ROSHANDBIT commented on #532
"@agm/core": "^1.1.0",
    "@angular/cdk": "^11.0.3",
    "@angular/common": "^11.0.7",
    "@angular/compiler": "^11.0.7",
    "@angular/core": "^11.0.7",
    "@angular/elements": "^11.0.5",
    "@aws-amplify/ui-angular": "1.0.6",
    "@formio/angular": "^5.0.0",
    "angular-formio": "^4.11.5",
    "formiojs": "^4.14.0-rc.26",

    **

**

[31mError:[0m Failed to compile entry-point formio-man

[2021-12-07 15:39] webstik1811 commented on #812
When I add `(change?)` instead of only `(change)` the build is possible, but this does not emit the function `onChange($event)`. So this does not fix the problem with correctly handling the changes made from FormBuilder.
So how to make this think to work with Angular 12 and to handle changes?

[2021-12-09 06:18] ThakkarHardik commented on #832
same in my project too , can you please update the any solution for it !  @travist

[2021-12-15 11:13] shahzadiiui2015 commented on #363
How i can get access to the Quill editor from angular component?

[2021-12-17 09:12] phinguyen202 opened #844 "[Question] How to listen on keyup, keydown and keypress events"
Hi everyone,

Many thanks for awesome library.

I'm trying to listen keyboard event on an textfield. I have try to use "Advanced Logic" with "Event" type and input the "keyup" event then adding an simple action. However it doesn't work. If I change the event to "focus" then it works well.

Do I miss something to make it works?

The versions I'm using are:
`
@formio/angular": "^5.2.0",
"formiojs":

[2021-12-21 12:09] khadimullah1 opened #845 "File Component is not working"
Formio File component is not working in angular
![image](https://user-images.githubusercontent.com/77723322/146926972-bc423339-98b7-49bf-821b-9574d4989a6f.png)

it give below error
![image](https://user-images.githubusercontent.com/77723322/146927468-651df9d0-4a77-4115-9167-657452d22b2a.png)

schema is given as below
![image](https://user-images.githubusercontent.com/77723322/146927617-d36dc697-d5

[2021-12-22 10:57] phinguyen202 commented on #422
Hi @pankilkhatri and @talha48,
Try this one: [issues 476](https://github.com/formio/angular/issues/476)

[2021-12-28 09:35] abdulhamid93 opened #847 "Installation Failed [BUG]"
Installation failed.
Please help me.

![image](https://user-images.githubusercontent.com/80948405/147552020-65a033d1-9d81-4509-bcdb-5e30e2146bca.png)

[2021-12-28 17:33] sanjvij commented on #532
hi I had the same problem the file you shared didn't worked as it threw error. Can you share steps on how you added this file and exact contents ?

[2021-12-29 08:52] gqchishti commented on #703
Were you able to fix it? If so can you please guide?

[2021-12-30 12:49] Aribs01 commented on #673
Hello, please were you able to fix this issue?? If yes, Please how??

[2021-12-30 12:50] Aribs01 commented on #673
Please I'm having the exact same issue, How where you able to fix it??

[2022-01-10 17:55] IsmaelPro commented on #812
try alter the 'change?' for 'change!'

[2022-01-10 22:21] dbtomy commented on #812
Any news on this topic? I got the same issue.

[2022-01-12 09:29] AurelienColas-Fr opened #848 "[Question] 'undefined' Output on FormBuilder component"
Is that normal that the output **(change)** from the FormBuilderComponent can be 'undefined'?
If I try to build my angular project with the strict compilation mode of typescript, I get the compilation error below.

![Capture](https://user-images.githubusercontent.com/83823766/149100543-b4e82f63-b02a-41a8-9814-650a8a0b2d7f.PNG)

My versions are :
"@angular": "13.1.2"
"typescript": "4.5.4"
"@formio/

[2022-01-15 09:36] thienmohr commented on #798
any update?

[2022-01-19 22:22] hbaldwinRPT commented on #133
i also havethis issue using angular formio with my own custom backend

[2022-01-19 22:27] hbaldwinRPT commented on #133
@Marc-Hoch
`
import { FormioAppConfig } from "@formio/angular"

export const AppConfig: FormioAppConfig = {
    appUrl:'',
    apiUrl: 'api',
}
`

[2022-01-19 22:28] hbaldwinRPT commented on #133
`import { FormioAppConfig } from "@formio/angular"

export const AppConfig: FormioAppConfig = {
    appUrl:'',
    apiUrl: 'api',
}`

@Marc-Hoch

[2022-01-21 09:37] benjamindamm commented on #530
I have the same issue. I am using my custom components in the FormBuilder as well, but when it comes to render them i get just an empty tag.

[code]

[2022-01-25 12:14] alphazhe commented on #520
@travist Thanks for you solution, it totally works for me. One more addition to it to make it little optimized
[code]

[2022-02-02 06:33] ajaykumarsana commented on #570
@travist
@dev-thinks
@AleksandarKurta

Can you please help me to have **form** instance in the method `form.checkValidity(null, true);`?
I couldn't locate checkValidity method in formio-angular repo https://github.com/formio/angular.
Probably i'm referring  at other locations.

Please help,
Thanks

[2022-02-04 13:45] HTMLProgrammer2001 opened #855 "How to manually trigger value change in edit form of form builder"
Hi, i am using angular form builder for my app and i need change value of edit form in modal dialog dynamically. How can i do this?

![image](https://user-images.githubusercontent.com/55248791/152539054-53a94aa2-62c9-4fa3-b1bd-e5130b98d36e.png)

For example i want call some function `editFormUpdateValue({label: 'test'})` and after this value of "Label" in form and preview will be changed to "test"

[2022-02-08 08:00] devpoinyram commented on #352
any update on yhis isue?

[2022-02-08 08:01] devpoinyram commented on #352
@zardilior @akshayinnopix

[2022-02-08 08:17] devpoinyram commented on #352
@travist how can we achieve an active tab based on conditions using angular formio?

[2022-02-14 10:08] chintuyadavsara commented on #832
Try to reinstall @angular/elements of your respective angular version, it should work @ThakkarHardik @umeshp1212

[2022-02-18 17:17] fedesnieg commented on #847
Any workarounds?

[2022-02-18 17:17] fedesnieg commented on #848
Any workarounds?

[2022-02-24 08:38] sudheerReddy9047 opened #859 "Unable to drag and drop fields to configure a form."
Iam unable to drag and drop fields to configure a form. Also unable to edit already configured forms.
version : "angular-formio": "4.12.0" Iam using the same version for the past 10 months. But now iam not able to use this. Anyone else is facing the issue.

![image](https://user-images.githubusercontent.com/74598443/155489150-b7c9ad15-7daf-4490-aae9-5e9291e64ac3.png)

Getting these console errors

[2022-02-24 09:29] #859 closed

[2022-02-25 12:26] rubandangol opened #860 "[BUG] checkValidity() not validating required fields"
checkValidity() isn't working anymore. We depend on this to manipulate data and validate it. It was working fine when I first implemented it a while back and I just realized that there are a bunch of invalid data going through because the checkValidity function has only been returning true for a while now. I am also calling the setPristine function before checkValidity. This is a massive issue, pl

[2022-02-26 10:49] #810 closed

[2022-02-27 19:52] sefini opened #861 "Current NPM version"
hi,

Is the npm version no longer updated?  I see 4.11.5 on [NPM](https://www.npmjs.com/package/angular-formio).  But see v5.2.2 on the [github tag page](https://github.com/formio/angular/tags).

thank you.

[2022-03-03 06:56] AliZain036 opened #863 "[Question] I have embedded form-builder in my angular project. Do I have to purchase it or something to utilize all its functionality or what? Please refer to the attached screensot."
![image](https://user-images.githubusercontent.com/45128768/156512686-50df210d-eb45-4544-8bf5-b7b13e0a3173.png)

[2022-03-04 18:13] Amir-MP opened #864 "[Question] [options]="options" not working on <formio-grid>"
hi , i used i18n to translate , i can use my option.ts that contain my translate in <formio> </formio> , but i cant use it on <formio-grid>
, <formio-grid
  *ngIf="auth.authenticated"
  [formio]="service.formio"
  [gridType]="'form'"
  [query]="{ tags: config.tag, type: 'form' }"
  (rowAction)="onAction($event)"
  (rowSelect)="onSelect($event)"
  [createText]="'Create form'"
  (createItem)="onCrea

[2022-03-14 08:29] reshiin opened #865 "Set form as invalid from the custom component"
Hi! I just want to ask if its possible to set the form as invalid from the custom component itself.
I have created a validation inside my custom component, if that validation fails I want to disable the submit button and tag the form as invalid programmatically inside the custom component.

Hoping for your kind assistance on this. Thanks!

[2022-03-16 06:47] chintuyadavsara opened #866 "How to hide/disable searchbar in sidebar formbuilder?"

[2022-03-16 06:47] chintuyadavsara commented on #866
@travist Please help

[2022-03-16 07:01] chintuyadavsara opened #867 "How to remove delete option for default submit button in angular formio?"

[2022-03-16 07:28] chintuyadavsara opened #868 "Using search bar for components stops the ability to select different tabs on the builder palette"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [x] Local deployment
    - Version: Angular 10
- Formio.js version: 4.11.5
- Frontend framework: Angular with Bootstrap
- Browser: Google Chrome
- Browser version: 99.

## Observed Issue
1. Using search bar for components stops the ability to select different tabs on the builder palette
2. Unable to selec

[2022-03-16 07:29] chintuyadavsara commented on #868
Same kind of issue observed in `formiojs` as well
https://github.com/formio/formio.js/issues/3893

[2022-03-17 19:25] wag110894 commented on #868
Hello @chintuyadavsara,

We are not able to replicate this issue using Formio.js 4.14.1. Can you try upgrading and see if the issue still exists?

Thank you.

[2022-03-17 19:42] wag110894 commented on #747
Hello @michealharrington, are you still experiencing this issue? If so,  can you try upgrading to the latest version of angular and see if you can still replicate the issue? The latest version of Angular is 5.2.2

[2022-03-17 19:44] wag110894 commented on #755
Hello @blackbaud-RickSchnitzler, are you still able to replicate this issue on your side? If so, can you try testing against the latest version of Angular (5.2.2)?

Thank you.

[2022-03-17 19:44] #755 closed

[2022-03-17 19:46] wag110894 commented on #759
Hello @StefanRupertsberger, are you still experiencing this issue? If so, then can you try upgrading to Angular 5.2.2?

Thank you.

[2022-03-17 19:46] #759 closed

[2022-03-17 20:36] blackbaud-RickSchnitzler commented on #755
Yes. I just updated from angular-formio:4.12.0 to @formio/angular 5.2.2 and formiojs:4.14.0 to formiojs:4.14.3.
I now see
  Canadian Charity Number: null
I haven't tried anything but the ng-show and haven't tried other.
Inspecting shows.
<div>Canadian Charity Number:  null</div>

[2022-03-18 15:04] michealharrington commented on #747
My co-worker recently went through an updated all our formio versions and everything seems to be working now. We are running 5.2.2 now.

[2022-03-18 15:04] #747 closed

[2022-03-18 22:43] Amir-MP commented on #866
u can use css , in styles.css use this code

.builder-sidebar_search {
  display: none;
}

[2022-03-22 04:52] jprashant28 opened #869 "Custom Component extending Well Component - not showing Drop Zone"
I am trying to create a custom nested component - so that I can change the way the children component are rendered.  So I started off by extending a Well Component since it has the simplest Edit Form.  While I am able to drag my custom component onto the Form, I am unable to get a drop zone for it - and thus am unable to add children components to it (like buttons etc.).

What am I missing?

[2022-03-23 10:12] sudheerReddy9047 commented on #637
@Kadhiresan-K can you please share the code snippet you used to achieve the column level filter in table.

[2022-03-25 05:57] sudheerReddy9047 commented on #637
@travist can you help to implement filter for data grid based on the value of the 1st component inside data grid ?

[2022-03-27 08:33] sudheerReddy9047 opened #871 "Hide and show of row groups is not working in Datagrid."
## Environment
Please provide as many details as you can:

- Hosting type
  -  Form.io

- Formio.js version: 4.13.1
- Frontend framework: Angular 11
- Browser: Chrome
- Browser version: 99.0.4844.82

## Steps to Reproduce
1. Drag and drop a data grid component.
2. Enable row grouping and groups with row number to it. Enable **Hide Group on Header Click**.
3. Drag and drop components inside data gr

[2022-04-07 07:15] paulmartinjoy opened #874 "Is it possible to trigger an event when a form field value in formio form changes?"
### Discussed in https://github.com/formio/angular/discussions/873

<div type='discussions-op-text'>

<sup>Originally posted by **paulmartinjoy** April  7, 2022</sup>
I am using formio angular to render a simple form. The form has a birthday field and when initialized, it has a default value and if it is changed, is it possible to emit an event if the default value has been changed once the focus

[2022-04-14 06:06] ajaykumarsana commented on #434
@merobal
`this.formioEvent.emit({ eventName: 'viewer', data: { url: 'assets/docs/a.pdf' } });`

this event is not getting catch in CustomEvent method
`<formio [form]='formSrc' [submission]='model' [options]='options' (customEvent)="customEvent($event)" ></formio>`

Please help.
Thanks a Lot.

[2022-04-14 08:45] smshafa opened #877 "[BUG] The CustomTagsService is not exported."
## Environment

- Hosting type
  - [x] Local deployment
- Version:
  - Formio.js version: ^4.13.8.
  - Frontend framework: Angular ~12.2.16.
  - Browsers: Edge, Chrome, and Firefox.
  - Browser versions: The last versions.

## Steps to Reproduce
1. Create a new component based on the `FormBuilderComponent`.
[code]
2. Try to import `CustomTagsService` reference in the import section. It can be adde

[2022-04-14 18:53] dharaneshbestha commented on #566
Hello, would you be able to explain your solution, I am stuck at this same point, I need to hide few properties from the modal.

Thanks in advance.

[2022-04-20 21:17] travist commented on #874
You need to first get the "formio" instance from the angular component like seen here.

https://gist.github.com/travist/e639060968a6ec984b38a49c3753043f

And then add the following.

[code]

[2022-04-20 21:17] #874 closed

[2022-04-26 10:11] #855 closed

[2022-04-27 20:45] travist commented on #434
You would emit a custom event by first getting the Form.io renderer instance from the Angular controller like so.

https://gist.github.com/travist/e639060968a6ec984b38a49c3753043f

Then, you can do the following in the callback.

[code]

[2022-04-27 20:47] travist commented on #877
If you please provide a pull request with your suggested fix, I will be sure to include it in the next build.  Thanks.

[2022-05-03 11:53] horelvis commented on #832
I has installed  @angular/elements but getting other errors!

[code]

[2022-05-22 12:22] smshafa commented on #877
I created a pull request for this issue:

#879

FYI: @travist

[2022-05-24 10:07] otebos opened #881 "[BUG] Options support in @formio/angular"
## Environment
This issue regards the formBuilder in @formio/angular 5.2.2 and is not observed in angular-formio 4.11.5
When I pass options in angular-formio version, it works.
When I pass options in @formio/angular version, typescript screams about FormioOptions properties.
When I changed FormBuilderComponent.options from
`options?: FormioOptions;`
to
`options?: any;`
There is no error but still

[2022-06-01 11:18] SusanneOlsenTrifork commented on #505
Hey,
Just tried to upgrade to Angular 12, and we're now forced to use Ivy.... How far is the implementation of Ivy support @travist ?

When building our project we receive errors like:
[code]

Though the application builds and is able to run.
Besides these errors we are experiencing problems with emitting updated data through the FormioBaseComponent.refresh event.

[2022-06-19 20:15] malcolmswaine opened #886 "[BUG] No projects support the 'serve' target"
## No projects support the 'serve' target.
Please provide as many details as you can:

Angular CLI: 13.2.4
Node: 16.15.1
Package Manager: npm 8.11.0
OS: win32 x64

Angular: 13.2.3
... animations, common, compiler, compiler-cli, core, elements
... forms, platform-browser, platform-browser-dynamic, router

Package                         Version
------------------------------------------------------

[2022-06-22 01:20] Seonho08 opened #887 "[Custom Components] multiple values field functionality is not working in custom components"
I've created a well custom component, I want to have an Add Another button (i.e. multiple values field) to have duplicate well container. But multiple values are only working on Input fields only not on nested components.

Is there any solution for

![Capture](https://user-images.githubusercontent.com/107968897/174922981-e288193e-dd14-4be3-9058-b2ba1e55cca7.PNG)

[2022-06-23 08:37] NiteshSukalikar commented on #832
node --version
v16.15.1

npm --version
6.14.12

Angular CLI :~14.0.2

getting this issue Error: The target entry-point "angular-formio" has missing dependencies:
 - @angular/elements

[2022-06-30 02:45] Seonho08 commented on #625
@Dheeraj-Bharti Have you find solution to this, I too need to have drop zone for my custom component

[2022-07-01 14:56] wag110894 commented on #213
Hello @barwalgayatri,

Thanks for reaching out. Our PDF functionality is only available on our Commerical Application. Please contact sale@form.io if you are interested in getting our PDF functionality.

[2022-07-01 14:56] #213 closed

[2022-07-03 09:32] aleksf0 commented on #723
This has probably been already fixed... Looking at [header.ejs](https://github.com/formio/formio.js/blob/master/src/components/editgrid/templates/header.ejs) I can see the following default header template, which translates the header properly for me:
`
<div class="row">
  {% ctx.util.eachComponent(ctx.components, function(component) { %}
    {% if (!component.hasOwnProperty('tableView') || compon

[2022-07-04 03:18] barwalgayatri opened #889 "After Buying Licence for PDF , where can i get Technical Support"
Hi Team,

           We are using FOrm/ Wizard diplay in our project, we have alreadey contacted Sales team for the Licence details. but technically we want to know what all **Additional** changes w.r.t PDF js integration we have to make  so that PDF will start working at our end.

your urgent reply will be highly apprciated.

[2022-07-05 03:14] echo-liang commented on #481
Any update on the enhancement for this request?? I'm looking for the same feature in datagrid.

[2022-07-12 10:33] manoj5638 commented on #168
Hello!

I also have a problem with number fields in rendering form.
If I choose a default value for a number field, it is coming with 0 implicit, which is okay. But, if I just removed everything in the field that I already entered, in the background, that specific property is getting removed from the data object in the (change) event.
Can I atleast change that value to 0, if there is nothing in th

[2022-07-15 10:23] nerd00f commented on #887
I didn't understand your problem

[2022-07-15 10:30] nerd00f commented on #886
Are you using the most recent angular cli version?

[2022-07-18 09:50] Seonho08 commented on #887
I was trying to create a custom component that behaves like a container component, but also needs to have Add Another button(i.e. Multiple Value functionality), which can give me duplicate containers when I clicked on it. Is there any way to achieve it?

Right now for container component, there is no Multiple Value field

[2022-07-25 11:55] sudheerReddy9047 opened #893 "Is there any way to add custom util functions to form io ?"

[2022-07-27 08:40] ecvelayo commented on #848
any workarounds?

[2022-07-27 08:41] ecvelayo commented on #812
any workarounds?

[2022-07-27 21:00] enumahin commented on #812
Yes, I came across a workaround for this.

[2022-07-27 21:39] ecvelayo commented on #812
Could you share it here @enumahin ?

[2022-07-27 22:08] enumahin commented on #812
#### Component
  @ViewChild('json') jsonElement?: ElementRef | any;
  @ViewChild('formio') formio:any;
  public form: any = {
    components: [

    ]
  };

  constructor() {
  }

  ngOnInit(): void {

  }

  saveForm(){
    this.jsonElement.nativeElement.innerHTML = '';
    this.jsonElement.nativeElement.appendChild(document.createTextNode(JSON.stringify(this.formio.form, null, 4)));

    const j

[2022-07-27 22:08] enumahin commented on #812
#### Component
  @ViewChild('json') jsonElement?: ElementRef | any;
  @ViewChild('formio') formio:any;
  public form: any = {
    components: [

    ]
  };

  constructor() {
  }

  ngOnInit(): void {

  }

  saveForm(){
    this.jsonElement.nativeElement.innerHTML = '';
    this.jsonElement.nativeElement.appendChild(document.createTextNode(JSON.stringify(this.formio.form, null, 4)));

    const j

[2022-07-27 22:10] enumahin commented on #812
HTML

`<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form-builder style="color: #000; background-color: #0d101b" [form]="form" #formio></form-builder>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-10 offset-sm-2">
      <button (click)="saveForm()" class="btn btn-primary">Save Form</button>
    </div>
  </div>
  <div class="well jsonviewer

[2022-07-28 05:39] #893 closed

[2022-08-01 19:10] henriquesoareslima commented on #855
Hi @HTMLProgrammer2001, do you know how call some function editFormUpdateValue and refresh preview??

[2022-08-08 18:51] Mimisss opened #899 "Error loading the Data Table wiki page"
When trying to navigate to https://github.com/formio/angular-formio/wiki/Data-Table I get the following message:

`You do not have permission to update this wiki.`

The long story is, I have been following your Application Development instructions (Angular): https://help.form.io/intro/application and I am trying to find documentation on how to translate the data table elements (pager etc) and add

[2022-08-09 10:35] Mimisss commented on #899
Maybe the following page should be the target of the broken link?

https://github.com/formio/angular/wiki/Submission-Table

[2022-08-11 14:30] miguel-coppiloto commented on #758
Same problem. Downgrading to node 14.17.3 compile without problem.

Angular CLI: 14.1.0
Node: 14.17.3
Package Manager: npm 6.14.13
OS: darwin x64

[2022-08-16 18:07] javierel7 opened #900 "[BUG] File component, drop or browse space dissapear when error alert is shown"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: 5.2.2
- Frontend framework: Angular 13.3.6
- Browser: Chrome / Mozilla Firefox
- Browser version: any

## Steps to Reproduce
1. Use a File component in any form on Formio Builder
2. Capture file size limit and extension application/pdf (per example)

[2022-08-16 21:42] wag110894 commented on #900
Hello @javierel7, We are aware of this issue and are currently working on fixing this.
Ticket Number is FIO-4603. We will let you know once this is released.

[2022-08-17 17:40] Alexa-Green commented on #402
@nawazsktekopt @kamel-msaoubi This is happening to me as well-- what ended up fixing it?

[2022-08-17 17:41] Benzer1406 commented on #402
Same issue happening here.

[2022-08-18 17:19] jarednlivingston commented on #344
For any who might be use custom JS in the Form Module, here is what the JSON needs to look like. The setting goes in the first "builder" node, not the second "builder" node.

{
  "options": {
    "builder": {
        "noDefaultSubmitButton": true,
      "builder": {
        "resource": false,
        "advanced": false,
        "premium": false,
        "data": false,
        "layout": false

[2022-08-25 21:11] jmast02 commented on #542
@wag110894 @MiguiTE

Hey, I was also looking to incorporate something similar. I was wondering if this has been resolved, or feature has been added?

[2022-08-26 17:07] Alexa-Green commented on #402
@nawaz7777 Thank you-- seems to be a few issues happening due to rendering/initialization that tend to be fixed with a manual rerender of form.io-- would be ideal if form.io waits to be fully initialized or could rerender itself on these bugs

[2022-09-05 13:54] MaxPrimeAERY opened #903 "Load and Save forms example in Angular [Question]"
Hello! Can you provide an example how can I save and load forms in Angular ?

[2022-09-16 16:22] pmatulionis opened #907 "[Question] looping through submission data in HTML Element"
Is it possible to loop through the submission data in formio HTML Element? I have a wizard type form and 6 pages in it with various form components. At the last page I am trying to do a preview page of the entire form, but just in HTML. So in that last page I added an HTML Element component, for e.g.:

[code]

These works fine and replaces template elements with the actual values from submission d

[2022-09-20 02:59] msrmsr621 commented on #355
@kkhanhluu did you solve it, please help me?

[2022-09-21 15:56] javierel7 commented on #900
Fixed version released! Thnx

[2022-09-21 15:56] #900 closed

[2022-09-27 13:12] pmatulionis commented on #497
If this is still an issue for someone, I found a solution that works with "@formio/angular": "5.3.0"
You have to translate all three parts separately in your translation JSON, for e.g.:

[code]
then provide that translation for your renderer or builder:

[code]
and it translates nicely:
![image](https://user-images.githubusercontent.com/6089316/192534505-a1613c93-a499-4840-8b76-13843635511d.png)

[2022-09-29 09:04] Mimisss opened #908 "[BUG] Select Component breaks when Value Property is set to Entire Object"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
- Formio.js version: 4.14.8
- Frontend framework: Angular 14.0.0
- Browser: Google Chrome
- Browser version: 105.0.5195.127 (Official Build) (64-bit)

## Steps to Reproduce

1.  Follow and complete the [Application Development Guide](https://help.form.io/intro/application).
2. Edit `register.module.ts` to **r

[2022-09-29 14:03] mcsarathkumar opened #909 "[BUG] DataGrid component shoots up CPU consumption and page slows down after 30 rows"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version: 5.2.0
- Formio.js version: 4.13.9
- Frontend framework: Angular
- Browser: Chrome
- Browser version: 105.0.5195.125

## Steps to Reproduce
1. Create DataGrid Component with 10 columns (Mix of Text fields, date, Checkbox, numberfield)
2. Create 30 rows and above and fill

[2022-10-02 18:02] MaxPrimeAERY opened #910 "[Question] How to setPage in Angular ?"
Hello @travist

How can I setPage by clicking submit button ?
I was tryng to use **_instance.root.setPage(2)_** as custom button settings but it doesn't work for me.
If what I saw only javascript examples but no angular.

This my builder and render forms.

[code]
options.ts
[code]

builder.component.ts
[code]

[2022-10-03 10:46] MaxPrimeAERY commented on #910
I will answer for my own.
You have to set action to custom in button settings and wirite the following: **_form.root.setPage(1)_** - for page 2
And **_form.root.setPage(0)_** - for page 1

[2022-10-03 10:46] #910 closed

[2022-10-03 19:06] Chris-Grell opened #911 "Is it possible to change the theme on a panel live?"
I have a custom panel component and was wondering if it were possible to set the theme in the schema() to a method that would return specific themes.

Thanks

[2022-10-11 18:58] mohammadaaqib opened #912 "[Question] Unable to use custom date format(dd-MM-yyyy) for component date"
I am using angular formio 4.11.5 with this version everything looks good except the date picker with the custom date (dd-MM-yyyy), but it is working fine with the default format (yyyy-MM-dd)

 this issue is seemed fix with formiojs https://github.com/formio/formio.js/issues/4094 but I think  angular formio is not updated.

[2022-10-25 13:09] Mimisss opened #914 "[BUG] Data table column sorting is broken"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: 4.12.4
- Frontend framework: Angular 11.0.5
- Browser: Chrome
- Browser version: 106.0.5249.119 (Official Build) (64-bit)

## Steps to Reproduce
1. Navigate to http://localhost:4200/#/data
2. Click on a column header; sorting works
3. Click on anoth

[2022-10-25 13:13] Mimisss commented on #914
The bug can be fixed by overriding the `sortColumn` function:

[code]

The header template can by fixed to show sorting icons by replacing `glyphicons` with `font-awesome`:

[code]

Hope it helps.

[2022-10-25 22:23] Arlen22 opened #915 "[BUG] Readme walkthrough broken"
## Environment

[code]

## Steps to Reproduce
1. `ng new testProject` (with routing and css)
2. `cd testProject`
3. `npm install --save @formio/angular formiojs` (from the readme)

## Observed behavior
[code]
[2022-10-25T22_24_12_640Z-debug-0.log](https://github.com/formio/angular/files/9864421/2022-10-25T22_24_12_640Z-debug-0.log)

[2022-10-25 23:15] Arlen22 commented on #915
I was able to solve this by replacing the string `^14.1.0` with `14.2.7` and then setting the version for `ng-packagr` to `14.2.2`.

[2022-11-02 15:38] govindivya opened #916 "Hello everyone. I am implementing formio form-builder in angular and I want to detect when any component is added to form-builder but addComponent event is not working. Even I am not sure how to use addComponent event in angular. Please help me"

[2022-11-03 09:04] gitmiro commented on #799
@SGhantous

We've got the same issue. Memory-usage is stacking up to the skies. Have you found a solution for your use case?

[2022-11-22 15:39] michealharrington commented on #861
This is the NPM I use:
https://www.npmjs.com/package/@formio/angular

[2022-11-26 11:43] Arlen22 commented on #915
I ended up using primefaces instead. There were so many different quirks that I kept running into and then I found a guide on Angular.io for making dynamic forms, which worked a lot better.